{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-lock"></i>&nbsp;
        {% trans from "club" %}FORM.CONNECTING.TITLE{% endtrans %}
    </h2>
    <p>{% trans from "club" %}FORM.CONNECTING.PROMPT{% endtrans %}</p>
    <div class="row">
        <div class="col-sm-6">
            <p>{{ 'FORM.CONNECTING.TEXT' | trans({'%service%': service | trans({}, 'HWIOAuthBunle'), '%name%': userInformation.realName}, 'club') }}</p>
            <p>
                <form action="{{ path('hwi_oauth_connect_service', {'service': service, 'key': key}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                    {{ form_widget(form) }}
                    <div>
                        <button type="submit" class="btn btn-primary">{{ 'FORM.CONNECTING.SUBMIT' | trans({}, 'club') }}</button>
                        <a href="{{ path('hwi_oauth_connect') }}" class="btn">{{ 'FORM.CONNECTING.CANCEL' | trans({}, 'club') }}</a>
                    </div>
                </form>
            </p>
        </div>
        <div class="col-sm-6">
            {% if userInformation.profilePicture is defined and userInformation.profilePicture is not empty %}
                <img src="{{ userInformation.profilePicture }}" />
            {% endif %}
        </div>
    </div>
{% endblock hwi_oauth_content %}
