{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "admin" %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-cogs"></i>&nbsp;
        {{ ['FORM.MATCH.TITLE.',action]|join|upper|trans }}
    </h2>
    <p>{{ ['FORM.MATCH.PROMPT.',action]|join|upper|trans }}</p>
<div class="panel panel-default">
    <div class="panel-body">
        <p>{{ match.matchno }} -
           {{ 'FORMAT.LONGDATE'|transchoice(schedule|date('j'), {
                            '%week%': ['WEEK.',schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                            '%day%': schedule|date('j'),
                            '%month%': ['MONTH.',schedule|date('M')|upper]|join|trans([],'messages'),
                            '%year%': schedule|date('Y')}, 'messages') }} -
           {{ schedule|date('FORMAT.TIME'|trans([],'messages')) }} - 
           {{ playground.name }}</p>
        {{ form(form) }}
    </div>
</div>
{% endblock %}