{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "admin" %}

{% import 'ICupPublicSiteBundle:Masters:club.html.twig' as formatter %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-cogs"></i>&nbsp;
        {{ ['FORM.MATCH.TITLE.',action]|join|upper|trans }}
    </h2>
    <p>{{ ['FORM.MATCH.PROMPT.',action]|join|upper|trans }}</p>
    <div class="panel panel-default">
        <div class="panel-body lead">
            <div class="row">
                <div class="col-lg-9">
                    {{ tournament.name }}<br />
                    {% trans from 'tournament' %}GROUP{% endtrans %} {{ group.name }} -
                    {{ ['GROUPCLASS.',group.classification]|join|trans({}, 'tournament') }} -
                    {{ category.matchtime }} {% trans from 'tournament' %}MINUTES{% endtrans %}
                </div>
                <div class="col-lg-3">
                    <a href="{{ path('_showcategory', { 'categoryid': category.id }) }}">
                        {% trans from 'tournament' %}CATEGORY{% endtrans %} {{ category.name }}
                    </a><br />
                    {{ ['GENDER.',
                    category.gender,
                    category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
                </div>
            </div>
        {% if teamA is defined and teamA and teamB is defined and teamB %}
            <div class="row">
                <div class="col-lg-3">
                    {{ formatter.clubspan(teamA, group.id, _context) }}
                </div>
                <div class="col-lg-3">
                    {{ formatter.clubspan(teamB, group.id, _context) }}
                </div>
            {% if action == 'chg' %}
                <div class="col-lg-6">
                {% if teamA.rank is defined and teamB.rank is defined  %}
                    <a href="{{ path('_edit_qmatchrel_chg', { 'matchid': match.id }) }}" class="btn btn-default" role="button">{% trans %}FORM.MATCH.QDETAILS{% endtrans %}</a>
                    &nbsp;<a href="{{ path('_edit_matchrel_upd', { 'matchid': match.id }) }}" class="btn btn-default" role="button">{% trans %}FORM.MATCH.DETAILS{% endtrans %}</a>
                {% else %}
                    <a href="{{ path('_edit_matchrel_chg', { 'matchid': match.id }) }}" class="btn btn-default" role="button">{% trans %}FORM.MATCH.DETAILS{% endtrans %}</a>
                {% endif %}
                </div>
            {% endif %}
            </div>
        {% else %}
            {% if action == 'chg' %}
            <div class="row">
                <div class="col-lg-6">
                {% if group.classification > 0 %}
                    <a href="{{ path('_edit_qmatchrel_chg', { 'matchid': match.id }) }}" class="btn btn-default" role="button">{% trans %}FORM.MATCH.QDETAILS{% endtrans %}</a>&nbsp;
                {% endif %}
                    <a href="{{ path('_edit_matchrel_chg', { 'matchid': match.id }) }}" class="btn btn-default" role="button">{% trans %}FORM.MATCH.DETAILS{% endtrans %}</a>
                </div>
            </div>
            {% endif %}
        {% endif %}
        </div>
        <div class="panel-body">
        {{ form(form) }}
        </div>
    </div>
{% endblock %}