{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<h1>{% trans %}FORM.ADMIN{% endtrans %}</h1>
<p class="subtitle">{% trans %}FORM.LISTEDITORS.TITLE{% endtrans %}</p>
<p class="subtitle">
<a href="{{ path('_edit_host_list') }}">{{ host.name }}</a>
</p>
<table>
    <caption>{% trans %}FORM.LISTEDITORS.CAPTION{% endtrans %}</caption>
    <thead>
        <tr>
            <td></td>
            <td class="role"></td>
            <td class="operand"></td>
            <td class="operand"></td>
            <td class="operand"></td>
            <td class="operand"></td>
        </tr>
    </thead>
    <tboby>
{% if users|length > 0 %}
    {% for user in users %}
        <tr class="{{ cycle(['even','odd'],loop.index) }}">
            <td class="user">
        {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('_user_my_page', {'_switch_user': user.username }) }}">
                {{ user.name|upper }}
                </a>    
        {% else %}
                {{ user.name|upper }}
        {% endif %}
            </td>
            <td class="role">
    {% if user.role == 3 %}
                {{ 'FORM.MYPAGE.EDITOR'|trans({},'club') }}
    {% else %}
                {{ 'FORM.MYPAGE.EDITOR_ADMIN'|trans({},'club') }}
    {% endif %}
            </td>
            <td class="operand">
                <a href="{{ path('_edit_user_add_host', { 'hostid': host.id }) }}">
                +
                </a>    
            </td>
            <td class="operand">
                <a href="{{ path('_edit_user_chg', { 'userid': user.id }) }}">
                E
                </a>    
            </td>
            <td class="operand">
                <a href="{{ path('_edit_user_del', { 'userid': user.id }) }}">
                -
                </a>    
            </td>
            <td class="operand">
                <a href="{{ path('_edit_user_chg_pass', { 'userid': user.id }) }}">
                P
                </a>    
            </td>
        </tr>
    {% endfor %}
{% else %}
        <tr class="odd">
            <td class="user">
                <a href="{{ path('_edit_user_add_host', { 'hostid': host.id }) }}">
                {{'FORM.LISTEDITORS.NOUSER'|trans|upper}}
                </a>    
            </td>
            <td class="operand">
                <a href="{{ path('_edit_user_add_host', { 'hostid': host.id }) }}">
                +
                </a>    
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
{% endif %}
    </tboby>
    <tfoot>
        <tr>
            <td colspan="6"></td>
        </tr>
    </tfoot>
</table>
{% endblock %}