{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-cogs"></i>&nbsp;
        {% trans %}FORM.LISTHOSTS.TITLE{% endtrans %}
    </h2>
    <p>{% trans %}FORM.LISTHOSTS.CAPTION_TMNT{% endtrans %}</p>
<div class="panel panel-default">
    <div class="panel-body lead">
        {{ host.name|upper }}
    </div>
    <table class="table table-striped">
        <tbody>
{% if tournaments|length > 0 %}
    {% for tournament in tournaments %}
            <tr>
                <td>
                    <a href="{{ path('_edit_tournament_chg', { 'tournamentid': tournament.id }) }}">
                    {{ tournament.name }}
                    </a>
                </td>
                <td></td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_tournament_add', { 'hostid': host.id }) }}">
                        <span class="glyphicon glyphicon-file" title="{% trans %}FORM.TOURNAMENT.TITLE.ADD{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_tournament_chg', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-edit" title="{% trans %}FORM.TOURNAMENT.TITLE.CHG{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_tournament_del', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-remove" title="{% trans %}FORM.TOURNAMENT.TITLE.DEL{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_site_list', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-tower" title="{% trans %}FORM.LISTTOURNAMENTS.CAPTION{% endtrans %}"></span>
                    </a>
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_category_list', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-tags" title="{% trans %}FORM.LISTCATEGORIES.CAPTION{% endtrans %}"></span>
                    </a>
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_host_list_clubs', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-flag" title="{% trans %}FORM.LISTCLUBS.TITLE{% endtrans %}"></span>
                    </a>
                </td>
            </tr>
    {% endfor %}
{% else %}
            <tr>
                <td><a href="{{ path('_edit_tournament_add', { 'hostid': host.id }) }}">{{'FORM.LISTHOSTS.NOTOURNAMENT'|trans|upper}}</a></td>
                <td></td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_tournament_add', { 'hostid': host.id }) }}">
                        <span class="glyphicon glyphicon-file" title="{% trans %}FORM.TOURNAMENT.TITLE.ADD{% endtrans %}"></span>
                    </a>    
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
{% endif %}
        </tbody>
    </table>
</div>
{% endblock %}