{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<div class="panel panel-success">
    <div class="panel-heading"><b>{{ 'FORM.LISTHOSTS.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        {{ host.name|upper }}<br />
        {% trans %}FORM.LISTHOSTS.CAPTION_TNMT{% endtrans %}
    </div>
    <table class="table table-striped">
        <tboby>
{% if tournaments|length > 0 %}
    {% for tournament in tournaments %}
            <tr>
                <td>
                    <a href="{{ path('_edit_tournament_chg', { 'tournamentid': tournament.id }) }}">
                    {{ tournament.name }}
                    </a>
                </td>
                <td></td>
                <td class="operand">
                    <a href="{{ path('_edit_tournament_add', { 'hostid': host.id }) }}">
                    +
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_tournament_chg', { 'tournamentid': tournament.id }) }}">
                    E
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_tournament_del', { 'tournamentid': tournament.id }) }}">
                    -
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_site_list', { 'tournamentid': tournament.id }) }}">
                    P
                    </a>
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_category_list', { 'tournamentid': tournament.id }) }}">
                    C
                    </a>
                </td>
                <td class="operand">
                    <a href="{{ path('_host_list_clubs', { 'tournamentid': tournament.id }) }}">
                    T
                    </a>
                </td>
            </tr>
    {% endfor %}
{% else %}
            <tr>
                <td><a href="{{ path('_edit_tournament_add', { 'hostid': host.id }) }}">{{'FORM.LISTHOSTS.NOTOURNAMENT'|trans|upper}}</a></td>
                <td></td>
                <td class="operand">
                    <a href="{{ path('_edit_tournament_add', { 'hostid': host.id }) }}">
                    +
                    </a>    
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
{% endif %}
        </tboby>
    </table>
</div>
{% endblock %}