{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-cogs"></i>&nbsp;
        {% trans %}FORM.LISTCLUBS.TITLE{% endtrans %}
    </h2>
    <p></p>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-7 lead">
                <a href="{{ path('_edit_tournamentboard', { 'tournamentid': tournament.id }) }}">
                    {{ host.name|upper }}
                </a><br />
                {{ tournament.name }}
            </div>
            <div class="col-lg-5 lead">
                <a href="{{ path('_host_club_new', {'tournamentid': tournament.id }) }}" class="btn btn-info">
                    {% trans %}FORM.CLUB.TITLE.ADD{% endtrans %}
                </a>
                <a href="{{ path('_edit_import_team', {'tournamentid': tournament.id }) }}" class="btn btn-info">
                    {% trans %}FORM.TEAMIMPORT.TITLE{% endtrans %}
                </a>
{% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('_admin_wipe_teams', {'tournamentid': tournament.id }) }}" class="btn btn-danger">
                    {% trans %}FORM.LISTCLUBS.BUTTON.WIPE{% endtrans %}
                </a>
{% endif %}    
            </div>
        </div>
{% if teams|length > 0 %}
        <p></p>
        <div class="row">
{% for column in teams %}
            <div class="col-sm-6">
    {% for countrylist in column %}
    {% for country,teamlist in countrylist %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img src="{{ asset(['bundles/icuppublicsite/images/flags/',countries[country].flag]|join) }}"
                             alt="{{ country|trans({},'lang') }}"
                             title="{{ country|trans({},'lang') }}"
                             class="flag"
                        >
                        <b>{{ country|trans({},'lang') }}</b>
                    </div>
                    <table class="table table-striped">
            {% for id,clb in teamlist %}
                        <tr>
                            <td>
                                <a href="{{ path('_club_enroll_list_admin', { 'tournament': tournament.id, 'club': clb.club.id }) }}">{{ clb.club.name|upper }}</a>
                            </td>
                            <td class="narrow-col">
                {% if clb.enrolled > 0 %}
                                {{ clb.enrolled }}
                {% endif %}                
                            </td>
                            <td class="narrow-col">
                                <a href="{{ path('_club_enroll_list_admin', { 'tournament': tournament.id, 'club': clb.club.id }) }}">
                                    <span class="fa fa-list-alt"></span>
                                </a>    
                            </td>
                        </tr>
            {% endfor %}
                    </table>
                </div>
        {% endfor %}
        {% endfor %}
            </div>
    {% endfor %}
{% else %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'FORM.LISTCLUBS.NOCLUB'|trans|upper}}
                </div>
                <table class="table table-striped">
                    <tr>
                        <td>
                            <b><a href="{{ path('_host_club_new', {'tournamentid': tournament.id }) }}">{{'FORM.LISTCLUBS.NOCLUB'|trans|upper}}</a></b>
                        </td>
                        <td></td>
                        <td class="narrow-col">
                            <a href="{{ path('_host_club_new', {'tournamentid': tournament.id }) }}">
                                <span class="fa fa-file" title="{% trans %}FORM.CLUB.TITLE.ADD{% endtrans %}"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
{% endif %}
        </div>
    </div>
</div>
{% endblock %}