{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<div class="panel panel-success">
    <div class="panel-heading"><b>{{ 'FORM.LISTGROUPS.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        <a href="{{ path('_edit_host_list') }}">
            {{ host.name|upper }} - {{ tournament.name|upper }}
        </a>
        <a href="{{ path('_edit_category_list', {'tournamentid': tournament.id }) }}">
            {% trans from 'tournament' %}CATEGORY{% endtrans %} {{ category.name }}<br />
            {{ ['GENDER.',
                category.gender,
                category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
        </a>
    </div>
    <div style="float:left;margin-right: 5px;">
{% if grouplist|length > 0 %}
{% for group in grouplist %}
    {% if selectedgroup.id == group.group.id %}
        <table class="table table-striped">
            <caption>{% trans from 'tournament' %}GROUP{% endtrans %} {{ group.group.name }}</caption>
            <thead>
                <tr>
                    <td class="flag"></td>
                    <td class="team">{% trans from 'tournament' %}TEAM{% endtrans %}</td>
                </tr>
            </thead>
            <tboby>
        {% for team in group.teams %}
                <tr>
                    <td class="flag"><img src="{{ imagepath }}/flags/{{ countries[team.country].flag }}" alt="{{ team.country|trans({},'lang') }}" title="{{ team.country|trans({},'lang') }}"></td>
                    <td class="team"><a href="{{ path('_host_assign_del', { 'teamid': team.id, 'groupid': group.group.id }) }}">{{ team.name }}</a></td>
                </tr>
        {% endfor %}
            </tboby>
        </table>
    {% else %}
        <div class="caption">
            <a href="{{ path('_host_assign_select_group', { 'groupid': group.group.id }) }}">
                {% trans from 'tournament' %}GROUP{% endtrans %} {{ group.group.name }}
            </a>
        </div>
    {% endif %}
{% endfor %}
{% else %}
        <table class="table table-striped">
            <caption>{% trans %}FORM.LISTGROUPS.NOGROUP{% endtrans %}</caption>
            <thead>
                <tr>
                    <td class="flag"></td>
                    <td class="team">{% trans from 'tournament' %}TEAM{% endtrans %}</td>
                </tr>
            </thead>
            <tboby>
                <tr>
                    <td colspan="2">
                        <a href="{{ path('_edit_group_add', { 'categoryid': category.id }) }}">
                        {% trans %}FORM.LISTCATEGORIES.NOGROUP{% endtrans %}
                        </a>
                    </td>
                </tr>
            </tboby>
        </table>
{% endif %}
</div>
<div style="float:left;">
        <table class="table table-striped">
            <caption>{% trans %}FORM.LISTGROUPS.UNASSIGNED{% endtrans %}</caption>
            <thead>
                <tr>
                    <td class="flag"></td>
                    <td class="team">{% trans from 'tournament' %}TEAM{% endtrans %}</td>
                </tr>
            </thead>
            <tboby>
    {% for team in unassigned %}
                <tr>
                    <td class="flag"><img src="{{ imagepath }}/flags/{{ countries[team.country].flag }}" alt="{{ team.country|trans({},'lang') }}" title="{{ team.country|trans({},'lang') }}"></td>
                    <td class="team">
        {% if not selectedgroup is null %}
                        <a href="{{ path('_host_assign_add', { 'teamid': team.id, 'groupid': selectedgroup.id }) }}">{{ team.name }}</a>
        {% else %}
                        {{ team.name }}
        {% endif %}
                    </td>
                </tr>
    {% endfor %}
            </tboby>
        </table>
    </div>
    <div style="clear:both;"></div>
</div>
{% endblock %}