{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<div class="panel panel-success">
    <div class="panel-heading"><b>{{ 'FORM.LISTCATEGORIES.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        <a href="{{ path('_edit_host_list') }}">{{ host.name|upper }}</a><br />
        {{ tournament.name }}<br />
        {% trans %}FORM.LISTCATEGORIES.CAPTION{% endtrans %}
    </div>
    <table class="table table-striped">
        <tboby>
{% if categories|length > 0 %}
    {% for category in categories %}
            <tr>
                <td class="host_solo" colspan="2">
                    <a href="{{ path('_edit_category_chg', { 'categoryid': category.id }) }}">
                    {% trans from "tournament" %}CATEGORY{% endtrans %} {{ category.name|upper }} -
                    {{ ['GENDER.',
                        category.gender,
                        category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_category_add', { 'tournamentid': tournament.id }) }}">
                    +
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_category_chg', { 'categoryid': category.id }) }}">
                    E
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_category_del', { 'categoryid': category.id }) }}">
                    -
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_host_list_groups', { 'categoryid': category.id }) }}">
                    A
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_import_match', { 'tournamentid': tournament.id }) }}">
                    M
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_import_qmatch', { 'tournamentid': tournament.id }) }}">
                    Q
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_import_match_unres', { 'tournamentid': tournament.id }) }}">
                    U
                    </a>    
                </td>
            </tr>
        {% if category.id in groups|keys %}
            {% for group in groups[category.id] %}
            <tr>
                <td class="indent"></td>
                <td><a href="{{ path('_edit_group_chg', { 'groupid': group.id }) }}">{% trans from "tournament" %}GROUP{% endtrans %} {{ group.name }}</a></td>
                <td class="operand">
                    <a href="{{ path('_edit_group_add', { 'categoryid': category.id }) }}">
                    +
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_group_chg', { 'groupid': group.id }) }}">
                    E
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_group_del', { 'groupid': group.id }) }}">
                    -
                    </a>    
                </td>
                <td class="operand"></td>
                <td class="operand">
                    <a href="{{ path('_edit_group_list_matches', { 'groupid': group.id }) }}">
                    M
                    </a>    
                </td>
                <td class="operand"></td>
                <td class="operand"></td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td></td>
                <td><a href="{{ path('_edit_group_add', { 'categoryid': category.id }) }}">{{'FORM.LISTCATEGORIES.NOGROUP'|trans|upper}}</a></td>
                <td class="operand">
                    <a href="{{ path('_edit_group_add', { 'categoryid': category.id }) }}">
                    +
                    </a>    
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
    {% endfor %}
{% else %}
            <tr>
                <td class="host_solo" colspan="2">
                    <a href="{{ path('_edit_category_add', { 'tournamentid': tournament.id }) }}">
                    {{'FORM.LISTCATEGORIES.NOCATEGORY'|trans|upper}}
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_category_add', { 'tournamentid': tournament.id }) }}">
                    +
                    </a>    
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
{% endif %}
        </tboby>
    </table>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('_admin_wipe_matches', {'tournamentid': tournament.id }) }}">W</a>
    &nbsp;
    <a href="{{ path('_admin_wipe_qmatches', {'tournamentid': tournament.id }) }}">Q</a>
{% endif %}    
</div>
{% endblock %}