{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-cogs"></i>&nbsp;
        {% trans %}FORM.LISTCATEGORIES.TITLE{% endtrans %}
    </h2>
    <p>{% trans %}FORM.LISTCATEGORIES.CAPTION{% endtrans %}</p>
<div class="panel panel-default">
    <div class="panel-body lead">
        <div class="col-lg-6">
        <a href="{{ path('_edit_tournamentboard', { 'tournamentid': tournament.id }) }}">{{ host.name|upper }}</a><br />
        {{ tournament.name }}
        </div>
        <div class="col-lg-6 text-right">
            <a href="{{ path('_edit_import_tournament', {'tournamentid': tournament.id, 'import': 'categories' }) }}" class="btn btn-info">
                {% trans %}FORM.TOURNAMENTIMPORT.CAPTION{% endtrans %}
            </a>
{% if is_granted('ROLE_ADMIN') and categories|length > 0 %}
            <a href="{{ path('_admin_wipe_matches', {'tournamentid': tournament.id }) }}" class="btn btn-danger">
                {% trans %}FORM.LISTCATEGORIES.BUTTON.WIPE{% endtrans %}
            </a>
            <a href="{{ path('_admin_wipe_qmatches', {'tournamentid': tournament.id }) }}" class="btn btn-danger">
                {% trans %}FORM.LISTCATEGORIES.BUTTON.QWIPE{% endtrans %}
            </a>
{% endif %}    
        </div>
    </div>
    <table class="table table-striped">
        <tbody>
{% if categories|length > 0 %}
    {% for category in categories %}
            <tr>
                <td class="lead" colspan="2">
                    <a href="{{ path('_edit_category_chg', { 'categoryid': category.id }) }}">
                    {% trans from "tournament" %}CATEGORY{% endtrans %} {{ category.name|upper }} -
                    {{ ['GENDER.',
                        category.gender,
                        category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_category_add', { 'tournamentid': tournament.id }) }}">
                        <span class="fa fa-file" title="{% trans %}FORM.CATEGORY.TITLE.ADD{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_category_chg', { 'categoryid': category.id }) }}">
                        <span class="fa fa-pencil" title="{% trans %}FORM.CATEGORY.TITLE.CHG{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_category_del', { 'categoryid': category.id }) }}">
                        <span class="fa fa-times" title="{% trans %}FORM.CATEGORY.TITLE.DEL{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_host_list_groups', { 'categoryid': category.id }) }}">
                        <span class="glyphicon glyphicon-tasks" title="{% trans %}FORM.LISTGROUPS.TITLE{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_import_match', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-download-alt" title="{% trans %}FORM.MATCHIMPORT.TITLE{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_import_qmatch', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-import" title="{% trans %}FORM.QMATCHIMPORT.TITLE{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_import_match_unres', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-download" title="{% trans %}FORM.MATCHIMPORTUNRES.TITLE{% endtrans %}"></span>
                    </a>    
                </td>
            </tr>
        {% if category.id in groups|keys %}
            {% for group in groups[category.id] %}
            <tr>
                <td class="narrow-col"></td>
                <td><a href="{{ path('_edit_group_chg', { 'groupid': group.id }) }}">{% trans from "tournament" %}GROUP{% endtrans %} {{ group.name }}</a></td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_group_add', { 'categoryid': category.id }) }}">
                        <span class="fa fa-file" title="{% trans %}FORM.GROUP.TITLE.ADD{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_group_chg', { 'groupid': group.id }) }}">
                        <span class="fa fa-pencil" title="{% trans %}FORM.GROUP.TITLE.CHG{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_group_del', { 'groupid': group.id }) }}">
                        <span class="fa fa-times" title="{% trans %}FORM.GROUP.TITLE.DEL{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="narrow-col"></td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_group_list_matches', { 'groupid': group.id }) }}">
                        <span class="glyphicon glyphicon-download-alt" title="{% trans %}FORM.LISTMATCHES.TITLE{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="narrow-col"></td>
                <td class="narrow-col"></td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td></td>
                <td><a href="{{ path('_edit_group_add', { 'categoryid': category.id }) }}">{{'FORM.LISTCATEGORIES.NOGROUP'|trans|upper}}</a></td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_group_add', { 'categoryid': category.id }) }}">
                        <span class="fa fa-file" title="{% trans %}FORM.GROUP.TITLE.ADD{% endtrans %}"></span>
                    </a>    
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
    {% endfor %}
{% else %}
            <tr>
                <td colspan="2">
                    <a href="{{ path('_edit_category_add', { 'tournamentid': tournament.id }) }}">
                    {{'FORM.LISTCATEGORIES.NOCATEGORY'|trans|upper}}
                    </a>    
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_category_add', { 'tournamentid': tournament.id }) }}">
                        <span class="fa fa-file" title="{% trans %}FORM.CATEGORY.TITLE.ADD{% endtrans %}"></span>
                    </a>    
                </td>
            </tr>
{% endif %}
        </tbody>
    </table>
</div>
{% endblock %}