{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<div class="panel panel-success">
    <div class="panel-heading"><b>{{ 'FORM.LISTEDITORS.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        <a href="{{ path('_edit_host_list') }}">
            {{ host.name|upper }}
        </a><br />
        {% trans %}FORM.LISTEDITORS.CAPTION{% endtrans %}
    </div>
    <table class="table table-striped">
        <tboby>
{% if users|length > 0 %}
    {% for user in users %}
            <tr>
                <td class="user">
        {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('_user_my_page', {'_switch_user': user.username }) }}">
                    {{ user.username|upper }}
                    </a>    
        {% else %}
            {% if user.id == currentuser.id %}
                    <b>{{ user.username|upper }}</b>
            {% else %}
                    {{ user.username|upper }}
            {% endif %}
        {% endif %}
                </td>
                <td class="user">
                    {{ user.name }}
                </td>
                <td class="role">
    {% if user.role == 3 %}
                    {{ 'FORM.MYPAGE.EDITOR'|trans({},'club') }}
    {% else %}
                    {{ 'FORM.MYPAGE.EDITOR_ADMIN'|trans({},'club') }}
    {% endif %}
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_user_add_host', { 'hostid': host.id }) }}">
                    +
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_user_chg', { 'userid': user.id }) }}">
                    E
                    </a>    
                </td>
                <td class="operand">
    {% if user.id != currentuser.id %}
                    <a href="{{ path('_edit_user_del', { 'userid': user.id }) }}">
                    -
                    </a>    
    {% endif %}
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_user_chg_pass', { 'userid': user.id }) }}">
                    P
                    </a>    
                </td>
            </tr>
    {% endfor %}
{% else %}
            <tr>
                <td class="user" colspan="2">
                    <a href="{{ path('_edit_user_add_host', { 'hostid': host.id }) }}">
                    {{'FORM.LISTEDITORS.NOUSER'|trans|upper}}
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_user_add_host', { 'hostid': host.id }) }}">
                    +
                    </a>    
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
{% endif %}
        </tboby>
    </table>
</div>
{% endblock %}