{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "tournament" %}

{% import _self as this %}
{% import 'ICupPublicSiteBundle:Masters:club.html.twig' as formatter %}

{% macro scoreinput(match, context) %}
                <td class="input-col text-nowrap">
    {% if match.rid != '' %}
                    <input type="text" name="score_{{ match.rid }}" size="1" value="{{ match.score }}" />
    {% else %}
                    ?
    {% endif %}
                </td>
{% endmacro %}

{% block adminbody %}
<p class="lead">
    {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}<br />
</p>
<p>
    <form action="{{ path('_edit_match_score_post') }}" method="post">
        <div class="panel panel-info">
            <div class="panel-heading">
                <b>{{ 'FORM.EDITRESULTS.TITLE'|trans|upper }}</b>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <select id="form_playground"  class="form-control">
                    {% for field in playgrounds %}
                            <option value="{{field.id}}"
                    {% if field.id == playground.id %}
                                    selected
                    {% endif %}
                                    >{{field.name}}</option>
                    {% endfor %}                
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select id="form_matchdate" class="form-control">
                    {% for mdate in dates %}
                            <option value="{{mdate|date('d-m-Y')}}"
                    {% if mdate == matchdate %}
                                    selected
                    {% endif %}
                                    >
                        {{ 'FORMAT.LONGDATE'|transchoice(mdate|date('j'), {
                            '%week%': ['WEEK.',mdate|date('D')|upper]|join|trans([],'messages')|capitalize,
                            '%day%': mdate|date('j'),
                            '%month%': ['MONTH.',mdate|date('M')|upper]|join|trans([],'messages'),
                            '%year%': mdate|date('Y')}, 'messages') }}
                            </option>
                    {% endfor %}                
                        </select>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="btn-group col-sm-6">
                        <button class="btn btn-default" id="form_cancel" name="form[cancel]" type="submit">
                            <i class="fa fa-times"></i>
                            {% trans %}FORM.EDITRESULTS.CANCEL{% endtrans %}
                        </button>
                        <button class="btn btn-success" id="form_save" name="form[save]" type="submit">
                            <i class="fa fa-check"></i>
                            {% trans %}FORM.EDITRESULTS.SUBMIT{% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td class="narrow-col"></td>
                        <td class="narrow-col">{% trans %}LEGEND.NO{% endtrans %}</td>
                        <td class="narrow-col">{% trans %}LEGEND.TIME{% endtrans %}</td>
                        <td class="narrow-col">{% trans %}LEGEND.CATEGORY{% endtrans %}</td>
                        <td class="narrow-col">{% trans %}LEGEND.GROUP{% endtrans %}</td>
                        <td class="flag"></td>
                        <td>{% trans %}LEGEND.HOMETEAM{% endtrans %}</td>
                        <td class="flag"></td>
                        <td>{% trans %}LEGEND.AWAYTEAM{% endtrans %}</td>
                        <td class="text-nowrap" colspan="2">{% trans %}LEGEND.RESULT{% endtrans %}</td>
                    </tr>
                </thead>
                <tbody>
        {% for match in matchlist %}
                    <tr>
                        <td class="narrow-col"></td>
                        <td class="narrow-col">{{ match.matchno }}</td>
                        <td class="narrow-col">{{ match.schedule|date('FORMAT.TIME'|trans([],'messages')) }}</td>
                        <td class="narrow-col"><a href="{{ path('_showcategory', { 'categoryid': match.category.id }) }}">{{ match.category.name }}</a></td>
                        <td class="narrow-col"><a href="{{ path('_showcategory', { 'categoryid': match.category.id }) }}">{{ match.group.name }}</a></td>
                        {{ formatter.club(match.home, match.group, _context) }}
                        {{ formatter.club(match.away, match.group, _context) }}
                        {{ this.scoreinput(match.home, _context) }}
                        {{ this.scoreinput(match.away, _context) }}
                    </tr>
        {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</p>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(function onLoad() {
            $('select#form_playground').change(OnChangePlayground);
            $('select#form_matchdate').change(OnChangePlayground);
        });
        function OnChangePlayground() {
            plid = $('select#form_playground').val();
            mdate = $('select#form_matchdate').val();
            if (plid !== null && mdate !== null) {
                var url = "{{ path('_edit_match_score', { 'playgroundid': 'plid', 'date': 'mdate' }) }}";
                url = url.replace('plid', plid).replace('mdate', mdate);
                $(location).attr('href', url);
            }
        };
    </script>
{% endblock %}
