{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<h1>{% trans %}FORM.ADMIN{% endtrans %}</h1>
<p class="subcategory">
    {% trans %}FORM.LISTEVENTS.TITLE{% endtrans %}
</p>
<a href="{{ path('_user_my_page') }}">
<h2 class="category">{{ host.name|upper }}</h2>
</a>
<p>
<table>
    <caption>{{ tournament.name }}</caption>
    <thead>
        <tr>
            <td class="date">{% trans %}FORM.EVENT.DATE{% endtrans %}</td>
            <td class="event">{% trans %}FORM.EVENT.EVENT{% endtrans %}</td>
            <td class="operand"></td>
            <td class="operand"></td>
            <td class="operand"></td>
        </tr>
    </thead>
    <tboby>
{% if eventlist|length > 0 %}
    {% for event in eventlist %}
        <tr class="{{ cycle(['even','odd'],loop.index) }}">
            <td class="date">
                <a href="{{ path('_edit_event_chg', { 'eventid': event.id }) }}">
                {{ 'FORMAT.LONGDATE'|transchoice(event.schedule|date('j'), {
                        '%week%': ['WEEK.',event.schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                        '%day%': event.schedule|date('j'),
                        '%month%': ['MONTH.',event.schedule|date('M')|upper]|join|trans([],'messages'),
                        '%year%': event.schedule|date('Y')}, 'messages') }}
                </a>    
            </td>
            <td class="event">
                <a href="{{ path('_edit_event_chg', { 'eventid': event.id }) }}">
                {{ ['FORM.EVENT.EVENTS.',event.event]|join|trans }}
                </a>    
            </td>
            <td class="operand">
                <a href="{{ path('_edit_event_add', { 'tournamentid': tournament.id }) }}">
                +
                </a>    
            </td>
            <td class="operand">
                <a href="{{ path('_edit_event_chg', { 'eventid': event.id }) }}">
                E
                </a>    
            </td>
            <td class="operand">
                <a href="{{ path('_edit_event_del', { 'eventid': event.id }) }}">
                -
                </a>    
            </td>
        </tr>
    {% endfor %}
{% else %}
        <tr class="odd">
            <td class="host_solo" colspan="2">
                <a href="{{ path('_edit_event_add', { 'tournamentid': tournament.id }) }}">
                {{'FORM.LISTEVENTS.NOEVENT'|trans|upper}}
                </a>    
            </td>
            <td class="operand">
                <a href="{{ path('_edit_event_add', { 'tournamentid': tournament.id }) }}">
                +
                </a>    
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
{% endif %}
    </tboby>
    <tfoot>
        <tr>
            <td colspan="5"></td>
        </tr>
    </tfoot>
</table>
</p>
{% endblock %}