{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<!--
    <div class="page-header">
        <h1>
            <i class="fa fa-cogs"></i>&nbsp;
            {% trans %}FORM.LISTCATEGORIES.TITLE{% endtrans %}<br />
            <small>{% trans %}FORM.LISTCATEGORIES.CAPTION{% endtrans %}</small>
        </h1>
    </div>
-->
    <h2 style="margin-bottom: 0">
        <i class="fa fa-cogs"></i>&nbsp;
        {% trans %}FORM.LISTCATEGORIES.TITLE{% endtrans %}
    </h2>
    <p>{% trans %}FORM.LISTCATEGORIES.CAPTION{% endtrans %}</p>

    <div class="panel panel-default">
        <div class="panel-body lead">
            <div class="col-lg-6">
            <a href="{{ path('_edit_tournamentboard', { 'tournamentid': tournament.id }) }}">{{ host.name|upper }}</a><br />
            {{ tournament.name }}
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{% if categories|length > 0 %}
    {% for category in categories %}
        <div class="panel panel-default">
            <div class="panel-body" role="tab" id="heading_{{ category.id }}">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ category.id }}" aria-expanded="true" aria-controls="collapse_{{ category.id }}">
                                {% trans from "tournament" %}CATEGORY{% endtrans %} {{ category.name|upper }} -
                                {{ ['GENDER.',
                                category.gender,
                                category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
                            </a>
                        </h4>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="{{ path('_edit_category_add', { 'tournamentid': tournament.id }) }}">
                            <span class="fa fa-file" title="{% trans %}FORM.CATEGORY.TITLE.ADD{% endtrans %}"></span>
                        </a>
                        &nbsp;
                        <a href="{{ path('_edit_category_chg', { 'categoryid': category.id }) }}">
                            <span class="fa fa-pencil" title="{% trans %}FORM.CATEGORY.TITLE.CHG{% endtrans %}"></span>
                        </a>
                        &nbsp;
                        <a href="{{ path('_edit_category_del', { 'categoryid': category.id }) }}">
                            <span class="fa fa-times text-danger" title="{% trans %}FORM.CATEGORY.TITLE.DEL{% endtrans %}"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="collapse_{{ category.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{ category.id }}">
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        {% if category.id in groups|keys %}
                            {% for group in groups[category.id] %}
                            <tr>
                                <td><a href="{{ path('_edit_group_chg', { 'groupid': group.id }) }}">{% trans from "tournament" %}GROUP{% endtrans %} {{ group.name }}</a></td>
                                <td>{{ ['GROUPCLASS',group.classification]|join('.')|trans([],'tournament') }}</td>
                                <td>{{ category.matchtime }} {% trans from "tournament" %}MINUTES{% endtrans %}</td>
                                <td class="narrow-col">
                                    <a href="{{ path('_edit_group_add', { 'categoryid': category.id }) }}">
                                        <span class="fa fa-file" title="{% trans %}FORM.GROUP.TITLE.ADD{% endtrans %}"></span>
                                    </a>
                                </td>
                                <td class="narrow-col">
                                    <a href="{{ path('_edit_group_chg', { 'groupid': group.id }) }}">
                                        <span class="fa fa-pencil" title="{% trans %}FORM.GROUP.TITLE.CHG{% endtrans %}"></span>
                                    </a>
                                </td>
                                <td class="narrow-col">
                                    <a href="{{ path('_edit_group_del', { 'groupid': group.id }) }}">
                                        <span class="fa fa-times text-danger" title="{% trans %}FORM.GROUP.TITLE.DEL{% endtrans %}"></span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td><a href="{{ path('_edit_group_add', { 'categoryid': category.id }) }}">{{'FORM.LISTCATEGORIES.NOGROUP'|trans|upper}}</a></td>
                                <td></td>
                                <td></td>
                                <td class="narrow-col">
                                    <a href="{{ path('_edit_group_add', { 'categoryid': category.id }) }}">
                                        <span class="fa fa-file" title="{% trans %}FORM.GROUP.TITLE.ADD{% endtrans %}"></span>
                                    </a>
                                </td>
                                <td class="narrow-col"></td>
                                <td class="narrow-col"></td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="panel-title">
                            <strong>
                                {{'FORM.LISTCATEGORIES.NOCATEGORY'|trans|upper}}
                            </strong>
                        </h4>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="{{ path('_edit_category_add', { 'tournamentid': tournament.id }) }}">
                            <span class="fa fa-file" title="{% trans %}FORM.CATEGORY.TITLE.ADD{% endtrans %}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
    </div>
{% endblock %}