{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "tournament" %}

{% import _self as formatter %}

{% macro club(team, group, context) %}
    {% if team.id > 0 %}
                <td class="flag">
        {% if team.rank != '' %}
                    <div class="rank">&nbsp;</div>
        {% endif %}
                    <img src="{{ context.imagepath }}/flags/{{ context.countries[team.country].flag }}"
                         alt="{{ team.country|trans({},'lang') }}"
                         title="{{ team.country|trans({},'lang') }}">
                </td>
                <td class="team">
    {% if team.rank != '' %}
                    <div class="rank">{{ team.rank }}</div>
    {% endif %}
                    <a href="{{ path('_showteam', { 'teamid': team.id,
                                                    'groupid': group.id }) }}">{{ team.name }}</a>
                </td>
    {% else %}
                <td class="flag"></td>
                <td class="team">{{ team.rank }}</td>
    {% endif %}
{% endmacro %}
        
{% macro scoreinput(match, context) %}
                <td class="match">
    {% if match.rid != '' %}
                    <input class="match" type="text" name="score_{{ match.rid }}" size="1" value="{{ match.score }}" />
    {% else %}
                    ?
    {% endif %}
                </td>
{% endmacro %}

{% block adminbody %}
<p class="lead">
    {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}<br />
</p>
<p>
    <form action="{{ path('_edit_match_score_post') }}" method="post">
        <div class="panel panel-info">
            <div class="panel-heading">
                <b>{{ 'FORM.EDITRESULTS.TITLE'|trans|upper }}</b>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <select id="form_playground"  class="form-control">
                    {% for field in playgrounds %}
                            <option value="{{field.id}}"
                    {% if field.id == playground.id %}
                                    selected
                    {% endif %}
                                    >{{field.name}}</option>
                    {% endfor %}                
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select id="form_matchdate" class="form-control">
                    {% for mdate in dates %}
                            <option value="{{mdate|date('d-m-Y')}}"
                    {% if mdate == matchdate %}
                                    selected
                    {% endif %}
                                    >
                        {{ 'FORMAT.LONGDATE'|transchoice(mdate|date('j'), {
                            '%week%': ['WEEK.',mdate|date('D')|upper]|join|trans([],'messages')|capitalize,
                            '%day%': mdate|date('j'),
                            '%month%': ['MONTH.',mdate|date('M')|upper]|join|trans([],'messages'),
                            '%year%': mdate|date('Y')}, 'messages') }}
                            </option>
                    {% endfor %}                
                        </select>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-default" id="form_cancel" name="form[cancel]" type="submit">{% trans %}FORM.EDITRESULTS.CANCEL{% endtrans %}</button>
                        <button class="btn btn-primary" id="form_save" name="form[save]" type="submit">{% trans %}FORM.EDITRESULTS.SUBMIT{% endtrans %}</button>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td class="flag"></td>
                        <td class="no">{% trans %}LEGEND.NO{% endtrans %}</td>
                        <td class="time">{% trans %}LEGEND.TIME{% endtrans %}</td>
                        <td class="no">{% trans %}LEGEND.CATEGORY{% endtrans %}</td>
                        <td class="no">{% trans %}LEGEND.GROUP{% endtrans %}</td>
                        <td class="flag"></td>
                        <td class="team">{% trans %}LEGEND.HOMETEAM{% endtrans %}</td>
                        <td class="flag"></td>
                        <td class="team">{% trans %}LEGEND.AWAYTEAM{% endtrans %}</td>
                        <td class="match" colspan="2">{% trans %}LEGEND.RESULT{% endtrans %}</td>
                    </tr>
                </thead>
                <tboby>
        {% for match in matchlist %}
                    <tr>
                        <td class="flag"></td>
                        <td class="no">{{ match.matchno }}</td>
                        <td class="time">{{ match.schedule|date('FORMAT.TIME'|trans([],'messages')) }}</td>
                        <td class="no"><a href="{{ path('_showcategory', { 'categoryid': match.category.id }) }}">{{ match.category.name }}</a></td>
                        <td class="no"><a href="{{ path('_showcategory', { 'categoryid': match.category.id }) }}">{{ match.group.name }}</a></td>
                        {{ formatter.club(match.home, match.group, _context) }}
                        {{ formatter.club(match.away, match.group, _context) }}
                        {{ formatter.scoreinput(match.home, _context) }}
                        {{ formatter.scoreinput(match.away, _context) }}
                    </tr>
        {% endfor %}
                </tboby>
            </table>
        </div>
    </form>
</p>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(function onLoad() {
            $('select#form_playground').change(OnChangePlayground);
            $('select#form_matchdate').change(OnChangePlayground);
        });
        function OnChangePlayground() {
            plid = $('select#form_playground').val();
            mdate = $('select#form_matchdate').val();
            if (plid !== null && mdate !== null) {
                var url = "{{ path('_edit_match_score', { 'playgroundid': 'plid', 'date': 'mdate' }) }}";
                url = url.replace('plid', plid).replace('mdate', mdate);
                $(location).attr('href', url);
            }
        };
    </script>
{% endblock %}
