{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
    <div ng-app="listClubsModule">
        <div ng-controller="listClubsController" ng-cloak>
            <section layout="column">
                <md-content flex>
                    <md-sidenav class="md-sidenav-left" md-component-id="enrollmentOptions" md-whiteframe="20">
                        <md-toolbar class="md-theme-light">
                            <h1 class="md-toolbar-tools">
                                {% trans from "club" %}FORM.LISTENROLLED.TITLE{% endtrans %}
                            </h1>
                        </md-toolbar>
                        <md-content layout-padding>
                            <div>
                                <img src="{{ asset('bundles/icuppublicsite/images/flags/') }}{{ '{{ club.flag }}' }}"
                                     alt="{{ '{{ club.name }}' }}"
                                     title="{{ '{{ club.name }}' }}" ng-if="club.flag" class="flag">
                                <b>{{ '{{ club.name }}' }}</b>
                            </div>
                            <hr />
                            <div class="row" ng-repeat="category in categories | orderBy: ['gender', 'classification', '-age'] track by category.id">
                                <div class="col-sm-7">
                                    <h5>{% trans from 'tournament' %}CATEGORY{% endtrans %} {{ '{{ category.name }}' }} - {{ '{{ category.classification_translated }}' }}</h5>
                                </div>
                                <div class="col-sm-2">
                                    <h4><span class="badge">{{ '{{ category.enrolled }}' }}</span></h4>
                                </div>
                                <div class="col-sm-1">
                                    <h4><i class="fa fa-plus-circle google-green" ng-click="addEnrollment(category, club)"></i></h4>
                                </div>
                                <div class="col-sm-1">
                                    <h4><i class="fa fa-minus-circle google-red" ng-click="removeEnrollment(category, club)" ng-show="category.enrolled"></i></h4>
                                </div>
                            </div>
                            <hr />
                            <md-button ng-click="close('enrollmentOptions')" class="md-raised">
                                {% trans %}FORM.CLOSE{% endtrans %}
                            </md-button>
                        </md-content>
                    </md-sidenav>

                    <md-sidenav class="md-sidenav-right" md-component-id="clubOptions" md-whiteframe="20">
                        <md-toolbar class="md-theme-light">
                            <h1 class="md-toolbar-tools">
                                {% trans %}FORM.CLUB.TITLE.CHG{% endtrans %}
                            </h1>
                        </md-toolbar>
                        <md-content layout-padding>
                            <div>
                                <img src="{{ asset('bundles/icuppublicsite/images/flags/') }}{{ '{{ club.flag }}' }}"
                                     alt="{{ '{{ club.name }}' }}"
                                     title="{{ '{{ club.name }}' }}" ng-if="club.flag" class="flag">
                                <b>{{ '{{ club.name }}' }}</b>
                            </div>
                            <form ng-submit="submit()" ng-cloak>
                                <md-input-container>
                                    <label for="name">{% trans %}FORM.CLUB.NAME{% endtrans %}</label>
                                    <input type="text" id="name" ng-model="club_object.name" md-autofocus>
                                </md-input-container>
                            </form>
                            <md-button ng-click="updateClub()" class="md-raised md-primary">
                                {% trans %}FORM.SUBMIT{% endtrans %}
                            </md-button>
                            <md-button ng-click="close('clubOptions')" class="md-raised">
                                {% trans %}FORM.CLOSE{% endtrans %}
                            </md-button>
                        </md-content>
                    </md-sidenav>

                    <md-content flex>
                        <h2 style="margin-bottom: 0">
                            <i class="fa fa-cogs"></i>&nbsp;
                            {% trans %}FORM.LISTCLUBS.TITLE{% endtrans %}
                        </h2>
                        <p>{% trans %}FORM.LISTCLUBS.CAPTION{% endtrans %}</p>
                        <div class="row">
                            <div class="col-lg-6 lead">
                                <a href="{{ path('_edit_tournamentboard', { 'tournamentid': tournament.id }) }}">
                                    {{ host.name|upper }}
                                    <br />
                                    {{ tournament.name }}
                                </a>
                            </div>
                            <div class="col-lg-6 lead text-right">
                                <a href="{{ path('_host_club_new', {'tournamentid': tournament.id }) }}" class="btn btn-info">
                                    {% trans %}FORM.CLUB.TITLE.ADD{% endtrans %}
                                </a>
                                <a href="{{ path('_edit_import_team', {'tournamentid': tournament.id }) }}" class="btn btn-info">
                                    {% trans %}FORM.TEAMIMPORT.TITLE{% endtrans %}
                                </a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('_admin_wipe_teams', {'tournamentid': tournament.id }) }}" class="btn btn-danger">
                                        {% trans %}FORM.LISTCLUBS.BUTTON.WIPE{% endtrans %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </md-content>

                    <md-content flex>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="{% trans %}FORM.LISTCLUBS.LEGEND{% endtrans %}">
                                <md-content class="md-padding">
                                    <div class="row" ng-show="countries.length && dataReady">
                                        {# list countries #}
                                        <div class="col-md-6 col-lg-4" ng-repeat="country in countries">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <img src="{{ asset('bundles/icuppublicsite/images/flags/') }}{{ '{{ country.flag }}' }}"
                                                         alt="{{ '{{ country.name }}' }}"
                                                         title="{{ '{{ country.name }}' }}" ng-if="country.flag" class="flag">
                                                    <b>{{ '{{ country.name }}' }}</b>
                                                </div>
                                                {# list clubs #}
                                                <table class="table table-striped">
                                                    <tr ng-repeat="club in country.clubs">
                                                        <td>
                                                            <span>{{ '{{ club.name }}' }}</span>
                                                        </td>
                                                        <td class="narrow-col">
                                                            <span class="label label-default" ng-show="club.enrolled" ng-click="toggleEnrollment(club)">{{ '{{ club.enrolled }}' }}</span>
                                                        </td>
                                                        <td class="narrow-col">
                                                            <span class="fa fa-cog" aria-label="{% trans %}FORM.CLUB.TITLE.CHG{% endtrans %}" ng-click="toggleClubOptions(club)">
                                                                <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="false">
                                                                    {% trans %}FORM.CLUB.TITLE.CHG{% endtrans %}
                                                                </md-tooltip>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="!countries.length && dataReady">
                                        <h1 class="label">{{'FORM.LISTCLUBS.NOCLUB'|trans|upper}}</h1>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="{% trans %}FORM.LISTCLUBS.LEGEND_TEAMS{% endtrans %}">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-4" ng-repeat="category in team_categories | orderBy: ['gender', 'classification', '-age'] track by category.id">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4>{% trans from 'tournament' %}CATEGORY{% endtrans %} {{ '{{ category.name }}' }} - {{ '{{ category.classification_translated }}' }}</h4>
                                                </div>
                                                {# list clubs #}
                                                <table class="table table-striped">
                                                    <tr ng-repeat="team in category.teams | orderBy: ['index', 'country.name', 'name']">
                                                        <td>
                                                            <img src="{{ asset('bundles/icuppublicsite/images/flags/') }}{{ '{{ team.country.flag }}' }}"
                                                                 alt="{{ '{{ team.country.name }}' }}"
                                                                 title="{{ '{{ team.country.name }}' }}" ng-if="team.country.flag" class="flag">
                                                            {{ '{{ team.name }}' }}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="!countries.length && dataReady">
                                        <h1 class="label">{{'FORM.LISTCLUBS.NOCLUB'|trans|upper}}</h1>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </md-content>
            </section>
        </div>
    </div>
{#
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'FORM.LISTCLUBS.NOCLUB'|trans|upper}}
                </div>
                <table class="table table-striped">
                    <tr>
                        <td>
                            <b><a href="{{ path('_host_club_new', {'tournamentid': tournament.id }) }}">{{'FORM.LISTCLUBS.NOCLUB'|trans|upper}}</a></b>
                        </td>
                        <td></td>
                        <td class="narrow-col">
                            <a href="{{ path('_host_club_new', {'tournamentid': tournament.id }) }}">
                                <span class="fa fa-file" title="{% trans %}FORM.CLUB.TITLE.ADD{% endtrans %}"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
#}
{% endblock %}

{% block javascripts %}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'tournament' }) }}?locales={{ app.request.locale|split('_')[0] }}"></script>
    <script type="text/javascript">
        angular.module('listClubsModule', ['ngMaterial', 'ngMessages','ngDraggable'])
                .controller('listClubsController', function($scope, $http, $mdDialog, $mdSidenav, $mdToast) {
                    $scope.onDragUnassignedTeam=function(teamid){
                        var index = $scope.unassigned.teams.findIndex(function (team) {
                            return team.id == teamid;
                        });
                        var team = $scope.unassigned.teams.splice(index, 1);
                        $scope.team = team[0];
                        $scope.group = null;
                        $scope.draggingAllowed = true;
                    };
                    $scope.onDragTeam=function(groupid, teamid){
                        var group = $scope.groups.find(function (group) {
                            return group.group.id == groupid;
                        });
                        var index = group.teams.findIndex(function (team) {
                            return team.id == teamid;
                        });
                        var team = group.teams.splice(index, 1);
                        $scope.team = team[0];
                        $scope.group = group.group;
                        $scope.draggingAllowed = true;
                    };
                    $scope.onDropUnassigned=function(){
                        if ($scope.draggingAllowed) {
                            $scope.draggingAllowed = false;
                            $scope.unassigned.teams.push($scope.team);
                            if ($scope.group) {
                                $http.get(Routing.generate('_rest_assign_del', { 'groupid': $scope.group.id, 'teamid': $scope.team.id })).then(function(data) {
                                    getGroups();
                                });
                            }
                        }
                    };
                    $scope.onDropGroup=function(groupid){
                        if ($scope.draggingAllowed) {
                            $scope.draggingAllowed = false;
                            var group = $scope.groups.find(function (group) {
                                return group.group.id == groupid;
                            });
                            group.teams.push($scope.team);
                            if ($scope.group) {
                                $http.get(Routing.generate('_rest_assign_del', { 'groupid': $scope.group.id, 'teamid': $scope.team.id })).then(function(data) {
                                    $http.get(Routing.generate('_rest_assign_add', { 'groupid': groupid, 'teamid': $scope.team.id })).then(function(data) {
                                        getGroups();
                                    });
                                });
                            }
                            else {
                                $http.get(Routing.generate('_rest_assign_add', { 'groupid': groupid, 'teamid': $scope.team.id })).then(function(data) {
                                    getGroups();
                                });
                            }
                        }
                    };
                    $scope.toggleCategoryOptions = function() {
                        $scope.category_object = {
                            'name': $scope.category.name,
                            'gender': $scope.category.gender,
                            'classification': $scope.category.classification,
                            'age': $scope.category.age,
                            'trophys': $scope.category.trophys,
                            'topteams': $scope.category.topteams,
                            'strategy': $scope.category.strategy,
                            'matchtime': $scope.category.matchtime
                        };
                        $mdSidenav('categoryOptions').toggle();
                    };
                    $scope.toggleClubOptions = function(club) {
                        $scope.club = club;
                        $scope.club_object = {
                            'name': $scope.club.name,
                            'country': $scope.club.country_code
                        };
                        $mdSidenav('clubOptions').toggle();
                    };
                    $scope.updateClub = function () {
                        $http.post(Routing.generate('rest_club_update', {'clubid': $scope.club.id }), $scope.club_object).then(function (data) {
                            $scope.club.name = $scope.club_object.name;
                            $mdSidenav('clubOptions').close();
                            $mdToast.show(
                                    $mdToast.simple()
                                            .textContent('{% trans %}FORM.CLUB.UPDATED{% endtrans %}')
                                            .position('top right')
                                            .hideDelay(3000)
                            );
                        },
                        function (response) {
                            $mdDialog.show(
                                    $mdDialog.alert()
                                            .clickOutsideToClose(true)
                                            .title('{% trans %}FORM.CLUB.TITLE.CHG{% endtrans %}')
                                            .textContent(response.data.errors.join('. '))
                                            .ok('{% trans %}FORM.CLOSE{% endtrans %}')
                            );
                        });
                    };
                    $scope.toggleEnrollment = function (club) {
                        $scope.club = club;
                        $http.get(Routing.generate('_rest_list_enrolled_teams', { 'tournamentid': {{ tournament.id }}, 'clubid': club.id })).then(function(data) {
                            $scope.categories = data.data;
                            $mdSidenav('enrollmentOptions').toggle();
                        });
                    };
                    $scope.addEnrollment = function (category, club) {
                        $scope.club = club;
                        $http.get(Routing.generate('_rest_club_enroll_add', { 'categoryid': category.id, 'clubid': club.id })).then(function(data) {
                            category.enrolled++;
                            club.enrolled++;
                        });
                    };
                    $scope.removeEnrollment = function (category, club) {
                        $scope.club = club;
                        $http.get(Routing.generate('_rest_club_enroll_del', { 'categoryid': category.id, 'clubid': club.id })).then(function(data) {
                            category.enrolled--;
                            club.enrolled--;
                        });
                    };
                    $scope.addGroup = function () {
                        $http.post(Routing.generate('rest_group_create', {'categoryid': $scope.category.id }), $scope.group_object).then(function (data) {
                                    $mdSidenav('groupOptions').close();
                                    getGroups();
                                },
                                function (response) {
                                    $mdDialog.show(
                                            $mdDialog.alert()
                                                    .clickOutsideToClose(true)
                                                    .title('{% trans %}FORM.GROUP.TITLE.ADD{% endtrans %}')
                                                    .textContent(response.data.errors.join('. '))
                                                    .ok('{% trans %}FORM.QMATCHPLANNING.CLOSE{% endtrans %}')
                                    );
                                });
                    };
                    $scope.deleteGroup = function (groupid) {
                        $http.delete(Routing.generate('rest_group_delete', {'groupid': groupid })).then(function (data) {
                                    getGroups();
                                },
                                function (response) {
                                    $mdDialog.show(
                                            $mdDialog.alert()
                                                    .clickOutsideToClose(true)
                                                    .title('{% trans %}FORM.GROUP.TITLE.DEL{% endtrans %}')
                                                    .textContent(response.data.errors.join('. '))
                                                    .ok('{% trans %}FORM.QMATCHPLANNING.CLOSE{% endtrans %}')
                                    );
                                });
                    };
                    $scope.isOpen = function(id){
                        return $mdSidenav(id).isOpen();
                    };
                    $scope.close = function (id) {
                        $mdSidenav(id).close();
                    };
                    $scope.dataReady = false;
                    $scope.countries = [];
                    $http.get(Routing.generate('_rest_list_clubs', { 'tournamentid': {{ tournament.id }} })).then(function(data) {
                        angular.forEach(data.data, function (club) {
                            var country = $scope.countries.find(function (country) {
                                return country.country_code == club.country_code;
                            });
                            if (country) {
                                country.clubs.push(club);
                            }
                            else {
                                $scope.countries.push({
                                    'name': club.country,
                                    'country_code': club.country_code,
                                    'flag': club.flag,
                                    'clubs': [club]
                                });
                            }
                        });
                        $scope.dataReady = true;
                    });
                    $scope.team_categories = [];
                    $http.get(Routing.generate('_rest_list_enrolled_categories', { 'tournamentid': {{ tournament.id }} })).then(function(data) {
                        $scope.team_categories = data.data;
                    });
                });
    </script>
{% endblock %}