{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "tournament" %}

{% import 'ICupPublicSiteBundle:Masters:club.html.twig' as formatter %}

{% block adminbody %}
<div class="panel panel-success">
    <div class="panel-heading"><b>{{ 'FORM.LISTMATCHES.TITLE'|trans([],'admin')|upper }}</b></div>
    <div class="panel-body lead">
        <div class="col-lg-9">
            {{ tournament.name }}<br />
            {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}<br />
            {% trans %}GROUP{% endtrans %} {{ group.name }} - 
                        {{ ['GROUPCLASS.',group.classification]|join|trans }} - 
                        {{ group.playingtime }} {% trans %}MINUTES{% endtrans %}
        </div>
        <div class="col-lg-3">
            <a href="{{ path('_showcategory', { 'categoryid': category.id }) }}">
                {% trans %}CATEGORY{% endtrans %} {{ category.name }}
            </a><br />
            {{ ['GENDER.',
                category.gender,
                category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td class="narrow-col"></td>
                <td class="narrow-col">{% trans %}LEGEND.NO{% endtrans %}</td>
                <td class="narrow-col">{% trans %}LEGEND.TIME{% endtrans %}</td>
                <td class="narrow-col">{% trans %}LEGEND.PLAYGROUND{% endtrans %}</td>
                <td class="flag"></td>
                <td>{% trans %}LEGEND.HOMETEAM{% endtrans %}</td>
                <td class="flag"></td>
                <td>{% trans %}LEGEND.AWAYTEAM{% endtrans %}</td>
                <td class="narrow-col">{% trans %}LEGEND.RESULT{% endtrans %}</td>
                <td class="narrow-col"></td>
                <td class="narrow-col"></td>
                <td class="narrow-col"></td>
                <td class="narrow-col"></td>
                <td class="narrow-col"></td>
                <td class="narrow-col"></td>
                <td class="narrow-col"></td>
            </tr>
        </thead>
        <tbody>
{% if matchlist|length > 0 %}            
    {% for matches in matchlist %}
        <tr>
            <td class="lead" colspan="16">
                {{ 'FORMAT.LONGDATE'|transchoice(matches[0].schedule|date('j'), {
                        '%week%': ['WEEK.',matches[0].schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                        '%day%': matches[0].schedule|date('j'),
                        '%month%': ['MONTH.',matches[0].schedule|date('M')|upper]|join|trans([],'messages'),
                        '%year%': matches[0].schedule|date('Y')}, 'messages') }}
            </td>
        </tr>
        {% for match in matches %}
{% if match.home.id > 0 or match.away.id > 0 or match.home.rank != '' or match.away.rank != ''%}
            <tr>
{% else %}
            <tr>
{% endif %}
                <td class="narrow-col"></td>
                <td class="narrow-col">{{ match.matchno }}</td>
                <td class="narrow-col">{{ match.schedule|date('FORMAT.TIME'|trans([],'messages')) }}</td>
                <td class="narrow-col">{{ match.playground.no }}</td>
{% if match.home.id > 0 or match.away.id > 0 or match.home.rank != '' or match.away.rank != ''%}
                {{ formatter.club(match.home, group, _context) }}
                {{ formatter.club(match.away, group, _context) }}
                <td class="narrow-col text-nowrap">{{ match.home.score }}-{{ match.away.score }}</td>
{% else %}
                <td colspan="5">
                </td>
{% endif %}
                <td class="narrow-col">
                    <a href="{{ path('_edit_match_add', { 'groupid': group.id }) }}">
                        <span class="glyphicon glyphicon-file"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_match_chg', { 'matchid': match.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_match_del', { 'matchid': match.id }) }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>    
                </td>
{% if match.home.id > 0 or match.away.id > 0 or match.home.rank != '' or match.away.rank != '' %}
    {% if match.home.rank != '' or match.away.rank != '' %}
                <td class="narrow-col">
                    <a href="{{ path('_edit_matchrel_upd', { 'matchid': match.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>    
                </td>
    {% else %}
                <td class="narrow-col">
                    <a href="{{ path('_edit_matchrel_chg', { 'matchid': match.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>    
                </td>
    {% endif %}
                <td class="narrow-col">
                    <a href="{{ path('_edit_matchrel_del', { 'matchid': match.id }) }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_qmatchrel_chg', { 'matchid': match.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_qmatchrel_del', { 'matchid': match.id }) }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>    
                </td>
{% else %}
    {% if match.home.rank != '' or match.away.rank != '' %}
                <td class="narrow-col">
                    <a href="{{ path('_edit_matchrel_upd', { 'matchid': match.id }) }}">
                        <span class="glyphicon glyphicon-file"></span>
                    </a>    
                </td>
    {% else %}
                <td class="narrow-col">
                    <a href="{{ path('_edit_matchrel_chg', { 'matchid': match.id }) }}">
                        <span class="glyphicon glyphicon-file"></span>
                    </a>    
                </td>
    {% endif %}
                <td class="narrow-col"></td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_qmatchrel_chg', { 'matchid': match.id }) }}">
                        <span class="glyphicon glyphicon-file"></span>
                    </a>    
                </td>
                <td class="narrow-col"></td>
{% endif %}
        {% endfor %}
            </tr>
    {% endfor %}
{% else %}
            <tr>
                <td class="lead" colspan="9">
                    <a href="{{ path('_edit_match_add', { 'groupid': group.id }) }}">
                    {{'FORM.LISTMATCHES.NOMATCH'|trans({},'admin')|upper}}
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_match_add', { 'groupid': group.id }) }}">
                        <span class="glyphicon glyphicon-file"></span>
                    </a>    
                </td>
                <td colspan="6"></td>
            </tr>
{% endif %}                    
        </tbody>
    </table>
</div>
{% endblock %}