{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "tournament" %}

{% block adminbody %}
<h1>{% trans from "admin" %}FORM.ADMIN{% endtrans %}</h1>
<table>
    <tr>
        <td>
            <h2 class="category">{{ tournament.name }}</h2>
            <p class="subcategory">
                {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}<br />
            </p>
        </td>
        <td class="indent"></td>
        <td>
            <a href="{{ path('_showcategory', { 'tournament': tournament.key, 'categoryid': category.id }) }}">
                <h2 class="category">{% trans %}CATEGORY{% endtrans %} {{ category.name }}</h2>
            </a>
            <p class="subcategory">
                {{ [category.gender,category.classification]|join|trans }}
                {{ category.classification|trans }}
            </p>
        </td>
    </tr>
</table>
<p>
    <table>
        <caption>{% trans %}GROUP{% endtrans %} {{ group.name }}</caption>
        <thead>
            <tr>
                <td class="flag"></td>
                <td class="no">{% trans %}LEGEND.NO{% endtrans %}</td>
                <td class="time">{% trans %}LEGEND.TIME{% endtrans %}</td>
                <td class="no">{% trans %}LEGEND.PLAYGROUND{% endtrans %}</td>
                <td class="flag"></td>
                <td class="team">{% trans %}LEGEND.HOMETEAM{% endtrans %}</td>
                <td class="flag"></td>
                <td class="team">{% trans %}LEGEND.AWAYTEAM{% endtrans %}</td>
                <td class="match">{% trans %}LEGEND.RESULT{% endtrans %}</td>
                <td class="operand"></td>
                <td class="operand"></td>
                <td class="operand"></td>
            </tr>
        </thead>
        <tboby>
{% set catdate = '' %}
{% for match in matchlist %}
    {% if match.schedule|date('d-M-Y') != catdate %}
            <tr class="{{ cycle(['even','odd'],loop.index) }}">
                <td class="date_solo" colspan="12">
                    {{ ['WEEK.',match.schedule|date('D')|upper]|join|trans([],'messages')|capitalize }}
                    {{ match.schedule|date(' j. ') }}
                    {{ ['MONTH.',match.schedule|date('M')|upper]|join|trans([],'messages') }}
                </td>
            </tr>
        {% set catdate = match.schedule|date('d-M-Y') %}
    {% endif %}
            <tr class="{{ cycle(['even','odd'],loop.index) }}">
                <td class="flag"></td>
                <td class="no">{{ match.matchno }}</td>
                <td class="time">{{ match.schedule|date('H.i') }}</td>
                <td class="no">{{ match.playground.no }}</td>
                <td class="flag"><img src="{{ imagepath }}/flags/{{ countries[match.home.country].flag }}" alt="{{ match.home.country|trans({},'lang') }}" title="{{ match.home.country|trans({},'lang') }}"></td>
                <td class="team"><a href="{{ path('_showteam', { 'tournament': tournament.key, 'teamid': match.home.id, 'groupid': group.id }) }}">{{ match.home.team }}</a></td>
                <td class="flag"><img src="{{ imagepath }}/flags/{{ countries[match.away.country].flag }}" alt="{{ match.away.country|trans({},'lang') }}" title="{{ match.away.country|trans({},'lang') }}"></td>
                <td class="team"><a href="{{ path('_showteam', { 'tournament': tournament.key, 'teamid': match.away.id, 'groupid': group.id }) }}">{{ match.away.team }}</a></td>
                <td class="match">{{ match.home.score }}-{{ match.away.score }}</td>
                <td class="operand">
                    <a href="{{ path('_edit_match_add', { 'groupid': group.id }) }}">
                    +
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_match_chg', { 'matchid': match.id }) }}">
                    E
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_match_del', { 'matchid': match.id }) }}">
                    -
                    </a>    
                </td>
            </tr>
{% endfor %}
        </tboby>
        <tfoot>
            <tr>
                <td colspan="12"></td>
            </tr>
        </tfoot>
    </table>
</p>
{% endblock %}