{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-cogs"></i>&nbsp;
        {% trans %}FORM.LISTEVENTS.TITLE{% endtrans %}
    </h2>
    <p>{% trans %}FORM.LISTEVENTS.CAPTION{% endtrans %}</p>
<div class="panel panel-default">
    <div class="panel-body lead">
        <a href="{{ path('_user_my_page') }}">
            {{ host.name|upper }}
        </a><br />
        {{ tournament.name }}
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>{% trans %}FORM.EVENT.DATE{% endtrans %}</td>
                <td>{% trans %}FORM.EVENT.EVENT{% endtrans %}</td>
                <td class="narrow-col"></td>
                <td class="narrow-col"></td>
                <td class="narrow-col"></td>
            </tr>
        </thead>
        <tbody>
{% if eventlist|length > 0 %}
    {% for event in eventlist %}
            <tr>
                <td>
                    <a href="{{ path('_edit_event_chg', { 'eventid': event.id }) }}">
                        <strong>
                            {{ 'FORMAT.LONGDATE'|transchoice(event.schedule|date('j'), {
                                    '%week%': ['WEEK.',event.schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                                    '%day%': event.schedule|date('j'),
                                    '%month%': ['MONTH.',event.schedule|date('M')|upper]|join|trans([],'messages'),
                                    '%year%': event.schedule|date('Y')}, 'messages') }}
                        </strong>
                    </a>    
                </td>
                <td>
                    <a href="{{ path('_edit_event_chg', { 'eventid': event.id }) }}">
                    {{ ['FORM.EVENT.EVENTS.',event.event]|join|trans }}
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_event_add', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-file"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_event_chg', { 'eventid': event.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_event_del', { 'eventid': event.id }) }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>    
                </td>
            </tr>
    {% endfor %}
{% else %}
            <tr>
                <td class="lead" colspan="2">
                    <a href="{{ path('_edit_event_add', { 'tournamentid': tournament.id }) }}">
                    {{'FORM.LISTEVENTS.NOEVENT'|trans|upper}}
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_event_add', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-file"></span>
                    </a>    
                </td>
                <td></td>
                <td></td>
            </tr>
{% endif %}
        </tbody>
    </table>
</div>
{% endblock %}