{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-cogs"></i>&nbsp;
        {% trans %}FORM.LISTGROUPS.TITLE{% endtrans %}
    </h2>
    <p></p>
<div class="panel panel-default">
    <div class="panel-body lead">
        <div class="col-lg-6">
            <a href="{{ path('_edit_tournamentboard', { 'tournamentid': tournament.id }) }}">
                {{ host.name|upper }}
            </a>
            <br />
            {{ tournament.name }}
            <br />
            <a href="{{ path('_edit_category_list', {'tournamentid': tournament.id }) }}">
                {% trans from 'tournament' %}CATEGORY{% endtrans %} {{ category.name }}<br />
                {{ ['GENDER.',
                category.gender,
                category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
            </a>
        </div>
        <div class="col-lg-6 text-right">
    {% if grouplist|length > 0 %}
            <a class="btn btn-primary btn-lg" href="{{ path('_host_assign_vacant', { 'groupid': selectedgroup.id }) }}">
                <span class="fa fa-archive"></span>&nbsp;{% trans %}FORM.LISTGROUPS.ADD_VACANT{% endtrans %}
            </a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    {% endif %}
        </div>
    </div>
</div>
{% if grouplist|length > 0 %}
    {% for group in grouplist %}
        {% if selectedgroup.id == group.group.id %}
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"><b>{% trans from 'tournament' %}GROUP{% endtrans %} {{ group.group.name }}</b></div>
        <table class="table table-striped">
            <tbody>
        {% for team in group.teams %}
                <tr>
                    <td class="flag">
            {% if team.country in countries|keys %}
                        <img src="{{ asset(['bundles/icuppublicsite/images/flags/',countries[team.country].flag]|join) }}" alt="{{ team.country|trans({},'lang') }}" title="{{ team.country|trans({},'lang') }}">
            {% endif %}
                    </td>
                    <td><a href="{{ path('_host_assign_del', { 'teamid': team.id, 'groupid': group.group.id }) }}">{{ team.name }}</a></td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
</div>
        {% endif %}
    {% endfor %}
{% else %}
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"><b>{{ 'FORM.LISTCATEGORIES.TITLE'|trans|upper }}</b></div>
        <div class="panel-body lead">
            {% trans %}FORM.LISTGROUPS.NOGROUP{% endtrans %}
        </div>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <a href="{{ path('_edit_group_add', { 'categoryid': category.id }) }}">
                            {% trans %}FORM.LISTCATEGORIES.NOGROUP{% endtrans %}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"><b>{{ 'FORM.LISTGROUPS.UNASSIGNED'|trans|upper }}</b></div>
        <table class="table table-striped">
            <tbody>
    {% for team in unassigned %}
                <tr>
                    <td class="flag">
        {% if team.country in countries|keys %}
                        <img src="{{ asset(['bundles/icuppublicsite/images/flags/',countries[team.country].flag]|join) }}" alt="{{ team.country|trans({},'lang') }}" title="{{ team.country|trans({},'lang') }}">
        {% endif %}
                    </td>
                    <td>
        {% if not selectedgroup is null %}
                        <a href="{{ path('_host_assign_add', { 'teamid': team.id, 'groupid': selectedgroup.id }) }}">{{ team.name }}</a>
        {% else %}
                        {{ team.name }}
        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('_host_enroll_del', { 'teamid': team.id }) }}">
                            <span class="fa fa-remove" title="{% trans %}FORM.CATEGORY.TITLE.DEL{% endtrans %}"></span>
                        </a>
                    </td>
                </tr>
    {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% for group in grouplist %}
    {% if selectedgroup.id != group.group.id %}
<div class="col-md-6">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <a href="{{ path('_host_assign_select_group', { 'groupid': group.group.id }) }}">
                <b>
                    {% trans from 'tournament' %}GROUP{% endtrans %} {{ group.group.name }}
                </b>
            </a>
        </div>
    </div>
</div>
    {% endif %}
{% endfor %}
{% endblock %}