{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "club" %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-cogs"></i>&nbsp;
        {% trans %}FORM.LISTENROLLED.TITLE{% endtrans %}
    </h2>
    <p>{% trans %}FORM.LISTENROLLED.CAPTION{% endtrans %}</p>
<div class="panel panel-default">
    <div class="panel-body lead">
        <a href="{{ path('_edit_tournamentboard', { 'tournamentid': tournament.id }) }}">
            {{ host.name|upper }} - {{ tournament.name|upper }}
        </a><br />
        <a href="{{ path('_host_list_clubs', { 'tournamentid': tournament.id }) }}">
            <img src="{{ imagepath }}/flags/{{ countries[club.country].flag }}" alt="{{ club.country|trans({},'lang') }}" title="{{ club.country|trans({},'lang') }}">
            {{ club.name }}
        </a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>{% trans from "tournament" %}CLASS{% endtrans %}</td>
                <td colspan="4">{% trans from "tournament" %}FEMALE{% endtrans %}</td>
                <td colspan="4">{% trans from "tournament" %}MALE{% endtrans %}</td>
            </tr>
        </thead>
        <tbody>
{% for categorykey in classifications %}
    {% set femalekey = ['F',categorykey]|join %}
    {% set malekey = ['M',categorykey]|join %}
    {% set femalecategorylist = femalekey in categories|keys ? categories[femalekey] : {} %}
    {% set malecategorylist = malekey in categories|keys ? categories[malekey] : {} %}
    {% set size = femalecategorylist|length > malecategorylist|length ? femalecategorylist|length : malecategorylist|length %}
    {% for i in 0..size-1 %}
            <tr>
        {% if i == 0 %}
            <td rowspan="{{ size }}"><strong>{{ categorykey }}</strong></td>
        {% endif %}
        {% if femalecategorylist[i] is defined %}
                <td>
                    <a href="{{ path('_showcategory', { 'categoryid': femalecategorylist[i].id }) }}">
                        <b>{% trans from "tournament" %}CATEGORY{% endtrans %} {{ femalecategorylist[i].name }}</b>
                    </a><br />
                        {{ ['GENDER.',
                            femalecategorylist[i].gender,
                            femalecategorylist[i].classification]|join|transchoice(femalecategorylist[i].age, { '%age%': femalecategorylist[i].age },'tournament') }}
                </td>
                <td class="narrow-col">
            {% if enrolled[femalecategorylist[i].id] is defined %}
                    {{ enrolled[femalecategorylist[i].id]|length }}
            {% else %}
                    -
            {% endif %}
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_club_enroll_add_admin', { 'categoryid': femalecategorylist[i].id, 'clubid': club.id }) }}">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </a>    
                </td>
                <td class="narrow-col">
            {% if enrolled[femalecategorylist[i].id] is defined %}
                    <a href="{{ path('_club_enroll_del_admin', { 'categoryid': femalecategorylist[i].id, 'clubid': club.id }) }}">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    </a>    
            {% endif %}
                </td>
        {% else %}
                <td colspan="4"></td>
        {% endif %}
        {% if malecategorylist[i] is defined %}
                <td>
                    <a href="{{ path('_showcategory', { 'categoryid': malecategorylist[i].id }) }}">
                        <b>{% trans from "tournament" %}CATEGORY{% endtrans %} {{ malecategorylist[i].name }}</b>
                    </a><br />
                        {{ ['GENDER.',
                            malecategorylist[i].gender,
                            malecategorylist[i].classification]|join|transchoice(malecategorylist[i].age, { '%age%': malecategorylist[i].age },'tournament') }}
                </td>
                <td class="narrow-col">
            {% if enrolled[malecategorylist[i].id] is defined %}
                    {{ enrolled[malecategorylist[i].id]|length }}
            {% else %}
                    -
            {% endif %}
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_club_enroll_add_admin', { 'categoryid': malecategorylist[i].id, 'clubid': club.id }) }}">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </a>    
                </td>
                <td class="narrow-col">
            {% if enrolled[malecategorylist[i].id] is defined %}
                    <a href="{{ path('_club_enroll_del_admin', { 'categoryid': malecategorylist[i].id, 'clubid': club.id }) }}">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    </a>    
            {% endif %}
                </td>
        {% else %}
                <td colspan="4"></td>
        {% endif %}
            </tr>
    {% endfor %}
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}