{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<div class="panel panel-success">
    <div class="panel-heading"><b>{{ 'FORM.LISTEVENTS.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        <a href="{{ path('_user_my_page') }}">
            {{ host.name|upper }}
        </a><br />
        {{ tournament.name }}<br />
        {% trans %}FORM.LISTEVENTS.CAPTION{% endtrans %}
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td class="date">{% trans %}FORM.EVENT.DATE{% endtrans %}</td>
                <td class="event">{% trans %}FORM.EVENT.EVENT{% endtrans %}</td>
                <td class="operand"></td>
                <td class="operand"></td>
                <td class="operand"></td>
            </tr>
        </thead>
        <tboby>
{% if eventlist|length > 0 %}
    {% for event in eventlist %}
            <tr>
                <td class="date">
                    <a href="{{ path('_edit_event_chg', { 'eventid': event.id }) }}">
                    {{ 'FORMAT.LONGDATE'|transchoice(event.schedule|date('j'), {
                            '%week%': ['WEEK.',event.schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                            '%day%': event.schedule|date('j'),
                            '%month%': ['MONTH.',event.schedule|date('M')|upper]|join|trans([],'messages'),
                            '%year%': event.schedule|date('Y')}, 'messages') }}
                    </a>    
                </td>
                <td class="event">
                    <a href="{{ path('_edit_event_chg', { 'eventid': event.id }) }}">
                    {{ ['FORM.EVENT.EVENTS.',event.event]|join|trans }}
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_event_add', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-file"></span>
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_event_chg', { 'eventid': event.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_event_del', { 'eventid': event.id }) }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>    
                </td>
            </tr>
    {% endfor %}
{% else %}
            <tr>
                <td class="markup" colspan="2">
                    <a href="{{ path('_edit_event_add', { 'tournamentid': tournament.id }) }}">
                    {{'FORM.LISTEVENTS.NOEVENT'|trans|upper}}
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_event_add', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-file"></span>
                    </a>    
                </td>
                <td></td>
                <td></td>
            </tr>
{% endif %}
        </tboby>
    </table>
</div>
{% endblock %}