{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<div class="panel panel-success">
    <div class="panel-heading"><b>{{ 'FORM.LISTGROUPS.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        <a href="{{ path('_edit_host_list') }}">
            {{ host.name|upper }} - {{ tournament.name|upper }}
        </a>
        <br />
        <a href="{{ path('_edit_category_list', {'tournamentid': tournament.id }) }}">
            {% trans from 'tournament' %}CATEGORY{% endtrans %} {{ category.name }}<br />
            {{ ['GENDER.',
                category.gender,
                category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
        </a>
    </div>
</div>
{% if grouplist|length > 0 %}
    {% for group in grouplist %}
        {% if selectedgroup.id == group.group.id %}
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"><b>{% trans from 'tournament' %}GROUP{% endtrans %} {{ group.group.name }}</b></div>
        <table class="table table-striped">
            <tbody>
        {% for team in group.teams %}
                <tr>
                    <td class="flag"><img src="{{ imagepath }}/flags/{{ countries[team.country].flag }}" alt="{{ team.country|trans({},'lang') }}" title="{{ team.country|trans({},'lang') }}"></td>
                    <td><a href="{{ path('_host_assign_del', { 'teamid': team.id, 'groupid': group.group.id }) }}">{{ team.name }}</a></td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
</div>
        {% endif %}
    {% endfor %}
{% else %}
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"><b>{{ 'FORM.LISTCATEGORIES.TITLE'|trans|upper }}</b></div>
        <div class="panel-body lead">
            {% trans %}FORM.LISTGROUPS.NOGROUP{% endtrans %}
        </div>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <a href="{{ path('_edit_group_add', { 'categoryid': category.id }) }}">
                            {% trans %}FORM.LISTCATEGORIES.NOGROUP{% endtrans %}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"><b>{{ 'FORM.LISTGROUPS.UNASSIGNED'|trans|upper }}</b></div>
        <table class="table table-striped">
            <tbody>
    {% for team in unassigned %}
                <tr>
                    <td class="flag"><img src="{{ imagepath }}/flags/{{ countries[team.country].flag }}" alt="{{ team.country|trans({},'lang') }}" title="{{ team.country|trans({},'lang') }}"></td>
                    <td>
        {% if not selectedgroup is null %}
                        <a href="{{ path('_host_assign_add', { 'teamid': team.id, 'groupid': selectedgroup.id }) }}">{{ team.name }}</a>
        {% else %}
                        {{ team.name }}
        {% endif %}
                    </td>
                </tr>
    {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% for group in grouplist %}
    {% if selectedgroup.id != group.group.id %}
<div class="col-md-6">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <a href="{{ path('_host_assign_select_group', { 'groupid': group.group.id }) }}">
                <b>
                    {% trans from 'tournament' %}GROUP{% endtrans %} {{ group.group.name }}
                </b>
            </a>
        </div>
    </div>
</div>
    {% endif %}
{% endfor %}
{% endblock %}