{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<div class="col-lg-8">
    <div class="panel panel-success">
        <div class="panel-heading"><b>{{ 'FORM.NEWCLUB.TITLE'|trans|upper }}</b></div>
        <div class="panel-body lead">
{% if tournament is defined and tournament %}
            {{ tournament.name }}
{% endif %}
        </div>
        <div class="panel-body">
        {{ form(form) }}
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="panel panel-success">
        <div class="panel-heading"><b>{{ 'FORM.NEWCLUB.CAPTION'|trans|upper }}</b></div>
        <div class="panel-body">
            <table>
                <tbody id="form_div">
                    <tr><td class="column">{% trans %}FORM.NEWCLUB.NOCLUBS{% endtrans %}</td></tr>    
                </tbody>
            </table>
        </div>
        <div id="form_footer" class="panel-footer lead">
            {% trans %}FORM.NEWCLUB.INFO{% endtrans %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function onLoad() {
            $('input#form_name').keyup(OnKeyUp);
            $('select#form_country').change(OnKeyUp);
        });
        function OnKeyUp() {
                $.getJSON(Routing.generate('_rest_list_clubs',
                                            {
                                                'countrycode': $('select#form_country').val(),
                                                'pattern': '%'+$('input#form_name').val()+'%'
                                            }),
                           function readClubs(data, status) {
                                if (data.length > 0) {
                                    $('#form_div').html(buildTable(data));
                                }
                                else {
                                    $('#form_div').html(buildDefault());
                                }
                                if (data.length > 3) {
                                    $('#form_footer').html("{% trans %}FORM.NEWCLUB.MORECLUBS{% endtrans %}<br />{% trans %}FORM.NEWCLUB.INFO{% endtrans %}");
                                }
                                else {
                                    $('#form_footer').html("{% trans %}FORM.NEWCLUB.INFO{% endtrans %}");
                                }
                           }
                         );
        };
        function buildTable(data) {
           opt = '';
           $.each(data, 
                   function updateDropDown(index, club) {
                       if (index < 3) {
                         opt += "<tr><td class='column'>";
                         opt += "<span class='link' onclick='location.href=\"{{ path('_host_select_club') }}?clubid="+club.id+"&tournamentid={{ tournament.id }}\"'>"+club.name+"</span>";
                         opt += "</td></tr>";
                       }
                   });
           return opt;
        };
        function buildDefault() {
           opt = "<tr><td class='column'>{% trans %}FORM.NEWCLUB.NOCLUBS{% endtrans %}</td></tr>";
           return opt;
        };
    </script>
{% endblock %}
