{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<div style="width: 70%; float: left;">
    <h1 class="category">{% trans %}FORM.ADMIN{% endtrans %}</h1>
{% if tournament is defined and tournament %}
    <p class="subcategory">{{ tournament.name }}</p>
{% endif %}
    <p>{% trans %}FORM.NEWCLUB.TITLE{% endtrans %}</p>
    {% if error is defined and error %}
        <div class="form_error">{{ error.message }}</div>
    {% endif %}
    {{ form(form) }}
    </div>
    <div class="searchresult" style="width: 25%; float: left;">
        <table width="100%">
            <caption>{% trans %}FORM.NEWCLUB.CAPTION{% endtrans %}</caption>
            <thead>
                <tr><td>{% trans %}FORM.NEWCLUB.LEGEND{% endtrans %}</td></tr>
            </thead>
            <tbody id="form_div">
                <tr><td class="column">{% trans %}FORM.NEWCLUB.NOCLUBS{% endtrans %}</td></tr>    
            </tboby>
            <tfoot>
                <tr><td></td></tr>
            </tfoot>
        </table>
        <div class="searchresult_info">{% trans %}FORM.NEWCLUB.INFO{% endtrans %}</div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function onLoad() {
            $('input#form_name').keyup(OnKeyUp);
            $('select#form_country').change(OnKeyUp);
        });
        function OnKeyUp() {
                $.getJSON("{{ path('_rest_list_clubs') }}",
                           {
                               'pattern': '%'+$('input#form_name').val()+'%',
                               'country': $('select#form_country').val()
                           },
                           function readClubs(data, status) {
                               if (data.length > 0) {
                                    $('#form_div').html(buildTable(data));
                                }
                                else {
                                    $('#form_div').html(buildDefault());
                                }
                           }
                         );
        };
        function buildTable(data) {
           opt = '';
           $.each(data, 
                   function updateDropDown(index, club) {
                       if (index < 3) {
                         opt += "<tr><td class='column'>";
                         opt += "<span class='link' onclick='location.href=\"{{ path('_host_select_club') }}?clubid="+club.id+"&tournamentid={{ tournament.id }}\"'>"+club.name+"</span>";
                         opt += "</td></tr>";
                       }
                   });
           if (data.length > 3) {
               opt += "<tr class='info'><td class='column'>{% trans %}FORM.NEWCLUB.MORECLUBS{% endtrans %}</td></tr>";
           }
           return opt;
        };
        function buildDefault() {
           opt = "<tr><td class='column'>{% trans %}FORM.NEWCLUB.NOCLUBS{% endtrans %}</td></tr>";
           return opt;
        };
    </script>
{% endblock %}
