{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "club" %}

{% block body %}
<div class="panel panel-info">
    <div class="panel-heading"><b>{{ 'FORM.MYPAGE.USERS.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        {{ currentuser.name|capitalize }} ({{ currentuser.username|upper }})
    </div>
    <div class="panel-body">
        {{ club.name }}
        &nbsp;
        <img src="{{ imagepath }}/flags/{{ countries[club.country].flag }}" 
             alt="{{ club.country|trans({},'lang') }}" 
             title="{{ club.country|trans({},'lang') }}"><br />
        <b>
{% if currentuser.role == 2 %}
            {% trans %}FORM.MYPAGE.CLUBADMIN{% endtrans %}
{% else %}
            {% trans %}FORM.MYPAGE.CLUBUSER{% endtrans %}
{% endif %}
        </b><br />
        {% trans %}FORM.MYPAGE.CAPTION{% endtrans %}
    </div>
{% if users|length > 0 %}
    <table class="table table-striped">
        <tbody>
    {% for user in users %}
            <tr>
                <td>
        {% if currentuser != user %}
                    {{ user.name|upper }}
        {% else %}
                    <b>{{ user.name|upper }}</b>
        {% endif %}
                </td>
                <td class="narrow-col">
{% if user.status != 3 %}
        {% if currentuser != user %}
                    <a href="{{ path('_club_user_disconnect', { 'userid': user.id }) }}">
                    -
                    </a>    
        {% endif %}
{% endif %}
                </td>
                <td class="narrow-col">
        {% if currentuser != user %}
{% if user.status != 3 %}
                    <a href="{{ path('_club_user_chg_role', { 'userid': user.id }) }}">
    {% if user.role == 1 %}
                    P
    {% else %}
                    D
    {% endif %}
                    </a>
{% endif %}
        {% endif %}
                </td>
                <td>
{% if user.status == 3 %}
                    {% trans %}FORM.MYPAGE.PROSPECT{% endtrans %}
{% else %}
    {% if user.role == 1 %}
                    {% trans %}FORM.MYPAGE.CLUBUSER{% endtrans %}
    {% else %}
                    {% trans %}FORM.MYPAGE.CLUBADMIN{% endtrans %}
    {% endif %}
{% endif %}
                </td>
                <td class="narrow-col">
        {% if currentuser != user %}
    {% if user.status == 3 %}
                    <a href="{{ path('_club_user_connect', { 'clubid': club.id, 'userid': user.id }) }}">
                    +
                    </a>    
    {% else %}
                    {% trans %}FORM.MYPAGE.ATTACHED{% endtrans %}
    {% endif %}
        {% else %}
                    {% trans %}FORM.MYPAGE.ATTACHED{% endtrans %}
        {% endif %}
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endif %}
</div>
{% endblock %}