{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}

{% form_theme upload_form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "club" %}

{% block body %}
<div class="panel panel-success">
    <div class="panel-heading"><b>{{ 'FORM.MYPAGE.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        {{ currentuser.name|capitalize }} ({{ currentuser.username|upper }})<br />
        {% trans %}FORM.MYPAGE.ADMIN{% endtrans %}
    </div>
    <div class="panel-body">
        <h2>Upload file</h2>
        <form class="standard" action="{{ path('_user_my_page_upload') }}" method="post" {{ form_enctype(upload_form) }}>
            {{ form_widget(upload_form) }}
        </form>
        <h2>Download file(s)</h2>
        {% if files is empty %}
            <p>No files found, upload a file first.</p>
        {% else %}
            <ul class="downloads">
                {% for file in files %}
                    <li><a href="{{ cmf_media_download_url(file) }}" title="Download {{ file.name }}">{{ file.description }} (id: {{ file.id }})</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    $("#file").fileinput({
        'allowedFileExtensions' : ['jpg', 'png','gif','pdf'],
    });
</script>
{% endblock %}