{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "club" %}

{% block body %}
<div class="panel panel-info">
    <div class="panel-heading"><b>{{ 'FORM.MYPAGE.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        {{ currentuser.name }} ({{ currentuser.username|upper }})
    </div>
    <div class="panel-body">
        {{ host.name|upper }}<br />
        <b>
{% if currentuser.role == 4 %}
            {% trans %}FORM.MYPAGE.EDITOR_ADMIN{% endtrans %}
{% else %}
            {% trans %}FORM.MYPAGE.EDITOR{% endtrans %}
{% endif %}
        </b><br />
        {% trans %}FORM.MYPAGE.SECTION.EDITOR.CAPTION{% endtrans %}
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>{% trans %}FORM.MYPAGE.SECTION.EDITOR.LEGEND.NAME{% endtrans %}</td>
                <td>{% trans %}FORM.MYPAGE.SECTION.EDITOR.LEGEND.EDITION{% endtrans %}</td>
                <td>{% trans %}FORM.MYPAGE.SECTION.EDITOR.LEGEND.DESCRIPTION{% endtrans %}</td>
                <td>{% trans %}FORM.MYPAGE.SECTION.EDITOR.LEGEND.STATUS{% endtrans %}</td>
            </tr>
        </thead>
        <tbody>
    {% if tournaments|length > 0 %}
        {% for tournament in tournaments %}
            <tr>
                <td>
        {% if currentuser.role == 4 %}
                    <a href="{{ path('_edit_tournament_chg', { 'tournamentid': tournament.id }) }}">
                    {{ tournament.name }}
                    </a>
        {% else %}
                    {{ tournament.name }}
        {% endif %}
                </td>
                <td>
                    <a href="{{ path('_tournament_overview', { 'tournament': tournament.key }) }}">
                    {{ tournament.edition }}
                    </a>
                </td>
                <td>
                    {{ tournament.description }}
                </td>
                <td>
        {% if currentuser.role == 4 %}
                    <a href="{{ path('_edit_event_list', { 'tournamentid': tournament.id }) }}">
                    <b>{{ ['FORM.MYPAGE.SECTION.EDITOR.STATUS.',tstat[tournament.id]]|join|trans }}</b>
                    </a>
        {% else %}
                    <b>{{ ['FORM.MYPAGE.SECTION.EDITOR.STATUS.',tstat[tournament.id]]|join|trans }}</b>
        {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
            <tr>
                <td colspan="4">
        {% if currentuser.role == 4 %}
                    <a href="{{ path('_edit_tournament_add', { 'hostid': host.id }) }}">
                        {{'FORM.MYPAGE.SECTION.EDITOR.NOTOURNAMENT'|trans|upper}}
                    </a>
        {% endif %}
                </td>
            </tr>
    {% endif %}
        </tbody>
    </table>
</div>
{% if tournaments|length > 0 and currentuser.role == 4 %}
<p>
    <a href="{{ path('_edit_tournament_add', { 'hostid': host.id }) }}">
        {% trans %}FORM.MYPAGE.SECTION.EDITOR.NOTOURNAMENT{% endtrans %}
    </a>
</p>
{% endif %}
{% endblock %}