{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "club" %}

{% import 'ICupPublicSiteBundle:Masters:tournament.html.twig' as tformatter %}

{% block widebody %}
{{ tformatter.mypage(currentuser) }}
{% endblock %}

{% block body %}
<p class="lead">
    {{ host.name|upper }}
</p>
<div class="panel panel-default">
    <div class="panel-heading"><b>{% trans %}FORM.MYPAGE.SECTION.EDITOR.CAPTION{% endtrans %}</b></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>{% trans %}FORM.MYPAGE.SECTION.EDITOR.LEGEND.NAME{% endtrans %}</td>
                <td>{% trans %}FORM.MYPAGE.SECTION.EDITOR.LEGEND.EDITION{% endtrans %}</td>
                <td>{% trans %}FORM.MYPAGE.SECTION.EDITOR.LEGEND.DESCRIPTION{% endtrans %}</td>
                <td>{% trans %}FORM.MYPAGE.SECTION.EDITOR.LEGEND.STATUS{% endtrans %}</td>
            </tr>
        </thead>
        <tbody>
    {% if tournaments|length > 0 %}
        {% for tournament in tournaments %}
            <tr>
                <td>
        {% if currentuser.role == 4 %}
                    <a href="{{ path('_edit_tournament_chg', { 'tournamentid': tournament.id }) }}">
                    {{ tournament.name }}
                    </a>
        {% else %}
                    {{ tournament.name }}
        {% endif %}
                </td>
                <td>
                    <a href="{{ path('_tournament_overview', { 'tournament': tournament.key }) }}">
                    {{ tournament.edition }}
                    </a>
                </td>
                <td>
                    {{ tournament.description }}
                </td>
                <td>
        {% if currentuser.role == 4 %}
                    <a href="{{ path('_edit_event_list', { 'tournamentid': tournament.id }) }}">
                    <b>{{ ['FORM.MYPAGE.SECTION.EDITOR.STATUS.',tstat[tournament.id]]|join|trans }}</b>
                    </a>
        {% else %}
                    <b>{{ ['FORM.MYPAGE.SECTION.EDITOR.STATUS.',tstat[tournament.id]]|join|trans }}</b>
        {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
            <tr>
                <td colspan="4">
        {% if currentuser.role == 4 %}
                    <a href="{{ path('_edit_tournament_add', { 'hostid': host.id }) }}">
                        {{'FORM.MYPAGE.SECTION.EDITOR.NOTOURNAMENT'|trans|upper}}
                    </a>
        {% endif %}
                </td>
            </tr>
    {% endif %}
        </tbody>
    </table>
</div>
{% if tournaments|length > 0 and currentuser.role == 4 %}
<a class="btn btn-primary btn-lg" href="{{ path('_edit_tournament_add', { 'hostid': host.id }) }}">
    <span class="fa fa-file"></span>&nbsp;{% trans %}FORM.MYPAGE.SECTION.EDITOR.NOTOURNAMENT{% endtrans %}
</a>
{% endif %}
{% endblock %}