{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "club" %}

{% block body %}
<h1>{% trans %}FORM.MYPAGE.TITLE{% endtrans %}</h1>
<p class="subtitle">{{ currentuser.name|capitalize }} ({{ currentuser.username|upper }})</p>
<p><b>
{% if currentuser.status == 3 %}
{% trans %}FORM.MYPAGE.PROSPECT{% endtrans %}
{% else %}
    {% if currentuser.role == 2 %}
    {% trans %}FORM.MYPAGE.CLUBADMIN{% endtrans %}
    {% else %}
    {% trans %}FORM.MYPAGE.CLUBUSER{% endtrans %}
    {% endif %}
{% endif %}
</b>
<br />
{{ club.name }}
&nbsp;
<img src="{{ imagepath }}/flags/{{ flags[club.country] }}" alt="{{ club.country|trans({},'lang') }}" title="{{ club.country|trans({},'lang') }}">
</p>
{% if currentuser.status == 3 %}
<p>Velkommen til klubben.<br/>Klubbens administrator skal godkende din ansøgning om tilknytning.
    Du kan afvente godkendelse eller du kan trække din ansøgning tilbage.</p>
<p><a href="{{ path('_club_user_refuse') }}">
    Træk ansøgning tilbage...
    </a></p>    
{% else %}
    {% if currentuser.role == 2 %}
        {% if prospectors|length > 0 %}
            <p><a href="{{ path('_user_my_page_users') }}">{% trans %}FORM.MYPAGE.PROSPECTS.AVAILABLE{% endtrans %}</a></p>
        {% endif %}
    {% endif %}
    {% if tournaments|length > 0 %}
    <table>
        <caption>{% trans %}FORM.MYPAGE.TOURNAMENTS.CAPTION{% endtrans %}</caption>
        <thead>
            <tr>
                <td>{% trans %}FORM.MYPAGE.TOURNAMENTS.TOURNAMENT{% endtrans %}</td>
                <td class="operand"></td>
                <td class="operand">{% trans %}FORM.MYPAGE.TOURNAMENTS.TEAMS{% endtrans %}</td>
            </tr>
        </thead>
        <tboby>
        {% for tmnt in tournaments %}
            {% set tournament = tmnt.tournament %}
            <tr class="{{ cycle(['even','odd'],loop.index) }}">
                <td class="clubname">
                    <a href="{{ path('_club_enroll_list', { 'tournament': tournament.id }) }}">{{ tournament.name|upper }}</a>
                </td>
                <td class="operand">
                    <a href="{{ path('_club_enroll_list', { 'tournament': tournament.id }) }}">
                    E
                    </a>    
                </td>
                <td class="score">
    {% if tmnt.enrolled > 0 %}
                    {{ tmnt.enrolled }}
    {% endif %}                
                </td>
            </tr>
        {% endfor %}
        </tboby>
        <tfoot>
            <tr>
                <td colspan="5"></td>
            </tr>
        </tfoot>
    </table>
    {% endif %}
{% endif %}
{% endblock %}