{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}

{% form_theme search_form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "admin" %}

{% import 'ICupPublicSiteBundle:Masters:tournament.html.twig' as tformatter %}

{% block header %}
{% include 'ICupPublicSiteBundle:User:Blocks/mypage_admin_menu.html.twig' %}
{% endblock %}

{% block widebody %}
{{ tformatter.mypage(currentuser) }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
                <a class="list-group-item" href="{{ path('_edit_host_list') }}">
                    <h3 class="list-group-item-heading">{% trans from 'menu' %}MENU.ADMIN.TOURNAMENT{% endtrans %}</h3>
                    <p class="list-group-item-text">Send invitation til deltagelse i denne undersøgelse.</p>
                </a>
                <br />
                <a class="list-group-item" href="{{ path('_edit_club_list') }}">
                    <h3 class="list-group-item-heading">{% trans from 'menu' %}MENU.ADMIN.TEAMS{% endtrans %}</h3>
                    <p class="list-group-item-text">Vis tilstanden for alle besvarelser til denne undersøgelse.</p>
                </a>
                <br />
                <a class="list-group-item" href="{{ path('_user_chg_pass') }}">
                    <h3 class="list-group-item-heading">{% trans from 'menu' %}MENU.ADMIN.CHANGEPWD{% endtrans %}</h3>
                    <p class="list-group-item-text">Respondenter der ikke har afsluttet sin undersøgelse tilsendes en notifikation på e-mail.</p>
                </a>
                <br />
                <a class="list-group-item" href="{{ path('_user_my_page_upload') }}">
                    <h3 class="list-group-item-heading">{% trans %}Læg dokumenter op{% endtrans %}</h3>
                    <p class="list-group-item-text">
                        Hent alle de afsluttede besvarelser for denne undersøgelse som en tekst fil.
                        Filen kan importeres i Excel.
                    </p>
                </a>
            </div>
        </div>
{% if tournaments is defined and tournaments %}
        <div class="col-sm-4">
            <h2>{% trans %}FORM.DASHBOARD.TOURNAMENTS.CAPTION{% endtrans %}</h2>
            <p>{{ host.name }}</p>
            <div class="list-group">
    {% for tournament in tournaments %}
                <a class="list-group-item" href="{{ path('_tournament_dashboard', { 'tournament': tournament.key }) }}">
                    <h3 class="list-group-item-heading">{{ tournament.name }}</h3>
                    <p class="list-group-item-text">
                        {{ ['FORM.DASHBOARD.TOURNAMENTS.STATUS.',tstat[tournament.id]]|join|trans }}
                    </p>
                    <h4 class="list-group-item-text">{% trans %}FORM.DASHBOARD.TOURNAMENTS.EDITION{% endtrans %}: {{ tournament.edition }}</h4>
                    <p class="list-group-item-text">{{ tournament.description }}</p>
                </a>
    {% endfor %}
            </div>
        </div>
{% endif %}
{% if currentuser.role == 9 %}
        <div class="col-sm-4">
            <h2>{% trans %}FORM.DASHBOARD.SEARCHCAPTION{% endtrans %}</h2>
            {{ form(search_form) }}
        </div>
    </div>
{% endif %}
{% endblock %}
