{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "club" %}

{% import 'ICupPublicSiteBundle:Masters:club.html.twig' as formatter %}
{% import 'ICupPublicSiteBundle:Masters:tournament.html.twig' as tformatter %}

{% block body %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-home"></i>&nbsp;
        {% trans %}FORM.MYPAGE.TITLE{% endtrans %}
    </h2>
    <p>
{% if host is defined and host %}                
        {{ host.name|upper }}
{% endif %}
{% if club is defined and club %}
        {{ formatter.displayclub(club, _context) }}
{% endif %}
    </p>
<div class="row">
    <div class="col-md-4">
{% if not is_granted('ROLE_EDITOR') and currentuser.status == 3 %}
        <h2>{% trans %}FORM.MYPAGE.REL.TITLE{% endtrans %}</h2>
        <p>{% trans %}FORM.MYPAGE.REL.TEXT{% endtrans %}</p>
        <p>
            <a href="{{ path('_club_user_dismiss') }}" class="btn btn-default" role="button">{% trans %}FORM.MYPAGE.REL.DISMISS{% endtrans %}&nbsp;<i class="fa fa-angle-double-right"></i></a>
        </p>
{% endif %}        
        {% include 'ICupPublicSiteBundle:User:Blocks/mypage_userinfo.html.twig' %}
    </div>
    <hr class="hidden-md hidden-lg" />
    <div class="col-md-8">
        <div class="row">
{% if not is_granted('ROLE_EDITOR') and currentuser.status != 3 %}
            <div class="col-md-6">
                {% include 'ICupPublicSiteBundle:User:Blocks/mypage_calendar.html.twig' %}
            </div>
{% endif %}        
            <div class="col-md-6">
                <div class="list-group">
                    <a class="list-group-item" href="{{ path('_user_chg_pass') }}">
                        <h4 class="list-group-item-heading">{% trans %}FORM.MYPAGE.CHGPASS.LINK{% endtrans %}</h4>
                        <p class="list-group-item-text">{% trans %}FORM.MYPAGE.CHGPASS.DESCRIPTION{% endtrans %}</p>
                    </a>
                    <a class="list-group-item list-group-item-facebook" href="{{ hwi_oauth_login_url('facebook') }}">
                        <h4 class="list-group-item-heading">
                            <span><i class="fa fa-facebook-f"></i></span>
                            <span>&nbsp;</span>
                            <span>{% trans %}FORM.MYPAGE.FACEBOOK.LINK{% endtrans %}</span>
                        </h4>
                        <p class="list-group-item-text">{% trans %}FORM.MYPAGE.FACEBOOK.DESCRIPTION{% endtrans %}</p>
                    </a>
                    <a class="list-group-item list-group-item-google" href="{{ hwi_oauth_login_url('google') }}">
                        <h4 class="list-group-item-heading">
                            <span><i class="fa fa-google-plus"></i></span>
                            <span>&nbsp;</span>
                            <span>{% trans %}FORM.MYPAGE.GOOGLE.LINK{% endtrans %}</span>
                        </h4>
                        <p class="list-group-item-text">{% trans %}FORM.MYPAGE.GOOGLE.DESCRIPTION{% endtrans %}</p>
                    </a>
{% if is_granted('ROLE_EDITOR_ADMIN') %}
                    <a class="list-group-item" href="{{ path('_edit_dashboard') }}">
                        <h4 class="list-group-item-heading">{% trans %}FORM.MYPAGE.DASHBOARD.LINK{% endtrans %}</h4>
                        <p class="list-group-item-text">{% trans %}FORM.MYPAGE.DASHBOARD.DESCRIPTION{% endtrans %}</p>
                    </a>
{% endif %}        
    {% if currentuser.role < 3 %}
        {% if currentuser.status == 4 %}
            {% if currentuser.role == 2 %}
                    <a class="list-group-item" href="{{ path('_user_my_page_users') }}">
                        <h4 class="list-group-item-heading">{% trans %}FORM.MYPAGE.USERS.LINK{% endtrans %}</h4>
                        <p class="list-group-item-text">{% trans %}FORM.MYPAGE.USERS.DESCRIPTION{% endtrans %}</p>
                {% if prospectors is defined and prospectors|length > 0 %}
                        <span class="label label-success">
                            <i class="fa fa-star"></i>&nbsp;
                            {% trans %}FORM.MYPAGE.PROSPECTS.AVAILABLE{% endtrans %}
                        </span>
                {% endif %}
                    </a>
            {% endif %}
        {% else %}
                    <a class="list-group-item" href="{{ path('_club_user_refuse') }}">
                        <h4 class="list-group-item-heading">{% trans %}FORM.MYPAGE.REFUSE.LINK{% endtrans %}</h4>
                        <p class="list-group-item-text">{% trans %}FORM.MYPAGE.REFUSE.DESCRIPTION{% endtrans %}</p>
                    </a>
        {% endif %}
    {% endif %}
                </div>
            </div>
        </div>
{% if currentuser.role < 3 %}
        <div class="row">
            <div class="col-md-12">
    {% if currentuser.status == 3 %}
        {{ sonata_block_render({'name': '/cms/content/blocks/mypage/section_1'}) }}
    {% endif %}
    {% if currentuser.status != 5 %}
        {% for tournament in statuslist.enroll %}
                <h2>{% trans %}FORM.MYPAGE.ENROLL.TITLE{% endtrans %}</h2>
                <h3><span class="label label-default"><i class="fa fa-ticket"></i>&nbsp;{{ tournament.name }}</span></h3>
                <p>{% trans %}FORM.MYPAGE.ENROLL.DESCRIPTION{% endtrans %}</p>
            {% if currentuser.status == 4 %}
                <p>
                    <a href="{{ path('_club_enroll_check') }}" class="btn btn-default" role="button">{% trans %}FORM.MYPAGE.REL.LINK{% endtrans %}&nbsp;<i class="fa fa-angle-double-right"></i></a>
                </p>
            {% endif %}        
        {% endfor %}
    {% endif %}        
            </div>
        </div>
{% endif %}        
{% if teams is defined and teams|length > 0 %}
        <div class="row">
            <div class="col-sm-12">
                <h2>{% trans %}FORM.MYPAGE.TOURNAMENTS.TITLE{% endtrans %}</h2>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            {% for catid,category in teams %}
                            <div class="col-sm-4">
                                <p class="lead">
                                    <a href="{{ path('_showcategory', { 'categoryid': categories[catid].id }) }}">
                                        <b>{% trans from 'tournament' %}CATEGORY{% endtrans %} {{ categories[catid].name }}</b>
                                    </a><br />
                                    {{ ['GENDER.',
                                        categories[catid].gender,
                                        categories[catid].classification]|join|transchoice(categories[catid].age, { '%age%': categories[catid].age },'tournament') }}
                                </p>
                                <div class="list-group">
                                {% for team in category %}
                                    <a class="list-group-item" href="{{ path('_showteam_all', { 'teamid': team.id }) }}">
                                        <h4 class="list-group-item-heading">{% trans from 'tournament' %}GROUP{% endtrans %} {{ team.grp }}</h4>
                                        <p class="list-group-item-text">{{ team.name }}</p>
                                    </a>
                                {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
    </div>
</div>    
{% endblock %}