{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "club" %}

{% block widebody %}
    <div class="navy">
        <div class="container tall">
            <div class="lead">
                {{ sonata_block_render({'name': '/cms/content/blocks/enrollment/step5'}) }}
            </div>
        </div>
    </div>
    <div class="bg-teal black">
        <div class="container tall">
            <div class="lead">
                <div class="row">
                    <div class="col-md-6">
                        <h3>{% trans %}FORM.ENROLLMENT.STEP5.TITLE{% endtrans %}</h3>
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <h4>{% trans %}FORM.ENROLLMENT.STEP5.HEADER1{% endtrans %}</h4>
                        <p><strong>{% trans %}FORM.ENROLLMENT.STEP5.TEXT1{% endtrans %}</strong></p>
                        <div class="row">
                            <div class="col-lg-6">{{ form_row(form.arrival_date) }}</div>
                            <div class="col-lg-6">{{ form_row(form.arrival_time) }}</div>
                        </div>
                        <p><strong>{% trans %}FORM.ENROLLMENT.STEP5.HEADER2{% endtrans %}</strong></p>
                        <div class="row">
                            <div class="col-lg-6">{{ form_row(form.departure_date) }}</div>
                            <div class="col-lg-6">{{ form_row(form.departure_time) }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>{% trans %}FORM.ENROLLMENT.STEP5.HEADER3{% endtrans %}</h4>
                        <p><strong>{% trans %}FORM.ENROLLMENT.STEP5.TEXT3{% endtrans %}</strong></p>
                        <div class="row">
                            <div class="col-lg-4">{{ form_row(form.b_arrival_airport) }}</div>
                            <div class="col-lg-4">{{ form_row(form.b_arrival_date) }}</div>
                            <div class="col-lg-4">{{ form_row(form.b_arrival_time) }}</div>
                        </div>
                        <p><strong>{% trans %}FORM.ENROLLMENT.STEP5.TEXT4{% endtrans %}</strong></p>
                        <div class="row">
                            <div class="col-lg-4">{{ form_row(form.b_departure_airport) }}</div>
                            <div class="col-lg-4">{{ form_row(form.b_departure_date) }}</div>
                            <div class="col-lg-4">{{ form_row(form.b_departure_time) }}</div>
                        </div>
                    </div>
                </div>
                <hr class="border--navy" />
                <div class="row">
                    <div class="col-xs-6 col-xs-push-6 text-right">{{ form_row(form.send) }}</div>
                    <div class="col-xs-6 col-xs-pull-6">{{ form_row(form.back) }}</div>
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}