{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "club" %}

{% block widebody %}
    <div class="navy">
        <div class="container tall">
            <div class="lead">
                {{ sonata_block_render({'name': '/cms/content/blocks/enrollment/step4'}) }}
            </div>
        </div>
    </div>
    <div class="bg-silver black">
        <div class="container tall">
            <div class="lead">
                <div class="row">
                    <div class="col-md-6">
                        <h2>{% trans %}FORM.ENROLLMENT.STEP4.TITLE{% endtrans %}</h2>
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <h3>{% trans %}FORM.ENROLLMENT.STEP4.HEADER1{% endtrans %}</h3>
                        <p>{% trans %}FORM.ENROLLMENT.STEP4.TEXT1{% endtrans %}</p>
                        {{ form_row(form.a_teramo_wob) }}
                        {{ form_row(form.a_teramo_wb) }}
                        {{ form_row(form.a_teramo_tent) }}
                        {{ form_row(form.a_teramo_hotel) }}
                    </div>
                    <div class="col-md-6">
                        <h3>{% trans %}FORM.ENROLLMENT.STEP4.HEADER2{% endtrans %}</h3>
                        <p>{% trans %}FORM.ENROLLMENT.STEP4.TEXT2{% endtrans %}</p>
                        {{ form_row(form.a_guilianova_tent) }}
                        {{ form_row(form.a_guilianova_hotel) }}
                        <h3>{% trans %}FORM.ENROLLMENT.STEP4.HEADER3{% endtrans %}</h3>
                        <p>{% trans %}FORM.ENROLLMENT.STEP4.TEXT3{% endtrans %}</p>
                        {{ form_row(form.a_restaurant) }}
                        <h3>{% trans %}FORM.ENROLLMENT.STEP4.HEADER4{% endtrans %}</h3>
                        <p>{% trans %}FORM.ENROLLMENT.STEP4.TEXT4{% endtrans %}</p>
                        {{ form_row(form.a_other) }}
                        <p>{% trans %}FORM.ENROLLMENT.STEP4.TEXT5{% endtrans %}</p>
                        {{ form_row(form.a_none) }}
                    </div>
                </div>
                <hr class="border--navy" />
                <div class="row">
                    <div class="col-xs-6 col-xs-push-6 text-right">{{ form_row(form.send) }}</div>
                    <div class="col-xs-6 col-xs-pull-6">{{ form_row(form.back) }}</div>
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}