{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "club" %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        {{ sonata_block_render({'name': '/cms/content/blocks/enrollment/categories'}) }}
    </div>
    <div class="col-md-6">
        <h2><i class="fa fa-ticket"></i> Registrering og tilmelding (del 3)</h2>
        <h4>Angiv antal hold der tilmeldes i hver kategori</h4>
        <div class="row">
            <div class="col-md-4"><h5>Universitetshold</h5></div>
            <div class="col-md-4">{{ form_row(form.t_ntmu18) }}</div>
            <div class="col-md-4">{{ form_row(form.t_ntfu18) }}</div>
        </div>
        <div class="row">
            <div class="col-md-4"><h5>Seniorer</h5></div>
            <div class="col-md-4">{{ form_row(form.t_mo18) }}</div>
            <div class="col-md-4">{{ form_row(form.t_fo18) }}</div>
        </div>
        <div class="row">
            <div class="col-md-4"><h5>Unge under 18</h5></div>
            <div class="col-md-4">{{ form_row(form.t_mu18) }}</div>
            <div class="col-md-4">{{ form_row(form.t_fu18) }}</div>
        </div>
        <div class="row">
            <div class="col-md-4"><h5>Unge under 16</h5></div>
            <div class="col-md-4">{{ form_row(form.t_mu16) }}</div>
            <div class="col-md-4">{{ form_row(form.t_fu16) }}</div>
        </div>
        <div class="row">
            <div class="col-md-4"><h5>Unge under 14</h5></div>
            <div class="col-md-4">{{ form_row(form.t_mu14) }}</div>
            <div class="col-md-4">{{ form_row(form.t_fu14) }}</div>
        </div>
        <div class="row">
            <div class="col-md-4"><h5>Unge under 12</h5></div>
            <div class="col-md-4">{{ form_row(form.t_mu12) }}</div>
            <div class="col-md-4">{{ form_row(form.t_fu12) }}</div>
        </div>
        <p>
            {{ form(form) }}
        </p>
    </div>
</div>
{% endblock %}