{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "club" %}

{% block widebody %}
    <div class="navy">
        <div class="container tall">
            <div class="lead">
                {{ sonata_block_render({'name': '/cms/content/blocks/enrollment/step2'}) }}
            </div>
        </div>
    </div>
    <div class="bg-aqua navy">
        <div class="container tall">
            <div class="lead">
                <h2>{% trans %}FORM.ENROLLMENT.STEP2.TITLE{% endtrans %}</h2>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <p>{% trans %}FORM.ENROLLMENT.STEP2.HEADER1{% endtrans %}</p>
                        {{ form_row(form.manager, {'type': 'text'}) }}
                        {{ form_row(form.m_mobile, {'type': 'tel'}) }}
                        {{ form_row(form.m_email, {'type': 'email'}) }}
                    </div>
                    <div class="col-md-6">
                        <p>{% trans %}FORM.ENROLLMENT.STEP2.HEADER2{% endtrans %}</p>
                        {{ form_row(form.m_address) }}
                        {{ form_row(form.m_city) }}
                        {{ form_row(form.m_country) }}
                        {{ form_row(form.m_phone) }}
                        {{ form_row(form.m_fax) }}
                        {{ form_row(form.m_skype) }}
                    </div>
                </div>
                <hr class="border--navy" />
                <div class="row">
                    <div class="col-xs-6 col-xs-push-6 text-right">{{ form_row(form.send) }}</div>
                    <div class="col-xs-6 col-xs-pull-6">{{ form_row(form.back) }}</div>
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}