{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "club" %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        {{ sonata_block_render({'name': '/cms/content/blocks/enrollment/accomodation'}) }}
    </div>
    <div class="col-md-6">
        <h2><i class="fa fa-ticket"></i> Registrering og tilmelding (del 4)</h2>
        <h3>Ophold og forplejning</h3>
        <h4>Angiv antal personer der tilmeldes under hver type</h4>
        <p>Ophold ved Teramo</p>
        {{ form_row(form.a_teramo_wob) }}
        {{ form_row(form.a_teramo_wb) }}
        {{ form_row(form.a_teramo_tent) }}
        {{ form_row(form.a_teramo_hotel) }}
        <p>Ophold ved kysten</p>
        {{ form_row(form.a_guilianova_tent) }}
        {{ form_row(form.a_guilianova_hotel) }}
        <p>Forplejning</p>
        {{ form_row(form.a_restaurant) }}
        <p>Andre former for ophold</p>
        {{ form_row(form.a_other) }}
        {{ form_row(form.a_none) }}
        <p>
            {{ form(form) }}
        </p>
    </div>
</div>
{% endblock %}