{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "club" %}

{% import 'ICupPublicSiteBundle:Masters:club.html.twig' as formatter %}

{% block widebody %}
{# *******************************************
   TOP BANNER
   SMALL MOBILE DEVICES
   ******************************************* #}
<div class="visible-xs">
    <div style="background-image: url('{{ imagepath }}/IWC/bg.jpg');
                background-size: cover;
                background-repeat: no-repeat;">
        <div class="container" style="padding-top: 10px; padding-bottom: 10px;">
            <img src="{{ imagepath }}/IWC/logo.png" alt="logo" class="img-responsive" />
        </div>
    </div>
    <div class="container">
    {% for tournament in statuslist.active %}
        <h4 style="margin-bottom: 0;"><i class="fa fa-flag">&nbsp;</i>{% trans %}FORM.FRONTPAGE.BLOCK3.TITLE{% endtrans %}</h4>
        <div class="small">{{ tournament.edition }} - {{ tournament.name }}</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td class="narrow-col">
                        {% trans from "tournament" %}LEGEND.TIME{% endtrans %}<br />
                        {% trans from "tournament" %}LEGEND.PLAYGROUND{% endtrans %}
                    </td>
                    <td>
                        {% trans from "tournament" %}LEGEND.HOMETEAM{% endtrans %}<br />
                        {% trans from "tournament" %}LEGEND.AWAYTEAM{% endtrans %}
                    </td>
                    <td class="narrow-col">{% trans from "tournament" %}LEGEND.RESULT{% endtrans %}</td>
                </tr>
            </thead>
            <tbody>
        {% for matchset in matchlist %}
                <tr><td colspan="3">
                    {{ 'FORMAT.LONGDATE'|transchoice(matchset[0].schedule|date('j'), {
                            '%week%': ['WEEK.',matchset[0].schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                            '%day%': matchset[0].schedule|date('j'),
                            '%month%': ['MONTH.',matchset[0].schedule|date('M')|upper]|join|trans([],'messages'),
                            '%year%': matchset[0].schedule|date('Y')}, 'messages') }}
                </td></tr>
            {% for match in matchset %}
                <tr>
                    <td class="narrow-col">
                        {{ match.schedule|date('FORMAT.TIME'|trans([],'messages')) }}<br />
                        <a href="{{ path('_showplayground_full', { 'playgroundid': match.playground.id }) }}" title="{{ match.playground.name }}">{{ match.playground.no }}</a>
                    </td>
                    <td>{{ formatter.clubxs(match.home, match.away, match.group.id, _context) }}</td>
                    <td class="narrow-col text-nowrap">{{ match.home.score }}-{{ match.away.score }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
            </tbody>
        </table>
        <br />
        <div class="list-group">
            <a class="list-group-item" href="{{ path('_club_select') }}">
                <h4 class="list-group-item-heading">{% trans %}FORM.FRONTPAGE.BLOCK1.TITLE{% endtrans %}</h4>
                <p class="list-group-item-text">{% trans %}FORM.FRONTPAGE.BLOCK1.DESCRIPTION{% endtrans %}</p>
            </a>
            <a class="list-group-item" href="{{ path('_show_matches', {'tournament': tournament.key}) }}">
                <h4 class="list-group-item-heading">{% trans %}FORM.FRONTPAGE.BLOCK3.LEARNMORE{% endtrans %}</h4>
                <p class="list-group-item-text">{% trans %}FORM.FRONTPAGE.BLOCK3.DESCRIPTION{% endtrans %}</p>
            </a>
        {% for teaser in teaserlist %}
            <a class="list-group-item" href="{{ teaser.path }}">
                <h4 class="list-group-item-heading">{{ teaser.titletext|trans([], 'tournament') }}</h4>
                <p class="list-group-item-text">{{ teaser.text|trans([], 'tournament') }}</p>
            </a>
        {% endfor %}
        </div>
    {% else %}
        {{ sonata_block_render({'name': '/cms/content/blocks/frontpage/section_1'}) }}
    {% endfor %}
    </div>
</div>
{# *******************************************
   TOP BANNER
   OTHER DEVICES
   ******************************************* #}
<div class="hidden-xs">
    <div class="jumbotron"
         style="
        margin-bottom: 0;
        background-image: url('{{ imagepath }}/IWC/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;">
        <div class="container">
            <img src="{{ imagepath }}/IWC/logo.png" alt="logo" class="img-responsive" />
    {% for tournament in statuslist.active %}
            <p class="lead">{{ tournament.edition }} - {{ tournament.name }}</p>
    {% endfor %}
        </div>
    </div>
    <div class="container">
    {% for flashMessage in app.session.flashbag.get('msgsent') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
    </div>
    <div class="container">
    {% for tournament in statuslist.active %}
        <div class="row">
            <div class="col-xs-8">
                <h2><i class="fa fa-flag">&nbsp;</i>{% trans %}FORM.FRONTPAGE.BLOCK3.TITLE{% endtrans %}</h2>
            </div>
            <div class="col-xs-4 visible-xs" >
                <a href="{{ path('_club_select') }}" role="button">
                    <h3><span class="label label-default">{% trans %}FORM.FRONTPAGE.BLOCK1.TITLE{% endtrans %}&nbsp;<i class="fa fa-angle-double-right"></i></span></h3>
                </a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <div class="visible-sm visible-md visible-lg">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td class="narrow-col">{% trans from "tournament" %}LEGEND.NO{% endtrans %}</td>
                                <td class="narrow-col">{% trans from "tournament" %}LEGEND.TIME{% endtrans %}<br />
                                                       {% trans from "tournament" %}LEGEND.PLAYGROUND{% endtrans %}</td>
                                <td class="flag"></td>
                                <td>{% trans from "tournament" %}LEGEND.HOMETEAM{% endtrans %}</td>
                                <td class="flag"></td>
                                <td>{% trans from "tournament" %}LEGEND.AWAYTEAM{% endtrans %}</td>
                                <td class="narrow-col">{% trans from "tournament" %}LEGEND.RESULT{% endtrans %}</td>
                            </tr>
                        </thead>
                        <tbody>
        {% for matchset in matchlist %}
                            <tr><td colspan="7">
                                    {{ 'FORMAT.LONGDATE'|transchoice(matchset[0].schedule|date('j'), {
                                            '%week%': ['WEEK.',matchset[0].schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                                            '%day%': matchset[0].schedule|date('j'),
                                            '%month%': ['MONTH.',matchset[0].schedule|date('M')|upper]|join|trans([],'messages'),
                                            '%year%': matchset[0].schedule|date('Y')}, 'messages') }}
                            </td></tr>
            {% for match in matchset %}
                            <tr>
                                <td class="narrow-col">{{ match.matchno }}</td>
                                <td class="narrow-col">{{ match.schedule|date('FORMAT.TIME'|trans([],'messages')) }}<br />
                                    <a href="{{ path('_showplayground_full', { 'playgroundid': match.playground.id }) }}" title="{{ match.playground.name }}">{{ match.playground.no }}</a></td>
                                {{ formatter.club(match.home, match.group.id, _context) }}
                                {{ formatter.club(match.away, match.group.id, _context) }}
                                <td class="narrow-col text-nowrap">{{ match.home.score }}-{{ match.away.score }}</td>
                            </tr>
            {% endfor %}
        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="visible-xs">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td class="narrow-col">{% trans from "tournament" %}LEGEND.NO{% endtrans %}</td>
                                <td class="narrow-col">{% trans from "tournament" %}LEGEND.TIME{% endtrans %}<br />
                                                       {% trans from "tournament" %}LEGEND.PLAYGROUND{% endtrans %}</td>
                                <td>{% trans from "tournament" %}LEGEND.HOMETEAM{% endtrans %}<br />
                                    {% trans from "tournament" %}LEGEND.AWAYTEAM{% endtrans %}</td>
                                <td class="narrow-col">{% trans from "tournament" %}LEGEND.RESULT{% endtrans %}</td>
                            </tr>
                        </thead>
                        <tbody>
        {% for matchset in matchlist %}
                            <tr><td colspan="4">
                                {{ 'FORMAT.LONGDATE'|transchoice(matchset[0].schedule|date('j'), {
                                        '%week%': ['WEEK.',matchset[0].schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                                        '%day%': matchset[0].schedule|date('j'),
                                        '%month%': ['MONTH.',matchset[0].schedule|date('M')|upper]|join|trans([],'messages'),
                                        '%year%': matchset[0].schedule|date('Y')}, 'messages') }}
                            </td></tr>
            {% for match in matchset %}
                            <tr>
                                <td class="narrow-col">{{ match.matchno }}</td>
                                <td class="narrow-col">{{ match.schedule|date('FORMAT.TIME'|trans([],'messages')) }}<br />
                                    <a href="{{ path('_showplayground_full', { 'playgroundid': match.playground.id }) }}" title="{{ match.playground.name }}">{{ match.playground.no }}</a></td>
                                <td>
                                    {{ formatter.clubxs(match.home, match.away, match.group.id, _context) }}
                                </td>
                                <td class="narrow-col text-nowrap">{{ match.home.score }}-{{ match.away.score }}</td>
                            </tr>
            {% endfor %}
        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a href="{{ path('_show_matches', {'tournament': tournament.key}) }}" role="button">
                    <h3><span class="label label-default">{% trans %}FORM.FRONTPAGE.BLOCK3.LEARNMORE{% endtrans %}</span></h3>
                </a>
                <br />
                <div class="list-group">
        {% for teaser in teaserlist %}
                    <a class="list-group-item" href="{{ teaser.path }}">
                        <h4 class="list-group-item-heading">{{ teaser.titletext|trans([], 'tournament') }}</h4>
                        <p class="list-group-item-text">{{ teaser.text|trans([], 'tournament') }}</p>
                    </a>
        {% endfor %}
                </div>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                <img src="{{ imagepath }}/IWC/Teramo.png" alt="logo" class="img-responsive img-rounded" />
                <h2>{% trans %}FORM.FRONTPAGE.BLOCK1.TITLE{% endtrans %}</h2>
                <p class="lead">{% trans %}FORM.FRONTPAGE.BLOCK1.DESCRIPTION{% endtrans %}</p>
                <p>
                    <a class="btn btn-success btn-lg" href="{{ path('_club_select') }}" role="button">{% trans %}FORM.FRONTPAGE.BLOCK1.LEARNMORE{% endtrans %}&nbsp;<i class="fa fa-angle-double-right"></i></a>
                </p>
            </div>
        </div>
    {% else %}
        {{ sonata_block_render({'name': '/cms/content/blocks/frontpage/section_1'}) }}
    {% endfor %}
    </div>
</div>
{# *******************************************
   INFO BANNERS
   ALL DEVICES
   ******************************************* #}
<hr />        
{% set spaceleft = 8 - ((statuslist.enroll|length * 4) + (statuslist.done|length * 4)) %}
<div class="row">
{% if spaceleft > 0 %}
    <div class="col-md-{{ spaceleft / 2 }}"></div>
{% endif %}
{% for tournament in statuslist.enroll %}
    <div class="col-md-4">
        <center>
            <i class="fa fa-ticket fa-5x"></i>
            <h2>{% trans %}FORM.FRONTPAGE.BLOCK2.TITLE{% endtrans %}</h2>
            <p>{% trans %}FORM.FRONTPAGE.BLOCK2.DESCRIPTION{% endtrans %}</p>
            <p>
                <a href="{{ path('_enrollment') }}" role="button">
                    <h3><span class="label label-success"><i class="fa fa-ticket"></i>&nbsp;{{ tournament.name }}</span></h3>
                </a>
            </p>
        </center>
        <br />
        <hr class="visible-sm visible-xs" />
    </div>
{% endfor %}
    <div class="col-md-4">
        <center>
            <i class="fa fa-info-circle fa-5x"></i>
            <h2>{% trans %}FORM.FRONTPAGE.BLOCK5.TITLE{% endtrans %}</h2>
            <p>{% trans %}FORM.FRONTPAGE.BLOCK5.DESCRIPTION{% endtrans %}</p>
            <p>
                <a href="{{ path('_information') }}" role="button">
                    <h3><span class="label label-default"><i class="fa fa-info-circle"></i>&nbsp;Information</span></h3>
                </a>
            </p>
        </center>
        <br />
        <hr class="visible-sm visible-xs" />
    </div>
{% for tournament in statuslist.done %}
    <div class="col-md-4">
        <center>
            <i class="fa fa-trophy fa-5x"></i>
            <h2>{% trans %}FORM.FRONTPAGE.BLOCK4.TITLE{% endtrans %}</h2>
            <p>{% trans %}FORM.FRONTPAGE.BLOCK4.DESCRIPTION{% endtrans %}</p>
            <p>
                <a href="{{ path('_tournament_winners', {'tournament': tournament.key}) }}" role="button">
                    <h3><span class="label label-primary"><i class="fa fa-trophy"></i>&nbsp;{{ tournament.name }}</span></h3>
                </a>
            </p>
        </center>
        <br />
        <hr class="visible-sm visible-xs" />
    </div>
{% endfor %}
{% if spaceleft > 0 %}
    <div class="col-md-{{ spaceleft / 2 }}"></div>
{% endif %}
</div>
{# *******************************************
   SEND MAIL BANNER
   ALL DEVICES
   ******************************************* #}
<p>&nbsp;</p>
<div class="jumbotron">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2>Få mere information - udfyld og send</h2>
                <p>
                    {{ form(form) }}
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
</div>
{% endblock %}
