{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "club" %}

{% import 'ICupPublicSiteBundle:Masters:club.html.twig' as formatter %}
{% import 'ICupPublicSiteBundle:Masters:tournament.html.twig' as tformatter %}

{% block widebody %}
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/da_DK/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    {% if statuslist.active|length == 0 %}
    <div class="navy">
        <div class="container">
            {{ sonata_block_render({'name': '/cms/content/blocks/frontpage/section_1'}) }}
        </div>
    </div>
    <hr />        
    {% endif %}
{% endblock %}

{% block body %}
    {% for tournament in statuslist.active %}
    <div class="row">
{# *******************************************
   TOP BANNER
   SMALL MOBILE DEVICES
   ******************************************* #}
        <div class="col-md-12 visible-xs-block">
            <h4 style="margin-bottom: 0;"><i class="fa fa-flag"></i>&nbsp;{% trans %}FORM.FRONTPAGE.BLOCK3.TITLE{% endtrans %}</h4>
            <div class="small">{{ tournament.edition }} - {{ tournament.name }}</div>
            {{ tformatter.listmatchesxs(matchlist, _context) }}
        </div>
{# *******************************************
   TOP BANNER
   OTHER DEVICES
   ******************************************* #}
        <div class="col-md-12 hidden-xs">
            <h2 style="margin-bottom: 0;"><i class="fa fa-flag">&nbsp;</i>{% trans %}FORM.FRONTPAGE.BLOCK3.TITLE{% endtrans %}</h2>
            <div>{{ tournament.edition }} - {{ tournament.name }}</div>
            <hr />
        </div>
        {% for flashMessage in app.session.flashbag.get('msgsent') %}
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                {{ flashMessage|trans }}
            </div>
        </div>
        {% endfor %}
        <div class="col-md-8 hidden-xs">
            {{ tformatter.listmatches(matchlist, _context) }}
        </div>
        <div class="col-md-4 hidden-xs hidden-sm">
            {{ sonata_block_render({'name': '/cms/content/blocks/frontpage/follow_club'}) }}
            <p>
                <a class="btn btn-success btn-lg" href="{{ path('_club_select') }}" role="button">{% trans %}FORM.FRONTPAGE.BLOCK1.LEARNMORE{% endtrans %}&nbsp;<i class="fa fa-angle-double-right"></i></a>
            </p>
            <br />
        </div>
{# *******************************************
   MORE OPTIONS
   ALL DEVICES
   ******************************************* #}
        <div class="col-md-4">
            <div class="list-group">
                <div class="list-group-item">
                    <i class="fa fa-facebook-official fa-5x text-primary"></i>&nbsp;
                    <div class="fb-like"
                         data-href="http://icup.dk"
                         data-layout="box_count"
                         data-action="like"
                         data-show-faces="true"
                         data-share="true">
                    </div>
                </div>
            </div>
            <div class="list-group">
                <a class="list-group-item" href="{{ path('_tournament_overview', {'tournament': tournament.key}) }}">
                    <h4 class="list-group-item-heading">{% trans %}FORM.FRONTPAGE.BLOCK3.LEARNMORE{% endtrans %}</h4>
                    <p class="list-group-item-text">{% trans %}FORM.FRONTPAGE.BLOCK3.DESCRIPTION{% endtrans %}</p>
                </a>
            {% for teaser in teaserlist %}
                <a class="list-group-item" href="{{ teaser.path }}">
                    <h4 class="list-group-item-heading">{{ teaser.titletext|trans([], 'tournament') }}</h4>
                    <p class="list-group-item-text">{{ teaser.text|trans([], 'tournament') }}</p>
                </a>
            {% endfor %}
                <a class="list-group-item visible-sm-block visible-xs-block" href="{{ path('_club_select') }}">
                    <h4 class="list-group-item-heading">{% trans %}FORM.FRONTPAGE.BLOCK1.TITLE{% endtrans %}</h4>
                    <p class="list-group-item-text">{% trans %}FORM.FRONTPAGE.BLOCK1.DESCRIPTION{% endtrans %}</p>
                </a>
            </div>
        </div>
    </div>
    <hr />        
    {% endfor %}
{# *******************************************
   INFO BANNERS
   ALL DEVICES
   ******************************************* #}
{% set spaceleft = 8 - ((statuslist.enroll|length * 4) + (statuslist.done|length * 4)) %}
    <div class="row">
        <div class="col-md-12">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- icup.dk -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-4146313161751000"
                 data-ad-slot="6977199688"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <hr />
        </div>
{% if spaceleft > 0 %}
        <div class="col-md-{{ spaceleft / 2 }}"></div>
{% endif %}
{% for tournament in statuslist.enroll %}
        <div class="col-md-4">
            <center>
                <i class="fa fa-ticket fa-5x"></i>
                <h2>{% trans %}FORM.FRONTPAGE.BLOCK2.TITLE{% endtrans %}</h2>
                <p>{% trans %}FORM.FRONTPAGE.BLOCK2.DESCRIPTION{% endtrans %}</p>
                <p>
                    <a href="{{ path('_enrollment') }}" role="button">
                        <h3><span class="label label-success"><i class="fa fa-ticket"></i>&nbsp;{{ tournament.name }}</span></h3>
                    </a>
                </p>
            </center>
            <br />
            <hr class="visible-sm visible-xs" />
        </div>
{% endfor %}
        <div class="col-md-4">
            <center>
                <i class="fa fa-info-circle fa-5x"></i>
                <h2>{% trans %}FORM.FRONTPAGE.BLOCK5.TITLE{% endtrans %}</h2>
                <p>{% trans %}FORM.FRONTPAGE.BLOCK5.DESCRIPTION{% endtrans %}</p>
                <p>
                    <a href="{{ path('_information') }}" role="button">
                        <h3><span class="label label-default"><i class="fa fa-info-circle"></i>&nbsp;Information</span></h3>
                    </a>
                </p>
            </center>
            <br />
            <hr class="visible-sm visible-xs" />
        </div>
{% for tournament in statuslist.done %}
        <div class="col-md-4">
            <center>
                <i class="fa fa-trophy fa-5x"></i>
                <h2>{% trans %}FORM.FRONTPAGE.BLOCK4.TITLE{% endtrans %}</h2>
                <p>{% trans %}FORM.FRONTPAGE.BLOCK4.DESCRIPTION{% endtrans %}</p>
                <p>
                    <a href="{{ path('_tournament_winners', {'tournament': tournament.key}) }}" role="button">
                        <h3><span class="label label-primary"><i class="fa fa-trophy"></i>&nbsp;{{ tournament.name }}</span></h3>
                    </a>
                </p>
            </center>
            <br />
            <hr class="visible-sm visible-xs" />
        </div>
{% endfor %}
{% if spaceleft > 0 %}
        <div class="col-md-{{ spaceleft / 2 }}"></div>
{% endif %}
    </div>
{% endblock %}

{% block footer %}
{# *******************************************
   SEND MAIL BANNER
   ALL DEVICES
   ******************************************* #}
    <div class="jumbotron">
        <div class="container">
            <h2>{% trans %}FORM.FRONTPAGE.SENDMAIL{% endtrans %}</h2>
            <p>
                {{ form(form) }}
            </p>
        </div>
    </div>
{% endblock %}

