{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "frontpage" %}

{% import 'ICupPublicSiteBundle:Masters:club.html.twig' as formatter %}
{% import 'ICupPublicSiteBundle:Masters:tournament.html.twig' as tformatter %}

{% block widebody %}
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/da_DK/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="container">
        <div class="row">
            {% for flashMessage in app.session.flashbag.get('msgsent') %}
            <div class="col-md-12">
                <p>&nbsp;</p>
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    {{ flashMessage|trans }}
                </div>
            </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('msgnotsent') %}
            <div class="col-md-12">
                <p>&nbsp;</p>
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    {{ flashMessage|trans }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% for tournament in statuslist.active %}
        <div class="FlexCard">
            <div class="FlexCard-background">
                <div style="background-image: url({{ asset('bundles/icuppublicsite/images/IWC/atmnt.jpg') }})"></div>
            </div>
            <div class="FlexCard-wrap white">
                <div class="FlexCard-content" style="height: 400px; margin: 50px">
                    <h1 class="FlexCard-title FlexCard-title--large">{{ tournament.name }}</h1>
                    <h2 class="FlexCard-title">{% trans %}FORM.FDPFRONTPAGE.BLOCK1.TITLE{% endtrans %}</h2>
                    <p class="lead">{% trans %}FORM.FDPFRONTPAGE.BLOCK1.DESCRIPTION{% endtrans %}</p>
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <a href="{{ path('_tournament_overview', {'tournament': tournament.key}) }}" role="button">
                                <h3><span class="label bg-google-green"><i class="fa fa-chevron-right"></i>&nbsp;{% trans %}FORM.FDPFRONTPAGE.BLOCK3.LEARNMORE{% endtrans %}</span></h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# *******************************************
           SMALL MOBILE DEVICES
           ******************************************* #}
        {% if matchlist|length > 0 %}
        <div class="container" style="padding-top: 30px; padding-bottom: 10px;">
            <div class="row">
                <div class="col-md-12 visible-xs-block">
                    {{ tformatter.listmatchesxs(matchlist, _context) }}
                </div>
        {# *******************************************
           OTHER DEVICES
           ******************************************* #}
                <div class="col-md-12 hidden-xs">
                    {{ tformatter.listmatches(matchlist, _context) }}
                </div>
            </div>
        </div>
        {% endif %}
    {% else %}
        <div class="FlexCard">
            <div class="FlexCard-background">
                <div style="background-image: url({{ asset('bundles/icuppublicsite/images/IWC/cover.jpg') }})"></div>
            </div>
            <div class="FlexCard-wrap white">
                <div class="FlexCard-content">
                    <h1 class="FlexCard-title FlexCard-title--large">AB Håndbold Oldies CUP</h1>
                    <h2 class="FlexCard-title">Hent mobilversionen</h2>
                    <p class="lead">Har du prøvet turneringsoversigten på din mobil? Du kan hente turneringsoversigten på mobil fra Google Play eller Apple Appstore. Søg efter iCUP turneringsoversigt.</p>
                </div>
            </div>
        </div>
        <div class="container navy" style="padding-top: 30px; padding-bottom: 10px;">
            <div class="row">
                <div class="col-md-6">
                    <a href="https://play.google.com/store/apps/details?id=dk.icup.matchview">
                        <img class="img-responsive" src="{{ asset('bundles/icuppublicsite/images/iCupApp_Android.png') }}" />
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="https://itunes.apple.com/dk/app/icup-turneringsoverblik/id1329416358?mt=8">
                        <img class="img-responsive" src="{{ asset('bundles/icuppublicsite/images/iCupApp_iOS.png') }}" />
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if newsscroll|length > 0 %}
    <div class="navy bg-facebook-lightblue">
        <div class="container">
            <div class="row">
                {% for news in newsscroll %}
                    <div class="col-md-6">
                        <h3>{{ news.title }}</h3>
                        <i class="fa fa-newspaper-o fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
                        <i>{{ 'FORMAT.LONGDATE'|transchoice(news.newsdate|date('j'), {
                            '%week%': ['WEEK.',news.newsdate|date('D')|upper]|join|trans([],'messages')|capitalize,
                            '%day%': news.newsdate|date('j'),
                            '%month%': ['MONTH.',news.newsdate|date('M')|upper]|join|trans([],'messages'),
                            '%year%': ''}, 'messages') }}</i>
                        -
                        {{ news.context }}
                        {% if news.id > 0 %}
                            <p>
                                <img src="{{ asset('bundles/icuppublicsite/images/flags/') }}{{ news.flag }}"
                                     alt="{{ news.country }}"
                                     title="{{ news.country }}" class="flag">
                                {{ news.club }}
                            </p>
                        {% endif %}
                        {% if news.mid > 0 %}
                            <p>
                                {% trans from 'tournament' %}LEGEND.NO{% endtrans %} {{ news.matchno }}
                            </p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <br />
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block footer %}
{# *******************************************
   SEND MAIL BANNER
   ALL DEVICES
   ******************************************* #}
    <div class="bg-silver navy">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <h2 class="FlexCard-title">{% trans %}FORM.FDPFRONTPAGE.SENDMAIL{% endtrans %}</h2>
            <p>
                {{ form(form) }}
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $("[data-toggle='tooltip']").tooltip();
    </script>

    <!--
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4146313161751000"
         data-ad-slot="6977199688"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    -->
{% endblock %}
