{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "club" %}

{% block body %}
<div class="jumbotron hidden-xs">
    <div class="container">
        {{ sonata_block_render({'name': '/cms/content/blocks/information/fdp_intro'}) }}
    </div>
</div>
<div class="visible-xs">
    {{ sonata_block_render({'name': '/cms/content/blocks/information/fdp_intro'}) }}
</div>
<div class="row">
    <div class="col-md-8">
        {{ sonata_block_render({'name': '/cms/content/blocks/information/fdp_price'}) }}
        {{ sonata_block_render({'name': '/cms/content/blocks/information/fdp_firsttime'}) }}
        {{ sonata_block_render({'name': '/cms/content/blocks/information/fdp_advices'}) }}
        {{ sonata_block_render({'name': '/cms/content/blocks/information/fdp_matches'}) }}
        {{ sonata_block_render({'name': '/cms/content/blocks/information/fdp_packing'}) }}
    </div>
    <div class="col-md-4">
        {{ sonata_block_render({'name': '/cms/content/blocks/information/fdp_accomodation'}) }}
        {{ sonata_block_render({'name': '/cms/content/blocks/information/fdp_dining'}) }}
        {{ sonata_block_render({'name': '/cms/content/blocks/information/fdp_matchtime'}) }}
        {{ sonata_block_render({'name': '/cms/content/blocks/information/fdp_playgrounds'}) }}
    </div>
</div>
{% endblock %}