{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% import "ICupPublicSiteBundle:Tournament:club_formatter.html.twig" as formatter %}
        
{% block body %}
<h1 class="category">{{ tournament.name }}</h1>
<p class="subcategory">
    {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}<br />
</p>
<a href="{{ path('_tournament_categories', {'tournament': tournamentkey }) }}">
    <h1 class="category">{% trans %}CATEGORY{% endtrans %} {{ category.name }}</h1>
</a>
<p class="subcategory">
    {{ [category.gender,category.classification]|join|trans }}
    {{ category.classification|trans }}
</p>
<div class="tab" onclick="location.href='{{ path('_showcategory', {'tournament': tournamentkey, 'categoryid': category.id }) }}'">{{ 'PRELIMINARY'|trans|upper }}</div>
<div class="tab" onclick="location.href='{{ path('_showcategory_classification', {'tournament': tournamentkey, 'categoryid': category.id }) }}'">{{ 'CLASSIFICATION'|trans|upper }}</div>
<div class="tab active" onclick="location.href='{{ path('_showcategory_finals', {'tournament': tournamentkey, 'categoryid': category.id }) }}'">{{ 'FINALS'|trans|upper }}</div>
<table>
    <caption>{% trans %}STANDING{% endtrans %}</caption>
    {% if champions.SA is null and champions.SC is null %}
    <thead>
        <tr><td>{{ 'FINALS'|trans|upper }}</td></tr>
    </thead>
    <tbody>
        <tr><td class="spacer"></td></tr>
    {% if champions.FA is not null %}
        <tr><td class="finalsA{{ champions.FA.score > champions.FB.score ? ' winner' : '' }}">{{ formatter.club(champions.FA) }}</td></tr>
        <tr><td class="finalsB{{ champions.FB.score > champions.FA.score ? ' winner' : '' }}">{{ formatter.club(champions.FB) }}</td></tr>
    {% endif %}
    {% if champions.FC is not null %}
        <tr><td class="spacer">{% trans %}BRONZEMATCH{% endtrans %}</td></tr>
        <tr><td class="finalsA{{ champions.FC.score > champions.FD.score ? ' winner' : '' }}">{{ formatter.club(champions.FC) }}</td></tr>
        <tr><td class="finalsB{{ champions.FD.score > champions.FC.score ? ' winner' : '' }}">{{ formatter.club(champions.FD) }}</td></tr>
    {% endif %}
    </tbody>
    {% else %}
    <thead>
        <tr><td>{{ 'SEMIFINALS'|trans|upper }}</td><td></td><td></td><td>{{ 'FINALS'|trans|upper }}</td></tr>
    </thead>
    <tbody>
        <tr><td></td><td></td><td></td><td class="spacer"></td></tr>
    {% if champions.SA is not null %}
        <tr><td class="finalsA{{ champions.SA.score > champions.SB.score ? ' winner' : '' }}">{{ formatter.club(champions.SA) }}</td><td></td><td></td><td></td></tr>
        <tr><td class="finalsB{{ champions.SB.score > champions.SA.score ? ' winner' : '' }}">{{ formatter.club(champions.SB) }}</td><td class="lineED"></td><td></td><td></td></tr>
    {% endif %}
    {% if champions.FA is not null %}
        <tr><td></td><td></td><td class="lineSD"></td><td class="finalsA{{ champions.FA.score > champions.FB.score ? ' winner' : '' }}">{{ formatter.club(champions.FA) }}</td></tr>
        <tr><td></td><td></td><td class="lineSU"></td><td class="finalsB{{ champions.FB.score > champions.FA.score ? ' winner' : '' }}">{{ formatter.club(champions.FB) }}</td></tr>
    {% endif %}
    {% if champions.SC is not null %}
        <tr><td class="finalsA{{ champions.SC.score > champions.SD.score ? ' winner' : '' }}">{{ formatter.club(champions.SC) }}</td><td class="lineEU"></td><td></td><td></td></tr>
        <tr><td class="finalsB{{ champions.SD.score > champions.SC.score ? ' winner' : '' }}">{{ formatter.club(champions.SD) }}</td><td></td><td></td><td></td></tr>
    {% endif %}
    {% if champions.FC is not null %}
        <tr><td></td><td></td><td></td><td class="spacer">{% trans %}BRONZEMATCH{% endtrans %}</td></tr>
        <tr><td></td><td></td><td></td><td class="finalsA{{ champions.FC.score > champions.FD.score ? ' winner' : '' }}">{{ formatter.club(champions.FC) }}</td></tr>
        <tr><td></td><td></td><td></td><td class="finalsB{{ champions.FD.score > champions.FC.score ? ' winner' : '' }}">{{ formatter.club(champions.FD) }}</td></tr>
    {% endif %}
    </tbody>
    {% endif %}
</table>
{% endblock %}