{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% block body %}
<h1 class="category">{{ tournament.name }}</h1>
<p class="subcategory">
    {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}<br />
</p>
<a href="{{ path('_tournament_categories', {'tournament': tournament.key }) }}">
    <h1 class="category">{% trans %}CATEGORY{% endtrans %} {{ category.name }}</h1>
</a>
<p class="subcategory">
    {{ ['GENDER.',
        category.gender,
        category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
</p>
<div class="tab" onclick="location.href='{{ path('_showcategory', { 'categoryid': category.id }) }}'">{{ 'PRELIMINARY'|trans|upper }}</div>
<div class="tab active" onclick="location.href='{{ path('_showcategory_classification', { 'categoryid': category.id }) }}'">{{ 'CLASSIFICATION'|trans|upper }}</div>
<div class="tab" onclick="location.href='{{ path('_showcategory_finals', { 'categoryid': category.id }) }}'">{{ 'FINALS'|trans|upper }}</div>
{% for group in grouplist %}
    <p>
        <table>
            <caption>{{ ['GROUPCLASS.',group.group.classification]|join|trans }}</caption>
            <thead>
                <tr>
                    <td class="flag"></td>
                    <td class="team">{% trans %}TEAM{% endtrans %}</td>
                    <td class="matches">{% trans %}LEGEND.MATCHES{% endtrans %}</td>
                    <td class="score">{% trans %}LEGEND.GOALS.WON{% endtrans %}</td>
                    <td class="goals">{% trans %}LEGEND.GOALS.LOST{% endtrans %}</td>
                    <td class="diff">{% trans %}LEGEND.GOALS.DIFF{% endtrans %}</td>
                    <td class="points">{% trans %}LEGEND.POINTS{% endtrans %}</td>
                </tr>
            </thead>
            <tboby>
    {% for team in group.teams %}
                <tr class="{{ cycle(['even','odd'],loop.index) }}">
                    <td class="flag"><img src="{{ imagepath }}/flags/{{ countries[team.country].flag }}" alt="{{ team.country|trans({},'lang') }}" title="{{ team.country|trans({},'lang') }}"></td>
                    <td class="team"><a href="{{ path('_showteam', { 'teamid': team.id, 'groupid': group.group.id }) }}">{{ team.name }}</a></td>
                    <td class="matches">{{ team.matches }}</td>
                    <td class="score">{{ team.score }}</td>
                    <td class="goals">{{ team.goals }}</td>
                    <td class="diff">{{ team.diff }}</td>
                    <td class="points">{{ team.points }}</td>
                </tr>
    {% endfor %}
            </tboby>
            <tfoot>
                <tr>
                    <td colspan="7"></td>
                </tr>
            </tfoot>
        </table>
    </p>
{% endfor %}
{% endblock %}