{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% import 'ICupPublicSiteBundle:Masters:tournament.html.twig' as tformatter %}

{% block widebody %}
{{ tformatter.title(tournament) }}
{% endblock %}

{% block body %}
<p class="lead">
    <a href="{{ path('_tournament_categories', {'tournament': tournament.key }) }}">
        {% trans %}CATEGORY{% endtrans %} {{ category.name }}
    </a><br />
    {{ ['GENDER.',
        category.gender,
        category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
</p>
<ul class="nav nav-tabs" role="tablist">
    <li>
        <a href="{{ path('_showcategory', { 'categoryid': category.id }) }}">{{ 'PRELIMINARY'|trans|upper }}</a>
    </li>
    <li class="active">
        <a href="{{ path('_showcategory_classification', { 'categoryid': category.id }) }}">{{ 'CLASSIFICATION'|trans|upper }}</a>
    </li>
    {% if finals > 0 %}
    <li>
        <a href="{{ path('_showcategory_finals', { 'categoryid': category.id }) }}">{{ 'FINALS'|trans|upper }}</a>
    </li>
    {% endif %}
</ul>
{% if grouplist|length > 0 %}
<p class="lead" />
<div class="row">
{% for group in grouplist %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>
                    {{ ['GROUPCLASS.',group.group.classification]|join|trans|upper }}
                    {{ group.group.name }}
                </b>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td class="flag"></td>
                        <td>{% trans %}TEAM{% endtrans %}</td>
                        <td class="narrow-col">{% trans %}LEGEND.MATCHES{% endtrans %}</td>
                        <td class="narrow-col">{% trans %}LEGEND.GOALS.WON{% endtrans %}</td>
                        <td class="narrow-col">{% trans %}LEGEND.GOALS.LOST{% endtrans %}</td>
                        <td class="narrow-col hidden-xs">{% trans %}LEGEND.GOALS.DIFF{% endtrans %}</td>
                        <td class="narrow-col">{% trans %}LEGEND.POINTS{% endtrans %}</td>
                    </tr>
                </thead>
                <tbody>
    {% for team in group.teams %}
                    <tr>
                        <td class="flag"><img src="{{ asset(['bundles/icuppublicsite/images/flags/',countries[team.country].flag]|join) }}" alt="{{ team.country|trans({},'lang') }}" title="{{ team.country|trans({},'lang') }}"></td>
                        <td><a href="{{ path('_showteam', { 'teamid': team.id, 'groupid': group.group.id }) }}">{{ team.name }}</a></td>
                        <td class="narrow-col">{{ team.matches }}</td>
                        <td class="narrow-col">{{ team.score }}</td>
                        <td class="narrow-col">{{ team.goals }}</td>
                        <td class="narrow-col hidden-xs">{{ team.diff }}</td>
                        <td class="narrow-col">{{ team.points }}</td>
                    </tr>
    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}
</div>
{% else %}
<div class="panel panel-warning">
    <div class="panel-heading">
        <b>
            {% trans %}TOURNAMENTNOTREADY{% endtrans %}
        </b>
    </div>
</div>
{% endif %}
{% endblock %}