{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% import _self as formatter %}

{% macro club(team, group, iswinner, target, context) %}
    {% if target == 'top' and team.id > 0 and team.rank != '' %}
            <tr>
                <td class="flag"></td>
                <td>
                    <small>{{ team.rank }}</small>
                </td>
                <td class="narrow-col"></td>
            </tr>
    {% endif %}
            <tr>
    {% if team.id > 0 %}
                <td class="flag">
                    <img src="{{ context.imagepath }}/flags/{{ context.countries[team.country].flag }}"
                         alt="{{ team.country|trans({},'lang') }}"
                         title="{{ team.country|trans({},'lang') }}">
                </td>
                <td>
{% if iswinner %}
                    <strong>
                        <a href="{{ path('_showteam', { 'teamid': team.id,
                                                        'groupid': group.id }) }}">{{ team.name }}</a>
                    </strong>
{% else %}                    
                    <a href="{{ path('_showteam', { 'teamid': team.id,
                                                    'groupid': group.id }) }}">{{ team.name }}</a>
{% endif %}                                                
                </td>
                <td class="narrow-col">
{% if iswinner %}
                    <strong>
                        {{ team.score }}
                    </strong>
{% else %}                    
                    {{ team.score }}
{% endif %}                                                
                </td>
    {% else %}
                <td class="flag"></td>
                <td>{{ team.rank }}</td>
                <td class="narrow-col"></td>
    {% endif %}
            </tr>
    {% if target == 'bottom' and team.id > 0 and team.rank != '' %}
            <tr>
                <td class="flag"></td>
                <td>
                    <small>{{ team.rank }}</small>
                </td>
                <td class="narrow-col"></td>
            </tr>
    {% endif %}
{% endmacro %}

{% macro match(match, context) %}
        <table class="finals">
            {{ context.formatter.club(match.home, match.group, match.home.score > match.away.score, 'top', context) }}
            <tr>
                <td></td>
                <td colspan="2">
                    <small>
                        {% trans %}LEGEND.NO{% endtrans %}: {{ match.matchno }} - 
                        {{ ['GROUPCLASS.',match.group.classification]|join|trans([],'tournament') }}
{% if match.group.classification == 8 %}
                        {{ match.group.name }}
{% endif %}                        
                        <br/>
                        {{ 'FORMAT.LONGDATE'|transchoice(match.schedule|date('j'), {
                            '%week%': ['WEEK.',match.schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                            '%day%': match.schedule|date('j'),
                            '%month%': ['MONTH.',match.schedule|date('M')|upper]|join|trans([],'messages'),
                            '%year%': match.schedule|date('Y')}, 'messages') }} -
                        {% trans %}LEGEND.TIME{% endtrans %}: {{ match.schedule|date('FORMAT.TIME'|trans([],'messages')) }}<br />
                        {% trans %}LEGEND.PLAYGROUND{% endtrans %}: {{ match.playground.name }}
                    </small>
                </td>
            </tr>
            {{ context.formatter.club(match.away, match.group, match.away.score > match.home.score, 'bottom', context) }}
        </table>
{% endmacro %}
        
{% block body %}
<p class="lead">
    {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}
</p>
<p class="lead">
    <a href="{{ path('_tournament_categories', {'tournament': tournament.key }) }}">
        {% trans %}CATEGORY{% endtrans %} {{ category.name }}
    </a><br />
    {{ ['GENDER.',
        category.gender,
        category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
</p>
<ul class="nav nav-tabs" role="tablist">
    <li>
        <a href="{{ path('_showcategory', { 'categoryid': category.id }) }}">{{ 'PRELIMINARY'|trans|upper }}</a>
    </li>
    {% if classifications > 0 %}
    <li>
        <a href="{{ path('_showcategory_classification', { 'categoryid': category.id }) }}">{{ 'CLASSIFICATION'|trans|upper }}</a>
    </li>
    {% endif %}
    <li class="active">
        <a href="{{ path('_showcategory_finals', { 'categoryid': category.id }) }}">{{ 'FINALS'|trans|upper }}</a>
    </li>
</ul>
{% if champions|length > 0 %}
<p class="lead" />
<div class="panel hidden-xs">
<table>
    {% if not 'S' in champions|keys %}
    <thead>
        <tr><td>{{ 'FINALS'|trans|upper }}</td></tr>
    </thead>
    <tbody>
        <tr><td class="spacer"></td></tr>
    {% if 'F' in champions|keys %}
        <tr><td rowspan="2" class="finals">
                {{ formatter.match(champions.F[0], _context) }}
            </td>
        </tr>
        <tr><td></td></tr>
    {% endif %}
    {% if 'B' in champions|keys %}
        <tr><td class="spacer">{% trans %}BRONZEMATCH{% endtrans %}</td></tr>
         <tr><td rowspan="2" class="finals">
                {{ formatter.match(champions.B[0], _context) }}
            </td>
        </tr>
        <tr><td></td></tr>
    {% endif %}
    </tbody>
    {% else %}
    <thead>
        <tr><td>{{ 'SEMIFINALS'|trans|upper }}</td><td colspan="2" style="padding: 20px;"></td><td>{{ 'FINALS'|trans|upper }}</td></tr>
    </thead>
    <tbody>
        <tr><td/><td/><td/><td class="spacer"></td></tr>
    {% if 'S' in champions|keys %}
        <tr><td rowspan="2" class="finals">
                {{ formatter.match(champions.S[0], _context) }}
            </td><td class="filler"></td><td/><td/></td>
        </tr>
        <tr><td class="lineED"></td><td/><td/></tr>
    {% endif %}
    {% if 'F' in champions|keys %}
        <tr><td/><td/><td class="lineSD filler"></td><td rowspan="2" class="finals">
                {{ formatter.match(champions.F[0], _context) }}
            </td>
        </tr>
        <tr><td/><td/><td class="lineSU"></td></tr>
    {% endif %}
    {% if 'S' in champions|keys %}
        <tr><td rowspan="2" class="finals">
                {{ formatter.match(champions.S[1], _context) }}
            </td><td class="lineEU filler"></td><td/><td/>
        </tr>
        <tr><td/><td/><td/></tr>
    {% endif %}
    {% if 'B' in champions|keys %}
        <tr><td/><td/><td/><td class="spacer">{% trans %}BRONZEMATCH{% endtrans %}</td></tr>
        <tr><td/><td/><td/><td rowspan="2" class="finals">
                {{ formatter.match(champions.B[0], _context) }}
            </td>
        </tr>
        <tr><td/><td/><td/></tr>
    {% endif %}
    </tbody>
    {% endif %}
</table>
<p class="lead" />
</div>
<div class="row visible-xs-block">
{% for group in grouplist %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>
                    {{ ['GROUPCLASS.',group.group.classification]|join|trans|upper }}
{% if group.group.classification == 8 %}
                    {{ group.group.name }}
{% endif %}
                </b>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td class="flag"></td>
                        <td>{% trans %}TEAM{% endtrans %}</td>
                        <td class="narrow-col">{% trans %}LEGEND.MATCHES{% endtrans %}</td>
                        <td class="narrow-col">{% trans %}LEGEND.GOALS.WON{% endtrans %}</td>
                        <td class="narrow-col">{% trans %}LEGEND.GOALS.LOST{% endtrans %}</td>
                        <td class="narrow-col hidden-xs">{% trans %}LEGEND.GOALS.DIFF{% endtrans %}</td>
                        <td class="narrow-col">{% trans %}LEGEND.POINTS{% endtrans %}</td>
                    </tr>
                </thead>
                <tbody>
    {% for team in group.teams %}
                    <tr>
                        <td class="flag"><img src="{{ imagepath }}/flags/{{ countries[team.country].flag }}" alt="{{ team.country|trans({},'lang') }}" title="{{ team.country|trans({},'lang') }}"></td>
                        <td><a href="{{ path('_showteam', { 'teamid': team.id, 'groupid': group.group.id }) }}">{{ team.name }}</a></td>
                        <td class="narrow-col">{{ team.matches }}</td>
                        <td class="narrow-col">{{ team.score }}</td>
                        <td class="narrow-col">{{ team.goals }}</td>
                        <td class="narrow-col hidden-xs">{{ team.diff }}</td>
                        <td class="narrow-col">{{ team.points }}</td>
                    </tr>
    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}
</div>
{% else %}
<div class="panel panel-warning">
    <div class="panel-heading">
        <b>
            {% trans %}TOURNAMENTNOTREADY{% endtrans %}
        </b>
    </div>
</div>
{% endif %}
{% endblock %}