{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% import 'ICupPublicSiteBundle:Masters:club.html.twig' as formatter %}
{% import 'ICupPublicSiteBundle:Masters:tournament.html.twig' as tformatter %}

{% block widebody %}
{{ tformatter.title(tournament) }}
{% endblock %}

{% block body %}
<p class="lead">
    <a href="{{ path('_tournament_categories', {'tournament': tournament.key }) }}">
        {% trans %}CATEGORY{% endtrans %} {{ category.name }}
    </a><br />
    {{ ['GENDER.',
        category.gender,
        category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
</p>
<ul class="nav nav-tabs" role="tablist">
    <li>
        <a href="{{ path('_showcategory', { 'categoryid': category.id }) }}">{{ 'PRELIMINARY'|trans|upper }}</a>
    </li>
    {% if classifications > 0 %}
    <li>
        <a href="{{ path('_showcategory_classification', { 'categoryid': category.id }) }}">{{ 'CLASSIFICATION'|trans|upper }}</a>
    </li>
    {% endif %}
    <li class="active">
        <a href="{{ path('_showcategory_finals', { 'categoryid': category.id }) }}">{{ 'FINALS'|trans|upper }}</a>
    </li>
</ul>
{% if grouplist|length > 0 %}
<div class="panel hidden-xs">
    {% set cols = 5 + 6*(pyramid.levels-1) %}
    <table class="finals">
    {% for record in pyramid.teams %}
        <tr>
        {% if pyramid.levels == 1 %}
            {{ formatter.td(cols) }}
        {% else %}
            {% if loop.length/2 == loop.index0 %}
                {{ formatter.td((cols-7)/2) }}
                <td colspan="2" class="vscore">
                    <span title="{{ formatter.match(pyramid.FH, _context) }}">{{ pyramid.FH.away.score }}</span>
                </td>
                {{ formatter.td(2) }}
                <td colspan="2" class="vscore">
                    <span title="{{ formatter.match(pyramid.FA, _context) }}">{{ pyramid.FA.away.score }}</span>
                </td>
                {{ formatter.td((cols-7)/2) }}
            {% elseif pyramid.levels == 3 and loop.index0 > 0 %}
                {{ formatter.td(2) }}
                <td colspan="2" class="vscore">
                    {% if loop.index0 == 1 %}
                        <span title="{{ formatter.match(pyramid.FHH, _context) }}">{{ pyramid.FHH.away.score }}</span>
                    {% else %}
                        <span title="{{ formatter.match(pyramid.FHA, _context) }}">{{ pyramid.FHA.away.score }}</span>
                    {% endif %}
                </td>
                {{ formatter.td(1) }}
                <td class="{{ loop.length/2 >= loop.index ? ' vlinel' : '' }}"></td>
                {{ formatter.td(cols-12) }}
                <td class="{{ loop.length/2 >= loop.index ? ' vliner' : '' }}"></td>
                {{ formatter.td(1) }}
                <td colspan="2" class="vscore">
                    {% if loop.index0 == 1 %}
                        <span title="{{ formatter.match(pyramid.FAH, _context) }}">{{ pyramid.FAH.away.score }}</span>
                    {% else %}
                        <span title="{{ formatter.match(pyramid.FAA, _context) }}">{{ pyramid.FAA.away.score }}</span>
                    {% endif %}
                </td>
                {{ formatter.td(2) }}
            {% else %}
                {{ formatter.td(cols) }}
            {% endif %}
        {% endif %}
        </tr>
        <tr>
            <td rowspan="2" class="leftteam">
                <table>
                    {{ formatter.club(record.left.team, record.left.group, _context) }}
                </table>
            </td>
            <td class="line"></td>
        {% if pyramid.levels == 1 %}
            <td rowspan="2" class="hscore">
                <span title="{{ formatter.match(pyramid.F, _context) }}">{{ pyramid.F.home.score }}-{{ pyramid.F.away.score }}</span>
            </td>
        {% else %}
            <td class="line{{ loop.index0%2 == 1 ? ' vlinel' : '' }}"></td>
            {% if pyramid.levels == 3 and loop.index0 > 0 and loop.index < loop.length %}
                {{ formatter.td(2) }}
                <td class="vlinel"></td>
                {{ formatter.td(cols-12) }}
                <td class="vliner"></td>
                {{ formatter.td(2) }}
            {% else %}
                {{ formatter.td(cols-6) }}
            {% endif %}
            <td class="line{{ loop.index0%2 == 1 ? ' vliner' : '' }}"></td>
        {% endif %}
            <td class="line"></td>
            <td rowspan="2" class="rightteam">
                <table>
                    {{ formatter.club(record.right.team, record.right.group, _context) }}
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="{{ loop.index0%2 == 0 ? 'vlinel' : '' }}"></td>
            {% if pyramid.levels == 1 %}
                {{ formatter.td(cols-7) }}
            {% elseif pyramid.levels == 3 and loop.index0 > 0 and loop.index < loop.length %}
                {{ formatter.td(2) }}
                <td class="vlinel"></td>
                {{ formatter.td(cols-12) }}
                <td class="vliner"></td>
                {{ formatter.td(2) }}
            {% else %}
                {{ formatter.td(cols-6) }}
            {% endif %}
            <td class="{{ loop.index0%2 == 0 ? 'vliner' : '' }}"></td>
            <td></td>
        </tr>
        <tr>
        {% if pyramid.levels == 1 %}
            {{ formatter.td(cols) }}
        {% else %}
            {% if loop.length/2 == loop.index %}
                {{ formatter.td((cols-7)/2) }}
                <td colspan="2" class="vscore">
                    <span title="{{ formatter.match(pyramid.FH, _context) }}">{{ pyramid.FH.home.score }}</span>
                </td>
                <td class="line"></td>
                <td rowspan="2" class="hscore">
                    <span title="{{ formatter.match(pyramid.F, _context) }}">{{ pyramid.F.home.score }}-{{ pyramid.F.away.score }}</span>
                </td>
                <td class="line"></td>
                <td colspan="2" class="vscore">
                    <span title="{{ formatter.match(pyramid.FA, _context) }}">{{ pyramid.FA.home.score }}</span>
                </td>
                {{ formatter.td((cols-7)/2) }}
             {% elseif pyramid.levels == 3 and loop.index < loop.length %}
                {{ formatter.td(2) }}
                <td colspan="2" class="vscore">
                    {% if loop.index0 == 0 %}
                        <span title="{{ formatter.match(pyramid.FHH, _context) }}">{{ pyramid.FHH.home.score }}</span>
                    {% else %}
                        <span title="{{ formatter.match(pyramid.FHA, _context) }}">{{ pyramid.FHA.home.score }}</span>
                    {% endif %}
                </td>
                <td class="line"></td>
                <td class="line{{ loop.length/2 < loop.index ? ' vlinel' : '' }}"></td>
                {{ formatter.td(cols-12) }}
                <td class="line{{ loop.length/2 < loop.index ? ' vliner' : '' }}"></td>
                <td class="line"></td>
                <td colspan="2" class="vscore">
                    {% if loop.index0 == 0 %}
                        <span title="{{ formatter.match(pyramid.FAH, _context) }}">{{ pyramid.FAH.home.score }}</span>
                    {% else %}
                        <span title="{{ formatter.match(pyramid.FAA, _context) }}">{{ pyramid.FAA.home.score }}</span>
                    {% endif %}
                </td>
                {{ formatter.td(2) }}
           {% else %}
                {{ formatter.td(cols) }}
            {% endif %}
        {% endif %}
        </tr>
    {% endfor %}
    </table>
</div>
    
<div class="row visible-xs-block">
{% for group in grouplist %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>
                    {{ ['GROUPCLASS.',group.group.classification]|join|trans|upper }}
{% if group.group.classification == 8 %}
                    {{ group.group.name }}
{% endif %}
                </b>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td class="flag"></td>
                        <td>{% trans %}TEAM{% endtrans %}</td>
                        <td class="narrow-col">{% trans %}LEGEND.MATCHES{% endtrans %}</td>
                        <td class="narrow-col">{% trans %}LEGEND.GOALS.WON{% endtrans %}</td>
                        <td class="narrow-col">{% trans %}LEGEND.GOALS.LOST{% endtrans %}</td>
                        <td class="narrow-col hidden-xs">{% trans %}LEGEND.GOALS.DIFF{% endtrans %}</td>
                        <td class="narrow-col">{% trans %}LEGEND.POINTS{% endtrans %}</td>
                    </tr>
                </thead>
                <tbody>
    {% for team in group.teams %}
                    <tr>
                        <td class="flag"><img src="{{ imagepath }}/flags/{{ countries[team.country].flag }}" alt="{{ team.country|trans({},'lang') }}" title="{{ team.country|trans({},'lang') }}"></td>
                        <td><a href="{{ path('_showteam', { 'teamid': team.id, 'groupid': group.group.id }) }}">{{ team.name }}</a></td>
                        <td class="narrow-col">{{ team.matches }}</td>
                        <td class="narrow-col">{{ team.score }}</td>
                        <td class="narrow-col">{{ team.goals }}</td>
                        <td class="narrow-col hidden-xs">{{ team.diff }}</td>
                        <td class="narrow-col">{{ team.points }}</td>
                    </tr>
    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}
</div>
{% else %}
<div class="panel panel-warning">
    <div class="panel-heading">
        <b>
            {% trans %}TOURNAMENTNOTREADY{% endtrans %}
        </b>
    </div>
</div>
{% endif %}
{% endblock %}