{% macro club(team) %}
    {% set tournamentkey = app.session.get('Tournament') is empty ? '_' : app.session.get('Tournament') %}
    {% set imagepath = app.session.get('ImagePath') %}
    {% set flags = app.session.get('Countries') %}
    {% if team is not null %}
        <table>
            <tr>
                <td class="flag"><img src="{{ imagepath }}/flags/{{ flags[team.country] }}" alt="{{ team.country|trans({},'lang') }}" title="{{ team.country|trans({},'lang') }}"></td>
                <td class="team"><a href="{{ path('_showteam', { 'tournament': tournamentkey, 'teamid': team.id, 'groupid': team.group }) }}">{{ team.name }}</a></td>
                <td class="score">{{ team.score }}</td>
            </tr>
        </table>
    {% endif %}
{% endmacro %}
