{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% block body %}
<h1 class="category">{{ tournament.name }}</h1>
<p class="subcategory">
    {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}<br />
</p>
<div>
    <table>
        <caption>{% trans %}CLUBS{% endtrans %}</caption>
        <thead>
            <tr>
                <td colspan="3">{% trans %}CLUBSBYCOUNTRY{% endtrans %}</td>
            </tr>
        </thead>
        <tboby>
            <tr>
{% for column in teams %}
                <td class="clubs">
    {% for countries in column %}
    {% for country,teamlist in countries %}
                    <p>
                        <img src="{{ imagepath }}/flags/{{ flags[country] }}" alt="{{ country|trans({},'lang') }}" title="{{ country|trans({},'lang') }}">
                        <b>{{ country|trans({},'lang') }}</b><br />
        {% for id,team in teamlist %}
                    <a href="{{ path('_tournament_teams', { 'tournament': tournament.key, 'clubId': id }) }}">{{ team }}</a><br />
        {% endfor %}
                    </p>
    {% endfor %}
    {% endfor %}
                </td>
{% endfor %}
            </tr>
        </tboby>
        <tfoot>
            <tr>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}