{% trans_default_domain "tournament" %}

<div class="row">
    <div class="col-lg-6">
        <div class="jumbotron"
             style="
    background-image: url('{{ imagepath }}/IWC/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;">
            <img src="{{ imagepath }}/IWC/logo.png" alt="{{ tournament.name }} logo" class="img-responsive" />
            <h1>{{ tournament.edition }}</h1>
            <p class="lead">{{ tournament.name }}</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="list-group">
    {% for teaser in teaserlist %}
            <a class="list-group-item" href="{{ teaser.path }}">
                <h4 class="list-group-item-heading">{{ teaser.titletext|trans }}</h4>
                <p class="list-group-item-text">{{ teaser.text|trans }}</p>
            </a>
    {% endfor %}
        </div>
    </div>
</div>
{% if newsstream|length > 0 %}
<div class="row">
    <div class="col-lg-12">
        <p class="lead">{% trans %}FORM.NEWS.TITLE{% endtrans %}</p>
        <div class="list-group">
    {% for news in newsstream %}
            <a class="list-group-item" href="{{ news.path }}">
                <h4 class="list-group-item-heading">
                    {{ 'FORMAT.LONGDATE'|transchoice(news.date|date('j'), {
                            '%week%': ['WEEK.',news.date|date('D')|upper]|join|trans([],'messages')|capitalize,
                            '%day%': news.date|date('j'),
                            '%month%': ['MONTH.',news.date|date('M')|upper]|join|trans([],'messages'),
                            '%year%': ''}, 'messages') }}
                </h4>
                <p class="list-group-item-text">{{ news.text }}</p>
            </a>
    {% endfor %}
        </div>
    </div>
</div>
{% endif %}
        
