{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% block body %}
<h1 class="category">{{ tournament.name }}</h1>
<p class="subcategory">
    {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}<br />
</p>
<div>
{% if playgrounds|length > 0 %}
    <table class="table table-striped">
        <caption>{% trans %}PLAYGROUNDS{% endtrans %}</caption>
        <thead>
            <tr>
                <td colspan="2">{% trans %}TOWNANDNO{% endtrans %}</td>
            </tr>
        </thead>
        <tboby>
    {% for site in playgrounds|keys %}
            <tr>
                <td class="sites" colspan="2">
                    {{ site }}
                </td>
            </tr>
        {% for id,name in playgrounds[site] %}
            <tr>
                <td class="sites"></td>
                <td class="playgrounds">
                    <a href="{{ path('_showplayground_full', { 'playgroundid': id }) }}">
                        {{ name }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
        </tboby>
        <tfoot>
            <tr>
                <td colspan="2"></td>
            </tr>
        </tfoot>
    </table>
{% else %}
<h2 class="category">{% trans %}TOURNAMENTNOTREADY{% endtrans %}</h2>
{% endif %}
</div>
{% endblock %}