{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% import 'ICupPublicSiteBundle:Masters:club.html.twig' as formatter %}

{% block body %}
<p class="lead">
    {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}
</p>
<div class="row">
    <div class="col-sm-2">
        <p class="lead">
            <a href="{{ path('_showcategory', { 'categoryid': category.id }) }}">
                {% trans %}CATEGORY{% endtrans %} {{ category.name }}
            </a><br />
            {{ ['GENDER.',
                category.gender,
                category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
        </p>
    </div>
    <div class="col-sm-4">
        <p class="lead">
            <a href="{{ path('_showcategory', { 'categoryid': category.id }) }}">
                {% trans %}GROUP{% endtrans %} {{ group.name }}
            </a><br />
            {{ playground.name }}
        </p>
    </div>
</div>
{% if matchlist|length > 0 %}
<div class="hidden-xs">
    <table class="table table-striped">
        <thead>
            <tr>
                <td class="narrow-col"></td>
                <td class="narrow-col">{% trans %}LEGEND.NO{% endtrans %}</td>
                <td class="narrow-col">{% trans %}LEGEND.TIME{% endtrans %}</td>
                <td class="flag"></td>
                <td>{% trans %}LEGEND.HOMETEAM{% endtrans %}</td>
                <td class="flag"></td>
                <td>{% trans %}LEGEND.AWAYTEAM{% endtrans %}</td>
                <td class="narrow-col">{% trans %}LEGEND.RESULT{% endtrans %}</td>
            </tr>
        </thead>
        <tbody>
    {% for matches in matchlist %}
            <tr>
                <td class="lead" colspan="8">
                    {{ 'FORMAT.LONGDATE'|transchoice(matches[0].schedule|date('j'), {
                            '%week%': ['WEEK.',matches[0].schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                            '%day%': matches[0].schedule|date('j'),
                            '%month%': ['MONTH.',matches[0].schedule|date('M')|upper]|join|trans([],'messages'),
                            '%year%': matches[0].schedule|date('Y')}, 'messages') }}
                </td>
            </tr>
        {% for match in matches %}
            <tr>
                <td class="narrow-col"></td>
                <td class="narrow-col">{{ match.matchno }}</td>
                <td class="narrow-col">{{ match.schedule|date('FORMAT.TIME'|trans([],'messages')) }}</td>
                {{ formatter.club(match.home, group, _context) }}
                {{ formatter.club(match.away, group, _context) }}
                <td class="narrow-col text-nowrap">{{ match.home.score }}-{{ match.away.score }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
        </tbody>
    </table>
</div>
<div class="visible-xs-block">
    <table class="table table-striped">
        <thead>
            <tr>
                <td class="narrow-col">{% trans %}LEGEND.NO{% endtrans %}</td>
                <td class="narrow-col">{% trans %}LEGEND.TIME{% endtrans %}</td>
                <td>{% trans %}TEAM{% endtrans %}</td>
                <td class="narrow-col">{% trans %}LEGEND.RESULT{% endtrans %}</td>
            </tr>
        </thead>
        <tbody>
    {% for matches in matchlist %}
            <tr>
                <td class="lead" colspan="4">
                    {{ 'FORMAT.LONGDATE'|transchoice(matches[0].schedule|date('j'), {
                            '%week%': ['WEEK.',matches[0].schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                            '%day%': matches[0].schedule|date('j'),
                            '%month%': ['MONTH.',matches[0].schedule|date('M')|upper]|join|trans([],'messages'),
                            '%year%': matches[0].schedule|date('Y')}, 'messages') }}
                </td>
            </tr>
        {% for match in matches %}
            <tr>
                <td class="narrow-col">{{ match.matchno }}</td>
                <td class="narrow-col">{{ match.schedule|date('FORMAT.TIME'|trans([],'messages')) }}</td>
                <td>
                {{ formatter.clubxs(match.home, match.away, group, _context) }}
                </td>
                <td class="narrow-col text-nowrap">{{ match.home.score }}-{{ match.away.score }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="panel panel-warning">
    <div class="panel-heading">
        <b>
            {% trans %}TOURNAMENTNOTREADY{% endtrans %}
        </b>
    </div>
</div>
{% endif %}
{% endblock %}