{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% import _self as formatter %}

{% macro club(team, context) %}
    {% if team.id > 0 %}
                <td class="flag">
        {% if team.rank != '' %}
                    <div class="rank">&nbsp;</div>
        {% endif %}
                    <img src="{{ context.imagepath }}/flags/{{ context.countries[team.country].flag }}"
                         alt="{{ team.country|trans({},'lang') }}"
                         title="{{ team.country|trans({},'lang') }}">
                </td>
                <td class="team">
        {% if team.rank != '' %}
                    <div class="rank">{{ team.rank }}</div>
        {% endif %}
                    <a href="{{ path('_showteam', { 'teamid': team.id,
                                                    'groupid': context.group.id }) }}">{{ team.name }}</a>
                </td>
    {% else %}
                <td class="flag"></td>
                <td class="team">{{ team.rank }}</td>
    {% endif %}
{% endmacro %}
        
{% block body %}
<p class="lead">
    {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}
</p>
<div class="row">
    <div class="col-sm-2">
        <p class="lead">
            <a href="{{ path('_showcategory', { 'categoryid': category.id }) }}">
                {% trans %}CATEGORY{% endtrans %} {{ category.name }}
            </a><br />
            {{ ['GENDER.',
                category.gender,
                category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
        </p>
    </div>
    <div class="col-sm-4">
        <p class="lead">
            <a href="{{ path('_showcategory', { 'categoryid': category.id }) }}">
                {% trans %}GROUP{% endtrans %} {{ group.name }}
            </a><br />
            {{ playground.name }}
        </p>
    </div>
</div>
<p>
    <table class="table table-striped">
        <thead>
            <tr>
                <td class="flag hidden-xs"></td>
                <td class="no hidden-xs">{% trans %}LEGEND.NO{% endtrans %}</td>
                <td class="time">{% trans %}LEGEND.TIME{% endtrans %}</td>
                <td class="flag"></td>
                <td class="team">{% trans %}LEGEND.HOMETEAM{% endtrans %}</td>
                <td class="flag"></td>
                <td class="team">{% trans %}LEGEND.AWAYTEAM{% endtrans %}</td>
                <td class="match">{% trans %}LEGEND.RESULT{% endtrans %}</td>
            </tr>
        </thead>
        <tboby>
{% if matchlist|length > 0 %}
    {% for matches in matchlist %}
            <tr class="markup">
                <td class="date_solo" colspan="6">
                    {{ 'FORMAT.LONGDATE'|transchoice(matches[0].schedule|date('j'), {
                            '%week%': ['WEEK.',matches[0].schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                            '%day%': matches[0].schedule|date('j'),
                            '%month%': ['MONTH.',matches[0].schedule|date('M')|upper]|join|trans([],'messages'),
                            '%year%': matches[0].schedule|date('Y')}, 'messages') }}
                </td>
                <td class="hidden-xs" colspan="2"></td>
            </tr>
        {% for match in matches %}
            <tr>
                <td class="flag hidden-xs"></td>
                <td class="no hidden-xs">{{ match.matchno }}</td>
                <td class="time">{{ match.schedule|date('FORMAT.TIME'|trans([],'messages')) }}</td>
                {{ formatter.club(match.home, _context) }}
                {{ formatter.club(match.away, _context) }}
                <td class="match">{{ match.home.score }}-{{ match.away.score }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
{% else %}
            <tr>
                <td class="title" colspan="6">
                    <p>{% trans %}TOURNAMENTNOTREADY{% endtrans %}</p>
                </td>
                <td class="hidden-xs" colspan="2"></td>
            </tr>
{% endif %}
        </tboby>
        <tfoot>
            <tr>
                <td colspan="6"></td>
                <td class="hidden-xs" colspan="2"></td>
            </tr>
        </tfoot>
    </table>
</p>
{% endblock %}