{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% block body %}
<h1 class="category">{{ tournament.name }}</h1>
<p class="subcategory">
    {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}<br />
</p>
{% for group in grouplist %}
    <p>
        <a href="{{ path('_tournament_categories', {'tournament': tournament.key }) }}">
            <h1 class="category">{% trans %}CATEGORY{% endtrans %} {{ group.category.name }}</h1>
        </a>
        <p class="subcategory">
            {{ [group.category.gender,group.category.classification]|join|trans }}
            {{ group.category.classification|trans }}
        </p>
        <table>
            <caption>{% trans %}CATEGORY{% endtrans %} {{ group.category.name }}</caption>
            <thead>
                <tr>
                    <td class="flag"></td>
                    <td class="team">{% trans %}TEAM{% endtrans %}</td>
                    <td class="matches">{% trans %}LEGEND.MATCHES{% endtrans %}</td>
                    <td class="score">{% trans %}LEGEND.GOALS.WON{% endtrans %}</td>
                    <td class="goals">{% trans %}LEGEND.GOALS.LOST{% endtrans %}</td>
                    <td class="diff">{% trans %}LEGEND.GOALS.DIFF{% endtrans %}</td>
                    <td class="points">{% trans %}LEGEND.POINTS{% endtrans %}</td>
                    <td class="points">{% trans %}LEGEND.POINTS{% endtrans %}</td>
                </tr>
            </thead>
            <tboby>
    {% for team in group.teams %}
                <tr class="{{ cycle(['even','odd'],loop.index) }}">
                    <td class="flag"><img src="{{ imagepath }}/flags/{{ flags[team.country] }}" alt="{{ team.country|trans({},'lang') }}" title="{{ team.country|trans({},'lang') }}"></td>
                    <td class="team"><a href="{{ path('_showteam', { 'tournament': tournament.key, 'teamid': team.id, 'groupid': team.group }) }}">{{ team.name }}</a></td>
                    <td class="matches">{{ team.matches }}</td>
                    <td class="score">{{ team.score }}</td>
                    <td class="goals">{{ team.goals }}</td>
                    <td class="diff">{{ team.diff }}</td>
                    <td class="points">{{ team.points }}</td>
                    <td class="points">{{ team.maxscore }}</td>
                </tr>
    {% endfor %}
            </tboby>
            <tfoot>
                <tr>
                    <td colspan="8"></td>
                </tr>
            </tfoot>
        </table>
    </p>
{% endfor %}
{% endblock %}