{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% block body %}
<h1 class="category">{{ tournament.name }}</h1>
<p class="subcategory">
    {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}<br />
</p>
<div>
    <table>
        <caption>{% trans %}TEAMSBYCLUB{% endtrans %}</caption>
        <thead>
            <tr>
                <td colspan="2">
                    <a href="{{ path('_tournament_clubs', { 'tournament': tournament.key }) }}">
                        <img src="{{ imagepath }}/flags/{{ countries[club.country].flag }}"
                             alt="{{ club.country|trans({},'lang') }}"
                             title="{{ club.country|trans({},'lang') }}"
                             class="flag"
                        >
                        {{ club.name }} - {{ club.country|trans({},'lang') }}
                    </a>
                </td>
            </tr>
        </thead>
        <tboby>
{% if teams|length > 0 %}
    {% for catid,category in teams %}
            <tr class="{{ cycle(['even','odd'],loop.index) }}">
                <td class="categories">
                    <a href="{{ path('_showcategory', { 'categoryid': categories[catid].id }) }}">
                        <b>{% trans %}CATEGORY{% endtrans %} {{ categories[catid].name }}</b>
                    </a><br />
                        {{ ['GENDER.',
                            categories[catid].gender,
                            categories[catid].classification]|join|transchoice(categories[catid].age, { '%age%': categories[catid].age },'tournament') }}
                </td>
                <td class="teams">
        {% for team in category %}
                        <a href="{{ path('_showteam', { 'teamid': team.id, 'groupid': team.groupid }) }}"><b>{{ team.name }}</b></a><br />
                        {% trans %}GROUP{% endtrans %} {{ team.grp }}<br />
        {% endfor %}
                </td>
            </tr>
    {% endfor %}
{% else %}
            <tr class="even">
                <td class="date_solo" colspan="2">
                    <h2 class="category">{% trans %}TOURNAMENTNOTREADY{% endtrans %}</h2>
                </td>
            </tr>
{% endif %}
        </tboby>
        <tfoot>
            <tr>
                <td colspan="2"></td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}