{% extends "base.html.twig" %}

{% block body %}
<h1 class="category">{{ tournament.name }}</h1>
<p class="subcategory">
    {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}<br />
</p>
<a href="{{ path('_showcategory', { 'tournament': tournamentkey, 'categoryid': category.id }) }}">
    <h1 class="category">{% trans %}CATEGORY{% endtrans %} {{ category.name }}</h1>
</a>
<p class="subcategory">
    {{ [category.gender,category.classification]|join|trans }}
    {{ category.classification|trans }}
</p>
<a href="{{ path('_showcategory', { 'tournament': tournamentkey, 'categoryid': category.id }) }}">
    {% if group.classification == 0 %}
    <h2 class="group">{% trans %}GROUP{% endtrans %} {{ group.name }}</h2>
    {% else %}
    <h2 class="group">{{ ['GROUPCLASS.',group.classification]|join|trans }}</h2>
    {% endif %}
</a>
<p>
    <table>
        <caption>{{ team.name }}</caption>
        <thead>
            <tr>
                <td class="flag"></td>
                <td class="no">{% trans %}LEGEND.NO{% endtrans %}</td>
                <td class="time">{% trans %}LEGEND.TIME{% endtrans %}</td>
                <td class="no">{% trans %}FIELD{% endtrans %}</td>
                <td class="flag"></td>
                <td class="team">{% trans %}TEAM{% endtrans %} A</td>
                <td class="flag"></td>
                <td class="team">{% trans %}TEAM{% endtrans %} B</td>
                <td class="match">{% trans %}LEGEND.RESULT{% endtrans %}</td>
            </tr>
        </thead>
        <tboby>
{% set catdate = '' %}
{% for match in matchlist %}
    {% if match.schedule|date('d-M-Y') != catdate %}
            <tr class="{{ cycle(['even','odd'],loop.index) }}">
                <td class="date_solo" colspan="9">
                    {{ ['WEEK.',match.schedule|date('D')|upper]|join|trans|capitalize }}{{ match.schedule|date(' j. ') }}{{ ['MONTH.',match.schedule|date('M')|upper]|join|trans }}
                </td>
            </tr>
        {% set catdate = match.schedule|date('d-M-Y') %}
    {% endif %}
            <tr class="{{ cycle(['even','odd'],loop.index) }}">
                <td class="flag"></td>
                <td class="no">{{ match.matchno }}</td>
                <td class="time">{{ match.schedule|date('H.i') }}</td>
                <td class="no"><a href="{{ path('_showplayground', { 'tournament': tournamentkey, 'playgroundid': match.playgroundid, 'groupid': group.id }) }}" title="{{ match.playground }}">{{ match.playgroundno }}</a></td>
                <td class="flag"><img src="{{ imagepath }}/flags/{{ flags[match.countryA] }}" alt="{{ match.countryA|trans({},'lang') }}" title="{{ match.countryA|trans({},'lang') }}"></td>
                <td class="team"><a href="{{ path('_showteam', { 'tournament': tournamentkey, 'teamid': match.idA, 'groupid': group.id }) }}">{{ match.teamA }}</a></td>
                <td class="flag"><img src="{{ imagepath }}/flags/{{ flags[match.countryB] }}" alt="{{ match.countryB|trans({},'lang') }}" title="{{ match.countryB|trans({},'lang') }}"></td>
                <td class="team"><a href="{{ path('_showteam', { 'tournament': tournamentkey, 'teamid': match.idB, 'groupid': group.id }) }}">{{ match.teamB }}</a></td>
                <td class="match">{{ match.scoreA }}-{{ match.scoreB }}</td>
            </tr>
{% endfor %}
        </tboby>
        <tfoot>
            <tr>
                <td colspan="9"></td>
            </tr>
        </tfoot>
    </table>
</p>
{% endblock %}