{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% import _self as formatter %}

{% macro club(team, context) %}
    {% if team.id > 0 %}
                <td class="flag">
                    <img src="{{ context.imagepath }}/flags/{{ context.countries[team.country].flag }}"
                         alt="{{ team.country|trans({},'lang') }}"
                         title="{{ team.country|trans({},'lang') }}">
                </td>
                <td class="team">
    {% if team.rank != '' %}
                    <div class="rank">{{ team.rank }}</div>
    {% endif %}
                    <a href="{{ path('_showteam', { 'tournament': context.tournament.key,
                                                    'teamid': team.id,
                                                    'groupid': context.group.id }) }}">{{ team.name }}</a>
                </td>
    {% else %}
                <td class="flag"></td>
                <td class="team">{{ team.rank }}</td>
    {% endif %}
{% endmacro %}
        
{% block body %}
<h1 class="category">{{ tournament.name }}</h1>
<p class="subcategory">
    {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}<br />
</p>
<a href="{{ path('_showcategory', { 'tournament': tournament.key, 'categoryid': category.id }) }}">
    <h1 class="category">{% trans %}CATEGORY{% endtrans %} {{ category.name }}</h1>
</a>
<p class="subcategory">
    {{ ['GENDER.',
        category.gender,
        category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
</p>
<a href="{{ path('_showcategory', { 'tournament': tournament.key, 'categoryid': category.id }) }}">
    {% if group.classification == 0 %}
    <h2 class="group">{% trans %}GROUP{% endtrans %} {{ group.name }}</h2>
    {% else %}
    <h2 class="group">{{ ['GROUPCLASS.',group.classification]|join|trans }}</h2>
    {% endif %}
</a>
<p>
    <table>
        <caption>{{ teamname }}</caption>
        <thead>
            <tr>
                <td class="flag"></td>
                <td class="no">{% trans %}LEGEND.NO{% endtrans %}</td>
                <td class="time">{% trans %}LEGEND.TIME{% endtrans %}</td>
                <td class="no">{% trans %}LEGEND.PLAYGROUND{% endtrans %}</td>
                <td class="flag"></td>
                <td class="team">{% trans %}LEGEND.HOMETEAM{% endtrans %}</td>
                <td class="flag"></td>
                <td class="team">{% trans %}LEGEND.AWAYTEAM{% endtrans %}</td>
                <td class="match">{% trans %}LEGEND.RESULT{% endtrans %}</td>
            </tr>
        </thead>
        <tboby>
{% set catdate = '' %}
{% for match in matchlist %}
    {% if match.schedule|date('d-M-Y') != catdate %}
            <tr class="{{ cycle(['even','odd'],loop.index) }}">
                <td class="date_solo" colspan="9">
                    {{ 'FORMAT.LONGDATE'|transchoice(match.schedule|date('j'), {
                            '%week%': ['WEEK.',match.schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                            '%day%': match.schedule|date('j'),
                            '%month%': ['MONTH.',match.schedule|date('M')|upper]|join|trans([],'messages'),
                            '%year%': match.schedule|date('Y')}, 'messages') }}
                </td>
            </tr>
        {% set catdate = match.schedule|date('d-M-Y') %}
    {% endif %}
            <tr class="{{ cycle(['even','odd'],loop.index) }}">
                <td class="flag"></td>
                <td class="no">{{ match.matchno }}</td>
                <td class="time">{{ match.schedule|date('FORMAT.TIME'|trans([],'messages')) }}</td>
                <td class="no"><a href="{{ path('_showplayground', { 'tournament': tournament.key, 'playgroundid': match.playground.id, 'groupid': group.id }) }}" title="{{ match.playground.name }}">{{ match.playground.no }}</a></td>
                {{ formatter.club(match.home, _context) }}
                {{ formatter.club(match.away, _context) }}
                <td class="match">{{ match.home.score }}-{{ match.away.score }}</td>
            </tr>
{% endfor %}
        </tboby>
        <tfoot>
            <tr>
                <td colspan="9"></td>
            </tr>
        </tfoot>
    </table>
</p>
{% endblock %}