{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% import 'ICupPublicSiteBundle:Masters:tournament.html.twig' as tformatter %}

{% block widebody %}
{{ tformatter.title(tournament) }}
{% endblock %}

{% block body %}
<p class="lead">
    {% trans %}TEAMSBYCLUB{% endtrans %}
</p>
{% if teams|length > 0 %}
<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{{ path('_tournament_clubs', { 'tournament': tournament.key }) }}">
            <img src="{{ asset(['bundles/icuppublicsite/images/flags/',countries[club.country].flag]|join) }}"
                 alt="{{ club.country|trans({},'lang') }}"
                 title="{{ club.country|trans({},'lang') }}"
                 class="flag"
            >
            {{ club.country|trans({},'lang') }} - {{ club.name }}
        </a>
    </div>
    <div class="panel-body">
        <div class="row">
            {% for catid,enrolled in teams %}
            <div class="col-sm-4">
                <p class="lead">
                    <a href="{{ path('_showcategory', { 'categoryid': categories[catid].id }) }}">
                        <b>{% trans %}CATEGORY{% endtrans %} {{ categories[catid].name }}</b>
                    </a><br />
                    {{ ['GENDER.',
                        categories[catid].gender,
                        categories[catid].classification]|join|transchoice(categories[catid].age, { '%age%': categories[catid].age },'tournament') }}
                </p>
                <div class="list-group">
                {% for team in enrolled %}
                    <a class="list-group-item" href="{{ path('_showteam_all', { 'teamid': team.id }) }}">
                        <h4 class="list-group-item-heading">{% trans %}GROUP{% endtrans %} {{ team.group }}</h4>
                        <p class="list-group-item-text">{{ team.name }}</p>
                    </a>
                {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<div class="panel panel-warning">
    <div class="panel-heading">
        <b>
            {% trans %}TOURNAMENTNOTREADY{% endtrans %}
        </b>
    </div>
</div>
{% endif %}
{% endblock %}