{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% import 'ICupPublicSiteBundle:Masters:club.html.twig' as formatter %}
{% import 'ICupPublicSiteBundle:Masters:tournament.html.twig' as tformatter %}
{% import _self as self %}

{% macro club(teams, context) %}
    {% for team in teams %}
        {% if team.matches > 0 %}
            {{ context.formatter.displayteam(team, context) }}<br />
        {% endif %}
    {% else %}
        <br />
    {% endfor %}
{% endmacro %}
        
{% block widebody %}
{{ tformatter.title(tournament) }}
{% endblock %}

{% block body %}
<div class="hidden-xs" style="margin-top: 10px;">
    <ul class="nav nav-pills" role="tablist">
        <li class="active">
            <a href="{{ path('_tournament_winners', {'tournament': tournament.key }) }}">{{ 'WINNERS'|trans|upper }}</a>
        </li>
        <li>
            <a href="{{ path('_tournament_winners_countries', {'tournament': tournament.key }) }}">{{ 'WINNING_COUNTRIES'|trans|upper }}</a>
        </li>
        <li>
            <a href="{{ path('_tournament_winners_clubs', {'tournament': tournament.key }) }}">{{ 'WINNING_CLUBS'|trans|upper }}</a>
        </li>
    </ul>
</div>
<div class="visible-xs-block" style="margin-top: 10px;">
    <h4>{{ 'WINNERS'|trans|upper }}</h4>
</div>
<p class="lead" />
{% if championlist|length > 0 %}
<div class="list-group">
    {% for category in championlist %}
        {% set group = category.group %}
    <a class="list-group-item list-group-item-warning"
       href="{{ path('_showcategory_finals', {'tournament': tournament.key, 'categoryid': group.catid }) }}">
        <h4 class="list-group-item-heading">
            {% trans %}CATEGORY{% endtrans %} {{ group.category }}
        </h4>
        <p class="list-group-item-text">
            {{ ['GENDER.',
                group.gender,
                group.class]|join|transchoice(group.age, { '%age%': group.age },'tournament') }}<br />
        </p>
    </a>
    <div class="list-group-item">    
        <p class="list-group-item-text">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4><span class="label label-danger"><i class="fa fa-trophy"></i>&nbsp;{% trans %}FIRST{% endtrans %}</span></h4>
                    {{ self.club(category.first, _context) }}
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4><span class="label label-warning">{% trans %}SECOND{% endtrans %}</span></h4>
                    {{ self.club(category.second, _context) }}
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4><span class="label label-primary">{% trans %}THIRD{% endtrans %}</span></h4>
                    {{ self.club(category.third, _context) }}
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4><span class="label label-default">{% trans %}FORTH{% endtrans %}</span></h4>
                    {{ self.club(category.forth, _context) }}
                </div>
            </div>
        </p>
    </div>
    {% endfor %}
</div>
<div class="visible-xs-block">
    <nav>
        <ul class="pager">
            <li class="next"><a href="{{ path('_tournament_winners_countries', {'tournament': tournament.key }) }}">{{ 'WINNING_COUNTRIES'|trans|upper }} <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>
{% else %}
<div class="panel panel-warning">
    <div class="panel-heading">
        <b>
            {% trans %}NOWINNERS{% endtrans %}
        </b>
    </div>
</div>
{% endif %}
{% endblock %}