{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% import 'ICupPublicSiteBundle:Masters:club.html.twig' as formatter %}
{% import 'ICupPublicSiteBundle:Masters:tournament.html.twig' as tformatter %}

{% block widebody %}
{{ tformatter.title(tournament) }}
{% endblock %}

{% block body %}
<div class="hidden-xs" style="margin-top: 10px;">
    <ul class="nav nav-pills" role="tablist">
        <li>
            <a href="{{ path('_tournament_winners', {'tournament': tournament.key }) }}">{{ 'WINNERS'|trans|upper }}</a>
        </li>
        <li class="active">
            <a href="{{ path('_tournament_winners_countries', {'tournament': tournament.key }) }}">{{ 'WINNING_COUNTRIES'|trans|upper }}</a>
        </li>
        <li>
            <a href="{{ path('_tournament_winners_clubs', {'tournament': tournament.key }) }}">{{ 'WINNING_CLUBS'|trans|upper }}</a>
        </li>
    </ul>
</div>
<p class="lead" />
{% if championlist|length > 0 %}
<table class="table table-striped">
    <thead>
        <tr>
            <td></td>
            <td class="winner_first text-center">{% trans %}FIRST{% endtrans %}</td>
            <td class="winner_second text-center">{% trans %}SECOND{% endtrans %}</td>
            <td class="winner_third text-center">{% trans %}THIRD{% endtrans %}</td>
            <td class="winner_forth text-center">{% trans %}FORTH{% endtrans %}</td>
        </tr>
    </thead>
    <tbody>
    {% for ranks in championlist %}
        <tr>
            <td>
                {{ formatter.displayclub({'country': ranks.country, 'name': ranks.country|trans({},'lang')|upper }, _context) }}
            </td>
            <td class="text-center">
                {{ ranks.first|length }}
            </td>
            <td class="text-center">
                {{ ranks.second|length }}
            </td>
            <td class="text-center">
                {{ ranks.third|length }}
            </td>
            <td class="text-center">
                {{ ranks.forth|length }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="panel panel-warning">
    <div class="panel-heading">
        <b>
            {% trans %}NOWINNERS{% endtrans %}
        </b>
    </div>
</div>
{% endif %}
{% endblock %}