{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% import _self as formatter %}

{% macro club(teams, context) %}
    <table>
    {% for team in teams %}
        <tr>
        {% if team.matches > 0 %}
            <td class="flag"><img src="{{ context.imagepath }}/flags/{{ context.countries[team.country].flag }}" alt="{{ team.country|trans({},'lang') }}" title="{{ team.country|trans({},'lang') }}"></td>
            <td><a href="{{ path('_showteam', { 'teamid': team.id, 'groupid': team.group }) }}">{{ team.name }}</a></td>
        {% endif %}
        </tr>
    {% endfor %}
    {% if teams|length == 0 %}
        <tr>
            <td class="flag">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    {% endif %}
    </table>
{% endmacro %}
        
{% import 'ICupPublicSiteBundle:Masters:tournament.html.twig' as tformatter %}

{% block widebody %}
{{ tformatter.title(tournament) }}
{% endblock %}

{% block body %}
<ul class="nav nav-pills" role="tablist">
    <li class="active">
        <a href="{{ path('_tournament_winners', {'tournament': tournament.key }) }}">{{ 'WINNERS'|trans|upper }}</a>
    </li>
    <li>
        <a href="{{ path('_tournament_winners_countries', {'tournament': tournament.key }) }}">{{ 'WINNING_COUNTRIES'|trans|upper }}</a>
    </li>
    <li>
        <a href="{{ path('_tournament_winners_clubs', {'tournament': tournament.key }) }}">{{ 'WINNING_CLUBS'|trans|upper }}</a>
    </li>
</ul>
<p class="lead" />
{% if championlist|length > 0 %}
<table class="table table-striped">
    <thead>
        <tr>
            <td>{% trans %}CATEGORY{% endtrans %}</td>
            <td class="winner_first">{% trans %}FIRST{% endtrans %}</td>
            <td class="winner_second">{% trans %}SECOND{% endtrans %}</td>
            <td class="winner_third">{% trans %}THIRD{% endtrans %}</td>
            <td class="winner_forth">{% trans %}FORTH{% endtrans %}</td>
        </tr>
    </thead>
    <tbody>
    {% for category in championlist %}
        {% set group = category.group %}
        <tr>
            <td>
                <a href="{{ path('_showcategory_finals', {'tournament': tournament.key, 'categoryid': group.catid }) }}"
                   title="{{ ['GENDER.',
                    group.gender,
                    group.class]|join|transchoice(group.age, { '%age%': group.age },'tournament') }}">
                    <b>{{ group.category }}</b>
                </a>
            </td>
            <td>{{ formatter.club(category.first, _context) }}</td>
            <td>{{ formatter.club(category.second, _context) }}</td>
            <td>{{ formatter.club(category.third, _context) }}</td>
            <td>{{ formatter.club(category.forth, _context) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="panel panel-warning">
    <div class="panel-heading">
        <b>
            {% trans %}NOWINNERS{% endtrans %}
        </b>
    </div>
</div>
{% endif %}
{% endblock %}