{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}
{% trans_default_domain "tournament" %}

{% import _self as formatter %}

{% macro club(teams, context) %}
    <table>
    {% for team in teams %}
        <tr>
        {% if team.matches > 0 %}
            <td class="winner_flag"><img src="{{ context.imagepath }}/flags/{{ context.countries[team.country].flag }}" alt="{{ team.country|trans({},'lang') }}" title="{{ team.country|trans({},'lang') }}"></td>
            <td class="winner_team"><a href="{{ path('_showteam', { 'teamid': team.id, 'groupid': team.group }) }}">{{ team.name }}</a></td>
        {% endif %}
        </tr>
    {% endfor %}
    {% if teams|length == 0 %}
        <tr>
            <td class="winner_flag">&nbsp;</td>
            <td class="winner_team">&nbsp;</td>
        </tr>
    {% endif %}
    </table>
{% endmacro %}
        
{% block body %}
<h1 class="category">{{ tournament.name }}</h1>
<p class="subcategory">
    {% trans %}RESULTS{% endtrans %} {{ tournament.edition }}<br />
</p>
<div class="tab active" onclick="location.href='{{ path('_tournament_winners', {'tournament': tournament.key }) }}'">{{ 'WINNERS'|trans|upper }}</div>
<div class="tab" onclick="location.href='{{ path('_tournament_winners_countries', {'tournament': tournament.key }) }}'">{{ 'WINNING_COUNTRIES'|trans|upper }}</div>
<div class="tab" onclick="location.href='{{ path('_tournament_winners_clubs', {'tournament': tournament.key }) }}'">{{ 'WINNING_CLUBS'|trans|upper }}</div>
<table>
    <caption>{% trans %}WINNERS{% endtrans %}</caption>
    <thead>
        <tr>
            <td class="winner_first winners">{% trans %}FIRST{% endtrans %}</td>
            <td class="winner_second winners">{% trans %}SECOND{% endtrans %}</td>
            <td class="winner_third winners">{% trans %}THIRD{% endtrans %}<br />{% trans %}FORTH{% endtrans %}</td>
        </tr>
    </thead>
    <tboby>
    {% for category in championlist %}
        {% set group = category.group %}
        <tr class="{{ cycle(['even','odd'],loop.index) }}">
            <td class="winner_category" colspan="2">
                <a href="{{ path('_showcategory_finals', {'tournament': tournament.key, 'categoryid': group.catid }) }}">
                    {% trans %}CATEGORY{% endtrans %} {{ group.category }}
                </a>
            </td>
            <td class="winner_subcategory">
                {{ [group.gender,group.class]|join|trans }}
                {{ group.class|trans|lower }}
            </td>
        </tr>
        <tr class="{{ cycle(['even','odd'],loop.index) }}">
            <td class="winner_first">
                {{ formatter.club(category.first, _context) }}
            </td>
            <td class="winner_second">
                {{ formatter.club(category.second, _context) }}
            </td>
            <td class="winner_third">
                {{ formatter.club(category.third, _context) }}<br />
                {{ formatter.club(category.forth, _context) }}
            </td>
        </tr>
    {% endfor %}
    </tboby>
    <tfoot>
        <tr>
            <td colspan="3"></td>
        </tr>
    </tfoot>
</table>
{% endblock %}