{% extends "ICupPublicSiteBundle:Default:layout.script.html.twig" %}

{% form_theme form _self %}
{% trans_default_domain "admin" %}

{% block body %}
<a href="{{ path('_editmenu', {'categoryId': category.id, 'tournament': tournament.key }) }}">
    <h1 class="category">{{ tournament.name }}</h1>
</a>
<p class="subcategory">{% trans %}EDITMATCH{% endtrans %}</p>
<p class="subgroup">
    {{ [category.gender,category.classification]|join|trans }}
    {{ category.classification|trans }}
</p>
<p>
    <form action="{{ path('_newmatchpost', {'categoryId': category.id, 'tournament': tournament.key }) }}" method="POST">
        <p>Indtast navn og e-mail adresse på respondenten.</p>
        {{ form_rest(form) }}
        
        <div style="float: right;">
            <input type="submit" name="invite" value="Inviter" class="form_button" />
        </div>
    </form>
</p>
{% endblock %}