{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}

{% block body %}
<div class="admin">
    <a href="{{ path('_editmaster', { 'tournament': tournament.key }) }}">
        <h1 class="category">{% trans %}CATEGORY{% endtrans %} {{ category.name }}</h1>
    </a>
    <p class="subcategory">
        {{ [category.gender,category.classification]|join|trans }}
        {{ category.classification|trans }}
    </p>
    <p>
        <a href="{{ path('_newgroup', { 'categoryId': category.id, 'tournament': tournament.key }) }}">
            <b>{% trans %}NEWGROUP{% endtrans %}</b>
        </a>
    </p>
    <p>
        <a href="{{ path('_newgrouporder', { 'categoryId': category.id, 'tournament': tournament.key }) }}">
            <b>{% trans %}ADDTEAM{% endtrans %}</b>
        </a>
    </p>
    <p>
        <a href="{{ path('_newmatch', { 'categoryId': category.id, 'tournament': tournament.key }) }}">
            <b>{% trans %}NEWMATCH{% endtrans %}</b>
        </a>
    </p>

    {% for group in groups %}
        <h2 class="group">{% trans %}GROUP{% endtrans %} {{ group.name }}</h2>
    {% endfor %}
</div>
{% endblock %}