{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-university"></i>&nbsp;
        {% trans %}FORM.LISTCLUBS.TITLE{% endtrans %}
    </h2>
    <p>{% trans %}FORM.LISTCLUBS.CAPTION{% endtrans %}</p>
<div class="panel panel-default">
    <div class="panel-body">
{% if teams|length > 0 %}
    <div class="row">
        <div class="col-xs-12">
    {% for country,teamlist in teams %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img src="{{ asset(['bundles/icuppublicsite/images/flags/',countries[country].flag]|join) }}"
                         alt="{{ country|trans({},'lang') }}"
                         title="{{ country|trans({},'lang') }}"
                         class="flag"
                    >
                    <b>{{ country|trans({},'lang') }}</b>
                </div>
                <table class="table table-striped">
            {% for id,club in teamlist %}
                    <tr>
                        <td id="_club_{{ club.club.id }}" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {{ club.club.name|upper }}
                        </td>
                        <td class="narrow-col">
                            {{ club.teams|length }}
                        </td>
                        <td class="narrow-col">
                            <a href="{{ path('_edit_club_add', {'country': country }) }}">
                                <span class="fa fa-file"></span>
                            </a>
                        </td>
                        <td class="narrow-col">
                            <a href="{{ path('_edit_club_chg', {'clubid': club.club.id }) }}">
                                <span class="fa fa-pencil"></span>
                            </a>
                        </td>
                        <td class="narrow-col">
                            <a href="{{ path('_edit_club_del', {'clubid': club.club.id }) }}">
                                <span class="fa fa-times text-danger"></span>
                            </a>
                        </td>
                        <td class="narrow-col">
                            <a href="{{ path('_edit_user_list', {'clubid': club.club.id }) }}">
                                <span class="fa fa-users"></span>
                            </a><br />
                        </td>
                    </tr>
            {% endfor %}
                </table>
            </div>
        {% endfor %}
        </div>
{% else %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{'FORM.LISTCLUBS.NOCLUB'|trans|upper}}
            </div>
            <table class="table table-striped">
                <tr>
                    <td>
                        <b><a href="{{ path('_edit_club_add') }}">{{'FORM.LISTCLUBS.NOCLUB'|trans|upper}}</a></b>
                    </td>
                    <td class="narrow-col">
                        <a href="{{ path('_edit_club_add') }}">
                            <span class="fa fa-file"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endif %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("Source", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var merge_source = ev.dataTransfer.getData("Source");
            var merge_target = ev.target.id;
            var source_club = null;
            var target_club = null;
            var makeAlertBox = function(alerttext) {
                return '<div class="alert alert-warning alert-dismissible" role="alert">'+
                            '<button type="button" class="close" data-dismiss="alert">'+
                                '<span aria-hidden="true">&times;</span>'+
                                '<span class="sr-only">Close</span>'+
                            '</button>'+
                            '<strong>Warning!</strong> '+
                            alerttext+
                       '</div>';
            };
            $.when(
                $.getJSON(Routing.generate('rest_get_club', { 'clubid': merge_source.substring(6) }))
                    .done(function( data ) {
                        source_club = data.club;
                    })
                    .fail(function( jqxhr, textStatus, error ) {
                        $( ev.target ).parent().parent().parent().parent().after(
                            makeAlertBox('Problem getting info for club<br />'+
                                         'Club id: '+merge_source.substring(6)));
                    })
                    .always(function() {
                    }),
                $.getJSON(Routing.generate('rest_get_club', { 'clubid': merge_target.substring(6) }))
                    .done(function( data ) {
                        target_club = data.club;
                    })
                    .fail(function( jqxhr, textStatus, error ) {
                        $( ev.target ).parent().parent().parent().parent().after(
                            makeAlertBox('Problem getting info for club<br />'+
                                         'Club id: '+merge_target.substring(6)));
                    })
                    .always(function() {
                    }))
            .then(function() {
                if (source_club !== null && target_club !== null) {
                    if (source_club.country !== target_club.country) {
                        $( ev.target ).parent().parent().parent().parent().after(
                            makeAlertBox('Not allowed to merge across different countries<br />'+
                                         source_club.name+' ('+source_club.country+') -> '+
                                         target_club.name+' ('+target_club.country+')'));
                    }
                    else if (source_club.id === target_club.id) {
                        // do nothing
                    }
                    else {
                        location.href=Routing.generate('_edit_club_merge', { 'clubid': target_club.id, 'sourceclubid': source_club.id });
                    }
                }
            });                    
        }
    </script>
{% endblock %}
