{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<div class="panel panel-success">
    <div class="panel-heading"><b>{{ 'FORM.LISTUSERS.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        <a href="{{ path('_edit_club_list') }}">{{ club.name }}</a>
        &nbsp;
        <img src="{{ imagepath }}/flags/{{ countries[club.country].flag }}"
             alt="{{ club.country|trans({},'lang') }}"
             title="{{ club.country|trans({},'lang') }}"><br />
        {% trans %}FORM.LISTUSERS.CAPTION{% endtrans %}
    </div>
    <table class="table table-striped">
        <tbody>
{% if users|length > 0 %}
    {% for user in users %}
            <tr>
                <td class="user">
        {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('_user_my_page', {'_switch_user': user.username }) }}">
                    {{ user.name|upper }}
                    </a>    
        {% else %}
                    {{ user.name|upper }}
        {% endif %}
                </td>
                <td class="role">
{% if user.status == 3 %}
                    {{ 'FORM.MYPAGE.PROSPECT'|trans({},'club') }}
{% else %}
    {% if user.role == 1 %}
                    {{ 'FORM.MYPAGE.CLUBUSER'|trans({},'club') }}
    {% else %}
                    {{ 'FORM.MYPAGE.CLUBADMIN'|trans({},'club') }}
    {% endif %}
{% endif %}
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_user_add', { 'clubid': club.id }) }}">
                        <span class="glyphicon glyphicon-file"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_user_chg', { 'userid': user.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_user_del', { 'userid': user.id }) }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_user_chg_pass', { 'userid': user.id }) }}">
                        <span class="glyphicon glyphicon-lock"></span>
                    </a>    
                </td>
            </tr>
    {% endfor %}
{% else %}
            <tr>
                <td class="user">
                    <a href="{{ path('_edit_user_add', { 'clubid': club.id }) }}">
                    {{'FORM.LISTUSERS.NOUSER'|trans|upper}}
                    </a>    
                </td>
                <td class="narrow-col">
                    <a href="{{ path('_edit_user_add', { 'clubid': club.id }) }}">
                        <span class="glyphicon glyphicon-file"></span>
                    </a>    
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
{% endif %}
        </tbody>
    </table>
</div>
{% endblock %}