{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<div class="panel panel-success">
    <div class="panel-heading"><b>{{ 'FORM.LISTCLUBS.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        {% trans %}FORM.LISTCLUBS.CAPTION{% endtrans %}
    </div>
    <div class="row">
{% if teams|length > 0 %}
{% for column in teams %}
        <div class="col-sm-6">
    {% for countrylist in column %}
    {% for country,teamlist in countrylist %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img src="{{ imagepath }}/flags/{{ countries[country].flag }}"
                         alt="{{ country|trans({},'lang') }}"
                         title="{{ country|trans({},'lang') }}"
                         class="flag"
                    >
                    <b>{{ country|trans({},'lang') }}</b>
                </div>
                <table class="table table-striped">
            {% for id,club in teamlist %}
                    <tr>
                        <td>
                            {{ club.name|upper }}
                        </td>
                        <td class="narrow-col">
                            <a href="{{ path('_edit_club_add', {'country': country }) }}">
                                <span class="glyphicon glyphicon-file"></span>
                            </a>
                        </td>
                        <td class="narrow-col">
                            <a href="{{ path('_edit_club_chg', {'clubid': club.id }) }}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                        <td class="narrow-col">
                            <a href="{{ path('_edit_club_del', {'clubid': club.id }) }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                        <td class="narrow-col">
                            <a href="{{ path('_edit_user_list', {'clubid': club.id }) }}">
                                <span class="glyphicon glyphicon-user"></span>
                            </a><br />
                        </td>
                    </tr>
            {% endfor %}
                </table>
            </div>
        {% endfor %}
        {% endfor %}
        </div>
    {% endfor %}
{% else %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{'FORM.LISTCLUBS.NOCLUB'|trans|upper}}
            </div>
            <table class="table table-striped">
                <tr>
                    <td>
                        <b><a href="{{ path('_edit_club_add') }}">{{'FORM.LISTCLUBS.NOCLUB'|trans|upper}}</a></b>
                    </td>
                    <td class="narrow-col">
                        <a href="{{ path('_edit_club_add') }}">
                            <span class="glyphicon glyphicon-file"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
{% endif %}
    </div>
</div>
{% endblock %}