{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<div class="panel panel-success">
    <div class="panel-heading"><b>{{ 'FORM.LISTCLUBS.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        {% trans %}FORM.LISTCLUBS.CAPTION{% endtrans %}
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td colspan="2">{% trans %}FORM.LISTCLUBS.LEGEND{% endtrans %}</td>
            </tr>
        </thead>
        <tboby>
{% if teams|length > 0 %}            
            <tr>
{% for column in teams %}
                <td class="column">
    {% for countrylist in column %}
    {% for country,teamlist in countrylist %}
    <table>
        <tr>
            <td class="country country_spacer">
                        <img src="{{ imagepath }}/flags/{{ countries[country].flag }}" 
                             alt="{{ country|trans({},'lang') }}" 
                             title="{{ country|trans({},'lang') }}"
                             class="flag"
                        >
                        <b>{{ country|trans({},'lang') }}</b>
            </td>
            <td class="operand country_spacer">
                <a href="{{ path('_edit_club_add', {'country': country }) }}">
                    <span class="glyphicon glyphicon-file"></span>
                </a>
            </td>
            <td class="operand"></td>
            <td class="operand"></td>
            <td class="operand"></td>
        </tr>
        {% for id,club in teamlist %}
        <tr>
            <td class="clubname">
                        {{ club.name|upper }}
            </td>
            <td class="operand">
                <a href="{{ path('_edit_club_add', {'country': country }) }}">
                    <span class="glyphicon glyphicon-file"></span>
                </a>
            </td>
            <td class="operand">
                <a href="{{ path('_edit_club_chg', {'clubid': club.id }) }}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </td>
            <td class="operand">
                <a href="{{ path('_edit_club_del', {'clubid': club.id }) }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
            <td class="operand">
                <a href="{{ path('_edit_user_list', {'clubid': club.id }) }}">
                    <span class="glyphicon glyphicon-user"></span>
                </a><br />
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
    {% endfor %}
                </td>
{% endfor %}
            </tr>
{% else %}
        <tr>
            <td class="clubname">
                        <b><a href="{{ path('_edit_club_add') }}">{{'FORM.LISTCLUBS.NOCLUB'|trans|upper}}</a></b>
            </td>
            <td class="operand">
                <a href="{{ path('_edit_club_add') }}">
                    <span class="glyphicon glyphicon-file"></span>
                </a>
            </td>
        </tr>
{% endif %}
        </tboby>
    </table>
</div>
{% endblock %}