{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<div class="panel panel-success">
    <div class="panel-heading"><b>{{ 'FORM.LISTHOSTS.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
        {% trans %}FORM.LISTHOSTS.CAPTION{% endtrans %}
    </div>
    <table class="table table-striped">
        <tboby>
{% for host in hosts %}
            <tr>
                <td class="markup" colspan="2">
                    <a href="{{ path('_edit_host_chg', { 'hostid': host.id }) }}">
                    {{ host.name|upper }}
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_host_add') }}">
                    <span class="glyphicon glyphicon-file" title="{% trans %}FORM.HOST.TITLE.ADD{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_host_chg', { 'hostid': host.id }) }}">
                    <span class="glyphicon glyphicon-edit" title="{% trans %}FORM.HOST.TITLE.CHG{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_host_del', { 'hostid': host.id }) }}">
                    <span class="glyphicon glyphicon-remove" title="{% trans %}FORM.HOST.TITLE.DEL{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_editor_list', { 'hostid': host.id }) }}">
                    <span class="glyphicon glyphicon-user" title="{% trans %}FORM.LISTEDITORS.TITLE{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="operand"></td>
                <td class="operand"></td>
            </tr>
    {% if host.id in tournaments|keys %}
{% for tournament in tournaments[host.id] %}
            <tr>
                <td></td>
                <td>
                    <a href="{{ path('_edit_tournament_chg', { 'tournamentid': tournament.id }) }}">
                        {{ tournament.name }}
                    </a>
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_tournament_add', { 'hostid': host.id }) }}">
                        <span class="glyphicon glyphicon-file" title="{% trans %}FORM.TOURNAMENT.TITLE.ADD{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_tournament_chg', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-edit" title="{% trans %}FORM.TOURNAMENT.TITLE.CHG{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_tournament_del', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-remove" title="{% trans %}FORM.TOURNAMENT.TITLE.DEL{% endtrans %}"></span>
                    </a>    
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_site_list', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-tower" title="{% trans %}FORM.LISTTOURNAMENTS.CAPTION{% endtrans %}"></span>
                    </a>
                </td>
                <td class="operand">
                    <a href="{{ path('_edit_category_list', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-tags" title="{% trans %}FORM.LISTCATEGORIES.CAPTION{% endtrans %}"></span>
                    </a>
                </td>
                <td class="operand">
                    <a href="{{ path('_host_list_clubs', { 'tournamentid': tournament.id }) }}">
                        <span class="glyphicon glyphicon-flag" title="{% trans %}FORM.LISTCLUBS.TITLE{% endtrans %}"></span>
                    </a>    
                </td>
            </tr>
{% endfor %}
        {% else %}
            <tr>
                <td></td>
                <td><a href="{{ path('_edit_tournament_add', { 'hostid': host.id }) }}">{{'FORM.LISTHOSTS.NOTOURNAMENT'|trans|upper}}</a></td>
                <td class="operand">
                    <a href="{{ path('_edit_tournament_add', { 'hostid': host.id }) }}">
                        <span class="glyphicon glyphicon-file" title="{% trans %}FORM.TOURNAMENT.TITLE.ADD{% endtrans %}"></span>
                    </a>    
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
{% endfor %}
        </tboby>
    </table>
</div>
{% endblock %}