{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
<h1>{% trans %}FORM.ADMIN{% endtrans %}</h1>
<p class="subtitle">{% trans %}FORM.LISTHOSTS.TITLE{% endtrans %}</p>
<table>
    <caption>{% trans %}FORM.LISTHOSTS.CAPTION{% endtrans %}</caption>
    <thead>
        <tr>
            <td class="indent"></td>
            <td></td>
            <td class="operand"></td>
            <td class="operand"></td>
            <td class="operand"></td>
            <td class="operand"></td>
            <td class="operand"></td>
            <td class="operand"></td>
        </tr>
    </thead>
    <tboby>
{% for host in hosts %}
        <tr class="{{ cycle(['even','odd'],loop.index) }}">
            <td class="host_solo" colspan="2">
                <a href="{{ path('_edit_host_chg', { 'hostid': host.id }) }}">
                {{ host.name|upper }}
                </a>    
            </td>
            <td class="operand">
                <a href="{{ path('_edit_host_add') }}">
                +
                </a>    
            </td>
            <td class="operand">
                <a href="{{ path('_edit_host_chg', { 'hostid': host.id }) }}">
                E
                </a>    
            </td>
            <td class="operand">
                <a href="{{ path('_edit_host_del', { 'hostid': host.id }) }}">
                -
                </a>    
            </td>
            <td class="operand">
                <a href="{{ path('_edit_editor_list', { 'hostid': host.id }) }}">
                U
                </a>    
            </td>
            <td class="operand"></td>
            <td class="operand"></td>
        </tr>
        {% if host.id in tournaments|keys %}
{% for tournament in tournaments[host.id] %}
        <tr class="{{ cycle(['even','odd'],loop.index) }}">
            <td></td>
            <td>
                <a href="{{ path('_edit_tournament_chg', { 'tournamentid': tournament.id }) }}">
                {{ tournament.name }}
                </a>
            </td>
            <td class="operand">
                <a href="{{ path('_edit_tournament_add', { 'hostid': host.id }) }}">
                +
                </a>    
            </td>
            <td class="operand">
                <a href="{{ path('_edit_tournament_chg', { 'tournamentid': tournament.id }) }}">
                E
                </a>    
            </td>
            <td class="operand">
                <a href="{{ path('_edit_tournament_del', { 'tournamentid': tournament.id }) }}">
                -
                </a>    
            </td>
            <td class="operand">
                <a href="{{ path('_edit_site_list', { 'tournamentid': tournament.id }) }}">
                P
                </a>
            </td>
            <td class="operand">
                <a href="{{ path('_edit_category_list', { 'tournamentid': tournament.id }) }}">
                C
                </a>
            </td>
            <td class="operand">
                <a href="{{ path('_host_list_clubs', { 'tournamentid': tournament.id }) }}">
                T
                </a>    
            </td>
        </tr>
{% endfor %}
        {% else %}
        <tr class="{{ cycle(['even','odd'],loop.index) }}">
            <td></td>
            <td><a href="{{ path('_edit_tournament_add', { 'hostid': host.id }) }}">{{'FORM.LISTHOSTS.NOTOURNAMENT'|trans|upper}}</a></td>
            <td class="operand">
                <a href="{{ path('_edit_tournament_add', { 'hostid': host.id }) }}">
                +
                </a>    
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endif %}
{% endfor %}
    </tboby>
    <tfoot>
        <tr>
            <td colspan="8"></td>
        </tr>
    </tfoot>
</table>
{% endblock %}