{% extends "ICupPublicSiteBundle:Masters:standard.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "admin" %}

{% block body %}
<div class="panel panel-info">
    <div class="panel-heading"><b>{{ 'FORM.LOGIN.TITLE'|trans|upper }}</b></div>
    <div class="panel-body lead">
{% if tournament is defined and tournament %}
        {{ tournament.name }}<br />
{% endif %}
        {{ 'FORM.LOGIN.PROMPT'|trans }}
    </div>
    <div class="panel-body">
{% if error is defined and error %}
        <div class="form_error">{{ error.message }}</div>
{% endif %}
        {{ form(form) }}
    </div>
</div>
{% endblock %}
