{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-university"></i>&nbsp;
        {% trans %}FORM.MATCHPLANNING.TITLE{% endtrans %}
    </h2>
    <p>{% trans %}FORM.MATCHPLANNING.CAPTION{% endtrans %}</p>
    <p class="lead">
        <a href="{{ path('_edit_tournamentboard', { 'tournamentid': tournament.id }) }}">
            {{ host.name|upper }}
            <br />
            {{ tournament.name }}
        </a>
    </p>
    <ul class="nav nav-tabs" role="tablist">
        <li>
            <a href="{{ path('_edit_match_planning_options', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-toggle-on"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.OPTIONS{% endtrans %}
            </a>
        </li>
        <li class="active">
            <a href="{{ path('_edit_match_planning_groups', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-cubes"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.GROUPS{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_result', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-puzzle-piece"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.RESULT{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_view', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-calendar-check-o"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.VIEW{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_advice', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-lightbulb-o"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.ADVICE{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_maint', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-wrench"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.MAINT{% endtrans %}
            </a>
        </li>
    </ul>

    <div ng-app="assignGroupsModule">
        <div ng-controller="assignGroupsController" ng-cloak>
            <section layout="row" flex>
                <md-sidenav
                        class="md-sidenav-left"
                        md-component-id="categoryOptions"
                        md-disable-backdrop
                        md-whiteframe="4">
                    <md-toolbar class="md-theme-light" style="top: 50px;">
                        <h1 class="md-toolbar-tools">
                            {% trans %}FORM.QMATCHPLANNING.OPTIONS{% endtrans %}
                        </h1>
                    </md-toolbar>
                    <md-content layout-padding style="margin-top: 50px;">
                        <h4>
                            {% trans from 'tournament' %}CATEGORY{% endtrans %} {{ '{{ category.name }}' }} - {{ '{{ category.classification_translated }}' }}
                        </h4>
                        <form ng-submit="submit()" ng-cloak>
                            <div ng-show="category.preliminary_groups==0">
                                <h4>{% trans %}FORM.QMATCHPLANNING.GROUP.ZERO{% endtrans %}</h4>
                                <p>{% trans %}FORM.QMATCHPLANNING.RADIO.GROUP0.OPTION0{% endtrans %}</p>
                            </div>
                            <div ng-show="category.preliminary_groups==1">
                                <h4>{% trans %}FORM.QMATCHPLANNING.GROUP.ONE{% endtrans %}</h4>
                                <md-radio-group ng-model="category_object.strategy">
                                    <md-radio-button value="0" class="md-primary">{% trans %}FORM.QMATCHPLANNING.RADIO.GROUP1.OPTION0{% endtrans %}</md-radio-button>
                                    <md-radio-button value="1" class="md-primary">{% trans %}FORM.QMATCHPLANNING.RADIO.GROUP1.OPTION1{% endtrans %}</md-radio-button>
                                    <md-radio-button value="2" class="md-primary">{% trans %}FORM.QMATCHPLANNING.RADIO.GROUP1.OPTION2{% endtrans %}</md-radio-button>
                                </md-radio-group>
                            </div>
                            <div ng-show="category.preliminary_groups==2">
                                <h4>{% trans %}FORM.QMATCHPLANNING.GROUP.TWO{% endtrans %}</h4>
                                <md-radio-group ng-model="category_object.strategy">
                                    <md-radio-button value="0" class="md-primary">{% trans %}FORM.QMATCHPLANNING.RADIO.GROUP2.OPTION0{% endtrans %}</md-radio-button>
                                    <md-radio-button value="1" class="md-primary">{% trans %}FORM.QMATCHPLANNING.RADIO.GROUP2.OPTION1{% endtrans %}</md-radio-button>
                                    <md-radio-button value="2" class="md-primary">{% trans %}FORM.QMATCHPLANNING.RADIO.GROUP2.OPTION2{% endtrans %}</md-radio-button>
                                    <md-radio-button value="3" class="md-primary">{% trans %}FORM.QMATCHPLANNING.RADIO.GROUP2.OPTION3{% endtrans %}</md-radio-button>
                                </md-radio-group>
                            </div>
                            <div ng-show="category.preliminary_groups==3">
                                <h4>{% trans %}FORM.QMATCHPLANNING.GROUP.THREE{% endtrans %}</h4>
                                <md-radio-group ng-model="category_object.strategy">
                                    <md-radio-button value="0" class="md-primary">{% trans %}FORM.QMATCHPLANNING.RADIO.GROUP3.OPTION0{% endtrans %}</md-radio-button>
                                    <md-radio-button value="1" class="md-primary">{% trans %}FORM.QMATCHPLANNING.RADIO.GROUP3.OPTION1{% endtrans %}</md-radio-button>
                                    <md-radio-button value="2" class="md-primary">{% trans %}FORM.QMATCHPLANNING.RADIO.GROUP3.OPTION2{% endtrans %}</md-radio-button>
                                </md-radio-group>
                            </div>
                            <div ng-show="category.preliminary_groups>=4">
                                <h4>{% trans %}FORM.QMATCHPLANNING.GROUP.FOUR{% endtrans %}</h4>
                                <md-radio-group ng-model="category_object.strategy">
                                    <md-radio-button value="0" class="md-primary">{% trans %}FORM.QMATCHPLANNING.RADIO.GROUP4.OPTION0{% endtrans %}</md-radio-button>
                                    <md-radio-button value="1" class="md-primary">{% trans %}FORM.QMATCHPLANNING.RADIO.GROUP4.OPTION1{% endtrans %}</md-radio-button>
                                    <md-radio-button value="2" class="md-primary">{% trans %}FORM.QMATCHPLANNING.RADIO.GROUP4.OPTION2{% endtrans %}</md-radio-button>
                                </md-radio-group>
                            </div>
                            <div style="padding-top: 50px;">
                                <md-input-container>
                                    <label for="trophys">{% trans %}FORM.QMATCHPLANNING.PROMPT.TROPHYS{% endtrans %}</label>
                                    <input type="text" id="trophys" ng-model="category_object.trophys" md-autofocus>
                                </md-input-container>
                                <md-input-container ng-show="category_object.strategy==0">
                                    <label for="premier_branch_teams">{% trans %}FORM.QMATCHPLANNING.PROMPT.TOPTEAMS{% endtrans %}</label>
                                    <input type="text" id="premier_branch_teams" ng-model="category_object.topteams">
                                </md-input-container>
                            </div>
                        </form>
                        <md-button ng-click="updateCategory()" class="md-raised md-primary">
                            {% trans %}FORM.QMATCHPLANNING.UPDATE{% endtrans %}
                        </md-button>
                        <md-button ng-click="close('categoryOptions')" class="md-raised">
                            {% trans %}FORM.QMATCHPLANNING.CLOSE{% endtrans %}
                        </md-button>
                    </md-content>
                </md-sidenav>

                <md-sidenav
                        class="md-sidenav-right"
                        md-component-id="groupOptions"
                        md-disable-backdrop
                        md-whiteframe="4">
                    <md-toolbar class="md-theme-light" style="top: 50px;">
                        <h1 class="md-toolbar-tools">
                            {% trans %}FORM.GROUP.TITLE.ADD{% endtrans %}
                        </h1>
                    </md-toolbar>
                    <md-content layout-padding style="margin-top: 50px;">
                        <h4>
                            {% trans from 'tournament' %}CATEGORY{% endtrans %} {{ '{{ category.name }}' }} - {{ '{{ category.classification_translated }}' }}
                        </h4>
                        <form ng-submit="submit()" ng-cloak>
                            <md-input-container>
                                <label for="name">{% trans %}FORM.QMATCHPLANNING.PROMPT.GROUPNAME{% endtrans %}</label>
                                <input type="text" id="name" ng-model="group_object.name" md-autofocus>
                            </md-input-container>
                        </form>
                        <md-button ng-click="addGroup()" class="md-raised md-primary">
                            {% trans %}FORM.QMATCHPLANNING.ADDGROUP{% endtrans %}
                        </md-button>
                        <md-button ng-click="close('groupOptions')" class="md-raised">
                            {% trans %}FORM.QMATCHPLANNING.CLOSE{% endtrans %}
                        </md-button>
                    </md-content>
                </md-sidenav>

                <md-content flex layout-padding>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4 col-sm-6">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="category in categories track by category.id">
                                    <span class="badge">{{ '{{ category.preliminary_groups }}' }}</span>
                                    <span ng-click="selectCategory(category.id)" ng-class="{'bold': category.id==selectedCategory}">
                                        {% trans from 'tournament' %}CATEGORY{% endtrans %} {{ '{{ category.name }}' }} - {{ '{{ category.classification_translated }}' }}
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div ng-show="selectedCategory && dataReady">
                                <h3>{% trans %}FORM.QMATCHPLANNING.GROUPS{% endtrans %}</h3>
                                <p>{% trans %}FORM.QMATCHPLANNING.EXPLAIN{% endtrans %}</p>
                                <hr />
                                <div class="row">
                                    {# Show group cards #}
                                    <div class="col-md-6" ng-repeat="group in groups track by group.group.id" ng-drop="true" ng-drop-success="onDropGroup(group.group.id)">
                                        <h4>
                                            <span class="label label-primary">{% trans from "tournament" %}GROUP{% endtrans %} {{ '{{ group.group.name }}' }}</span>
                                            &nbsp;<i class="fa fa-trash" ng-hide="group.teams.length" ng-click="deleteGroup(group.group.id)"></i>
                                        </h4>
                                        <div class="row"
                                             data-allow-transform="true"
                                             ng-drag="true" ng-drag-data="team" ng-drag-success="onDragTeam(group.group.id, team.id)"
                                             ng-repeat="team in group.teams track by team.id"
                                        >
                                            <div class="col-md-12">
                                                <img src="{{ asset('bundles/icuppublicsite/images/flags/') }}{{ '{{ team.flag }}' }}"
                                                     alt="{{ '{{ team.country }}' }}"
                                                     title="{{ '{{ team.country }}' }}" ng-if="team.flag" class="flag">
                                                {{ '{{ team.name }}' }}
                                            </div>
                                        </div>
                                        <h4 ng-hide="group.teams.length">
                                            <span class="badge">{% trans %}FORM.MATCHPLANNING.NOTEAMS{% endtrans %}</span>
                                        </h4>
                                    </div>
                                    {# Show unassigned teams card #}
                                    <div class="col-md-6" ng-drop="true" ng-drop-success="onDropUnassigned()">
                                        <h4>
                                            <span class="label label-primary">{{ 'FORM.LISTGROUPS.UNASSIGNED'|trans|upper }}</span>
                                        </h4>
                                        <div class="row"
                                             data-allow-transform="true"
                                             ng-drag="true" ng-drag-data="team" ng-drag-success="onDragUnassignedTeam(team.id)"
                                             ng-repeat="team in unassigned.teams track by team.id"
                                        >
                                            <div class="col-md-12">
                                                <img src="{{ asset('bundles/icuppublicsite/images/flags/') }}{{ '{{ team.flag }}' }}"
                                                     alt="{{ '{{ team.country }}' }}"
                                                     title="{{ '{{ team.country }}' }}" ng-if="team.flag" class="flag">
                                                {{ '{{ team.name }}' }}
                                            </div>
                                        </div>
                                        <h4 ng-hide="unassigned.teams.length">
                                            <span class="badge">{% trans %}FORM.MATCHPLANNING.NOTEAMS{% endtrans %}</span>
                                        </h4>
                                    </div>
                                </div>
                                <hr />
                                <h4 ng-hide="groups.length">{% trans %}FORM.QMATCHPLANNING.NOGROUPS{% endtrans %}</h4>
                                <div>
                                    <md-button class="md-raised md-hue-1" ng-class="{'md-primary': groups.length==0}" ng-click="toggleGroupOptions()" ng-hide="isOpen('groupOptions')">
                                        {% trans %}FORM.QMATCHPLANNING.ADDGROUP{% endtrans %}
                                    </md-button>
                                    <md-button class="md-raised md-hue-1" ng-click="toggleCategoryOptions()" ng-hide="isOpen('categoryOptions')">
                                        {% trans %}FORM.QMATCHPLANNING.OPTIONS{% endtrans %}
                                    </md-button>
                                    <md-button class="md-raised md-hue-1"> <!-- href="{{ path('_edit_import_team', { 'tournamentid': tournament.id }) }}" -->
                                        {% trans %}FORM.TEAMIMPORT.TITLE{% endtrans %}
                                    </md-button>
                                </div>
                            </div>
                            <div ng-show="!selectedCategory && dataReady">
                                <h3><span class="fa fa-hand-o-left"></span>&nbsp;{% trans %}FORM.QMATCHPLANNING.SELECTCATEGORY.TITLE{% endtrans %}</h3>
                                <p>{% trans %}FORM.QMATCHPLANNING.SELECTCATEGORY.TEXT{% endtrans %}</p>
                            </div>
                            <div ng-show="!dataReady" style="padding: 40px;">
                                <div layout="row" layout-sm="column" layout-align="space-around">
                                    <div class="lead">{% trans %}FORM.QMATCHPLANNING.WAIT.TEXT{% endtrans %}</div>
                                </div>
                                <div layout="row" layout-sm="column" layout-align="space-around">
                                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </section>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'tournament' }) }}?locales={{ app.request.locale|split('_')[0] }}"></script>
    <script type="text/javascript">
        angular.module('assignGroupsModule', ['ngMaterial', 'ngMessages','ngDraggable'])
                .controller('assignGroupsController', function($scope, $http, $mdDialog, $mdSidenav) {
                    $scope.onDragUnassignedTeam=function(teamid){
                        var index = $scope.unassigned.teams.findIndex(function (team) {
                            return team.id == teamid;
                        });
                        var team = $scope.unassigned.teams.splice(index, 1);
                        $scope.team = team[0];
                        $scope.group = null;
                        $scope.draggingAllowed = true;
                    };
                    $scope.onDragTeam=function(groupid, teamid){
                        var group = $scope.groups.find(function (group) {
                            return group.group.id == groupid;
                        });
                        var index = group.teams.findIndex(function (team) {
                            return team.id == teamid;
                        });
                        var team = group.teams.splice(index, 1);
                        $scope.team = team[0];
                        $scope.group = group.group;
                        $scope.draggingAllowed = true;
                    };
                    $scope.onDropUnassigned=function(){
                        if ($scope.draggingAllowed) {
                            $scope.draggingAllowed = false;
                            $scope.unassigned.teams.push($scope.team);
                            if ($scope.group) {
                                $http.get(Routing.generate('_rest_assign_del', { 'groupid': $scope.group.id, 'teamid': $scope.team.id })).then(function(data) {
                                    getGroups();
                                });
                            }
                        }
                    };
                    $scope.onDropGroup=function(groupid){
                        if ($scope.draggingAllowed) {
                            $scope.draggingAllowed = false;
                            var group = $scope.groups.find(function (group) {
                                return group.group.id == groupid;
                            });
                            group.teams.push($scope.team);
                            if ($scope.group) {
                                $http.get(Routing.generate('_rest_assign_del', { 'groupid': $scope.group.id, 'teamid': $scope.team.id })).then(function(data) {
                                    $http.get(Routing.generate('_rest_assign_add', { 'groupid': groupid, 'teamid': $scope.team.id })).then(function(data) {
                                        getGroups();
                                    });
                                });
                            }
                            else {
                                $http.get(Routing.generate('_rest_assign_add', { 'groupid': groupid, 'teamid': $scope.team.id })).then(function(data) {
                                    getGroups();
                                });
                            }
                        }
                    };
                    $scope.toggleCategoryOptions = function() {
                        $scope.category_object = {
                            'name': $scope.category.name,
                            'gender': $scope.category.gender,
                            'classification': $scope.category.classification,
                            'age': $scope.category.age,
                            'trophys': $scope.category.trophys,
                            'topteams': $scope.category.topteams,
                            'strategy': $scope.category.strategy,
                            'matchtime': $scope.category.matchtime
                        };
                        $mdSidenav('categoryOptions').toggle();
                    };
                    $scope.updateCategory = function () {
                        $http.put(Routing.generate('rest_category_update', {'categoryid': $scope.selectedCategory }), $scope.category_object).then(function (data) {
                            angular.forEach($scope.categories, function (category, index, categories) {
                                if (category.id == $scope.selectedCategory) {
                                    categories[index].trophys = $scope.category_object.trophys;
                                    categories[index].topteams = $scope.category_object.topteams;
                                    categories[index].strategy = $scope.category_object.strategy;
                                }
                            });
                            $mdSidenav('categoryOptions').close();
                        });
                    };
                    $scope.toggleGroupOptions = function() {
                        $scope.group_object = {
                            'name': '',
                            'classification': 0
                        };
                        $mdSidenav('groupOptions').toggle();
                    };
                    $scope.addGroup = function () {
                        $http.post(Routing.generate('rest_group_create', {'categoryid': $scope.category.id }), $scope.group_object).then(function (data) {
                            $mdSidenav('groupOptions').close();
                            getGroups();
                        },
                        function (response) {
                            $mdDialog.show(
                                    $mdDialog.alert()
                                            .clickOutsideToClose(true)
                                            .title('{% trans %}FORM.GROUP.TITLE.ADD{% endtrans %}')
                                            .textContent(response.data.errors.join('. '))
                                            .ok('{% trans %}FORM.QMATCHPLANNING.CLOSE{% endtrans %}')
                            );
                        });
                    };
                    $scope.deleteGroup = function (groupid) {
                        $http.delete(Routing.generate('rest_group_delete', {'groupid': groupid })).then(function (data) {
                            getGroups();
                        },
                        function (response) {
                            $mdDialog.show(
                                    $mdDialog.alert()
                                            .clickOutsideToClose(true)
                                            .title('{% trans %}FORM.GROUP.TITLE.DEL{% endtrans %}')
                                            .textContent(response.data.errors.join('. '))
                                            .ok('{% trans %}FORM.QMATCHPLANNING.CLOSE{% endtrans %}')
                            );
                        });
                    };
                    $scope.isOpen = function(id){
                        return $mdSidenav(id).isOpen();
                    };
                    $scope.close = function (id) {
                        $mdSidenav(id).close();
                    };
                    $scope.assignVacant = function(groupid){
                        $http.get(Routing.generate('_rest_assign_vacant', { 'groupid': groupid })).then(function(data) {
                            getGroups();
                        });
                    };
                    $scope.dataReady = true;
                    $scope.categories = [];
                    $http.get(Routing.generate('_rest_list_categories', { 'tournamentid': {{ tournament.id }} })).then(function(data) {
                        angular.forEach(data.data, function (category) {
                            category.classification_translated = Translator.transChoice('GENDER.'+category.gender+category.classification, category.age, {'age' : category.age}, 'tournament');
                            $scope.categories.push(category);
                        });
                    });
                    $scope.selectedCategory = 0;
                    $scope.selectCategory = function (id) {
                        $scope.selectedCategory = id;
                        $scope.category = $scope.categories.find(function (category) {
                            return category.id == id;
                        });
                        getGroups();
                    };
                    $scope.groups = [];
                    $scope.unassigned = [];
                    function getGroups() {
                        $scope.dataReady = false;
                        $http.get(Routing.generate('_rest_list_groups_with_teams', {'categoryid': $scope.selectedCategory })).then(function (data) {
                            $scope.groups = data.data.groups;
                            $scope.unassigned = data.data.unassigned;
                            $scope.dataReady = true;
                        });
                    }
                });
    </script>
{% endblock %}