{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "admin" %}

{% import 'ICupPublicSiteBundle:Masters:club.html.twig' as formatter %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-cogs"></i>&nbsp;
        {% trans %}FORM.QMATCHPLANNING.TITLE{% endtrans %}
    </h2>
    <p>{% trans %}FORM.QMATCHPLANNING.CAPTION{% endtrans %}</p>
    <div class="row">
        <div class="col-lg-6 lead">
            <a href="{{ path('_edit_tournamentboard', { 'tournamentid': tournament.id }) }}">
                {{ host.name|upper }}
            </a>
            <br />
            {{ tournament.name }}
            <br />
            <a href="{{ path('_edit_category_list', {'tournamentid': tournament.id }) }}">
                {% trans from 'tournament' %}CATEGORY{% endtrans %} {{ category.name }}<br />
                {{ ['GENDER.',
                category.gender,
                category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
            </a>
        </div>
        <div class="col-lg-6 text-right">
            {% if is_granted('ROLE_ADMIN') %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{ form(form) }}
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-center">
                    {% trans %}FORM.QMATCHPLANNING.TEAMS{% endtrans %}
                </div>
            </div>
            {% for group in groupList %}
                <div class="row">
                    <div class="col-sm-2">
                        <span class="label label-primary">{% trans from "tournament" %}GROUP{% endtrans %} {{ group.group.name }}</span>
                    </div>
                    <div class="col-sm-2 text-center">
                        {{ group.count }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}