{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "admin" %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-university"></i>&nbsp;
        {% trans %}FORM.MATCHPLANNING.TITLE{% endtrans %}
    </h2>
    <p>{% trans %}FORM.MATCHPLANNING.CAPTION{% endtrans %}</p>
    <p class="lead">
        <a href="{{ path('_edit_tournamentboard', { 'tournamentid': tournament.id }) }}">
            {{ host.name|upper }}
            <br />
            {{ tournament.name }}
        </a>
    </p>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="{{ path('_edit_match_planning', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-toggle-on"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.OPTIONS{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_result', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-bullseye"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.RESULT{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_view', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-calendar"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.VIEW{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_advice', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-lightbulb-o"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.ADVICE{% endtrans %}
            </a>
        </li>
    </ul>
    <p>&nbsp;</p>
    {{ form(form) }}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("[type='checkbox']").bootstrapSwitch('onText', '{% trans %}FORM.MATCHPLANNING.SWITCH.ON{% endtrans %}');
        $("[type='checkbox']").bootstrapSwitch('offText', '{% trans %}FORM.MATCHPLANNING.SWITCH.OFF{% endtrans %}');
        $("[data-toggle='tooltip']").tooltip();
    </script>
{% endblock %}
