{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% import 'ICupPublicSiteBundle:Masters:club.html.twig' as formatter %}
{% import 'ICupPublicSiteBundle:Masters:tournament.html.twig' as tformatter %}
{% import 'ICupPublicSiteBundle:Masters:planning.html.twig' as mformatter %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-university"></i>&nbsp;
        {% trans %}FORM.MATCHPLANNING.TITLE{% endtrans %}
    </h2>
    <p>{% trans %}FORM.MATCHPLANNING.CAPTION{% endtrans %}</p>
    <p class="lead">
        <a href="{{ path('_edit_tournamentboard', { 'tournamentid': tournament.id }) }}">
            {{ host.name|upper }}
            <br />
            {{ tournament.name }}
        </a>
    </p>
    <ul class="nav nav-tabs" role="tablist">
        <li>
            <a href="{{ path('_edit_match_planning', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-toggle-on"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.OPTIONS{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_result', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-bullseye"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.RESULT{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_view', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-calendar"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.VIEW{% endtrans %}
            </a>
        </li>
        <li class="active">
            <a href="{{ path('_edit_match_planning_advice', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-lightbulb-o"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.ADVICE{% endtrans %}
            </a>
        </li>
    </ul>
    <p>&nbsp;</p>
    <div class="list-group">
        <div class="list-group-item">
            <div class="list-group-item-heading">
                <div class="row">
                    <div class="col-sm-3">
                        <strong>
                        {{ 'CATEGORY'|trans([],'tournament') }} {{ match.category.name|upper }} - {{ ['GENDER.',
                           match.category.gender,
                           match.category.classification]|join|transchoice(match.category.age, { '%age%': match.category.age },'tournament') }}
                        </strong>
                    </div>
                    <div class="col-sm-1">
                        <strong>
                        {{ 'GROUP'|trans([],'tournament') }} {{ match.group.name }}
                        </strong>
                    </div>
                    <div class="col-sm-4">
                        <strong>
                        {{ formatter.displayclub(match.teamA, _context) }}
                        </strong>
                    </div>
                    <div class="col-sm-4">
                        <strong>
                        {{ formatter.displayclub(match.teamB, _context) }}
                        </strong>
                    </div>
                </div>
            </div>
    {% if matchset.alternatives|length > 0 %}
            <p class="list-group-item-text">
                <span class="fa fa-clock-o"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.SOLVEXPND{% endtrans %}
            </p>
    {% else %}
            <p class="list-group-item-text">
                <span class="fa fa-exchange"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.SOLVEXCHG{% endtrans %}
            </p>
    {% endif %}
    {% for altset in matchset.alternatives %}
            <div class="list-group-item-text">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td class="col-sm-6">
                                {% trans %}FORM.MATCHPLANNING.PLAYGROUND{% endtrans %}<br />
                                {{ 'FORMAT.LONGDATE'|transchoice(altset[0].schedule|date('j'), {
                                    '%week%': ['WEEK.',altset[0].schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                                    '%day%': altset[0].schedule|date('j'),
                                    '%month%': ['MONTH.',altset[0].schedule|date('M')|upper]|join|trans([],'messages'),
                                    '%year%': altset[0].schedule|date('Y')}, 'messages') }}

                            </td>
                            <td class="col-sm-3">{% trans %}FORM.MATCHPLANNING.TIMESLOT{% endtrans %}</td>
                            <td class="col-sm-2">{% trans %}FORM.MATCHPLANNING.PATTRS{% endtrans %}</td>
                            <td class="col-sm-1 text-right">{% trans %}FORM.MATCHPLANNING.TIMELEFT{% endtrans %}</td>
                        </tr>
                    </thead>
                    <tbody>
            {% for timeslot in altset %}
                        <tr>
                            <td class="col-sm-6">{{ timeslot.playground.name }}</td>
                            <td class="col-sm-3">{{ timeslot.timeslot.name }}</td>
                            <td class="col-sm-2">
                                <a href="{{ path('_edit_list_parel', { 'playgroundattributeid': timeslot.id }) }}">
                {% if timeslot.categories|length > 0 %}
                                    {{ timeslot.categories|join(',') }}
                {% else %}
                                    <span class="fa fa-cogs"></span>
                {% endif %}
                                </a>
                            </td>
                            <td class="col-sm-1 text-right">{{ timeslot.timeleft }}</td>
                        </tr>
            {% endfor %}
                    </tbody>
                </table>
            </div>
    {% endfor %}
        </a>
{% endfor %}
    </div>
#}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(function onLoad() {
        $('#modal').modal('show');
    });
</script>
{% endblock %}
