{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "admin" %}

{% import 'ICupPublicSiteBundle:Masters:club.html.twig' as formatter %}
{% import 'ICupPublicSiteBundle:Masters:tournament.html.twig' as tformatter %}
{% import 'ICupPublicSiteBundle:Masters:planning.html.twig' as mformatter %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-university"></i>&nbsp;
        {% trans %}FORM.MATCHPLANNING.TITLE{% endtrans %}
    </h2>
    <p>{% trans %}FORM.MATCHPLANNING.CAPTION{% endtrans %}</p>
    <p class="lead">
        <a href="{{ path('_edit_tournamentboard', { 'tournamentid': tournament.id }) }}">
            {{ host.name|upper }}
            <br />
            {{ tournament.name }}
        </a>
    </p>
    <ul class="nav nav-tabs" role="tablist">
        <li>
            <a href="{{ path('_edit_match_planning', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-toggle-on"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.OPTIONS{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_groups', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-cubes"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.GROUPS{% endtrans %}
            </a>
        </li>
        <li class="active">
            <a href="{{ path('_edit_match_planning_result', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-bullseye"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.RESULT{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_view', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-calendar"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.VIEW{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_advice', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-lightbulb-o"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.ADVICE{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_maint', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-wrench"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.MAINT{% endtrans %}
            </a>
        </li>
    </ul>
    <p>&nbsp;</p>
    {% for flashMessage in app.session.flashbag.get('data_saved') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            {{ flashMessage|trans }}
        </div>
        <p>&nbsp;</p>
    {% endfor %}

    {% if unassigned|length > 0 %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4><span class="fa fa-exclamation-triangle"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.PLANNINGINCOMPLETE{% endtrans %}</h4>
        {% for categoryinfo in unassigned %}
            <div class="row">
                <div class="col-xs-4">
                    {% trans from "tournament" %}CATEGORY{% endtrans %} {{ categoryinfo.category.name|upper }} -
                    {{ ['GENDER.',
                        categoryinfo.category.gender,
                        categoryinfo.category.classification]|join|transchoice(categoryinfo.category.age, { '%age%': categoryinfo.category.age },'tournament') }}
                </div>
                <div class="col-xs-1 text-right">
                    {{ categoryinfo.matchcount }}
                </div>
            </div>
        {% endfor %}
        <p></p>
        </div>
    </div>
    <p>&nbsp;</p>
    {% endif %}
    <p class="text-right">
        <a class="btn btn-primary btn-lg" href="{{ path('_edit_match_planning_save', { 'tournamentid': tournament.id }) }}">
            <span class="fa fa-archive"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.SAVE{% endtrans %}
        </a>
        <a class="btn btn-default btn-lg" href="{{ path('_edit_match_planning_download', { 'tournamentid': tournament.id }) }}">
            <span class="fa fa-download"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.DOWNLOAD{% endtrans %}
        </a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>{% trans %}FORM.MATCHPLANNING.PLAYGROUND{% endtrans %}</td>
                <td>{% trans %}FORM.MATCHPLANNING.TIMESLOT{% endtrans %}</td>
                <td class="text-left">{% trans %}FORM.MATCHPLANNING.PATTRS{% endtrans %}</td>
                <td class="text-right">{% trans %}FORM.MATCHPLANNING.TIMELEFT{% endtrans %}</td>
            </tr>
        </thead>
        <tbody>
    {% for tsset in available_timeslots %}
            <tr><td class="bg-warning" colspan="4">
                    {{ 'FORMAT.LONGDATE'|transchoice(tsset[0].schedule|date('j'), {
                            '%week%': ['WEEK.',tsset[0].schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                            '%day%': tsset[0].schedule|date('j'),
                            '%month%': ['MONTH.',tsset[0].schedule|date('M')|upper]|join|trans([],'messages'),
                            '%year%': tsset[0].schedule|date('Y')}, 'messages') }}
            </td></tr>
        {% for timeslot in tsset %}
            <tr>
                <td>{{ timeslot.playground.name }}</td>
                <td>{{ timeslot.timeslot.name }}</td>
                <td>
                    <a href="{{ path('_edit_list_parel', { 'playgroundattributeid': timeslot.id }) }}">
                    {% if timeslot.categories|length > 0 %}
                        {{ timeslot.categories|join(',') }}
                    {% else %}
                        <span class="fa fa-cogs"></span>
                    {% endif %}
                    </a>
                </td>
                <td class="text-right">{{ timeslot.timeleft }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
        </tbody>
    </table>
{% endblock %}