{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}

{% form_theme upload_form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "admin" %}

{% import 'ICupPublicSiteBundle:Masters:club.html.twig' as formatter %}
{% import 'ICupPublicSiteBundle:Masters:tournament.html.twig' as tformatter %}
{% import 'ICupPublicSiteBundle:Masters:planning.html.twig' as mformatter %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-university"></i>&nbsp;
        {% trans %}FORM.MATCHPLANNING.TITLE{% endtrans %}
    </h2>
    <p>{% trans %}FORM.MATCHPLANNING.CAPTION{% endtrans %}</p>
    <p class="lead">
        <a href="{{ path('_edit_tournamentboard', { 'tournamentid': tournament.id }) }}">
            {{ host.name|upper }}
            <br />
            {{ tournament.name }}
        </a>
    </p>
    <ul class="nav nav-tabs" role="tablist">
        <li>
            <a href="{{ path('_edit_match_planning_options', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-toggle-on"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.OPTIONS{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_groups', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-cubes"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.GROUPS{% endtrans %}
            </a>
        </li>
        <li class="active">
            <a href="{{ path('_edit_match_planning_result', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-puzzle-piece"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.RESULT{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_view', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-calendar-check-o"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.VIEW{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_advice', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-lightbulb-o"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.ADVICE{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_maint', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-wrench"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.MAINT{% endtrans %}
            </a>
        </li>
    </ul>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="col-sm-6">
            <div class="list-group">
                <a class="list-group-item" href="{{ path('_edit_match_planning_plan', { 'tournamentid': tournament.id }) }}">
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <span class="fa fa-magic fa-5x text-info"></span>
                        </div>
                        <div class="col-sm-9">
                            <h4 class="list-group-item-heading">{% trans %}FORM.MATCHPLANNING.PLAN.TITLE{% endtrans %}</h4>
                            <p class="list-group-item-text">{% trans %}FORM.MATCHPLANNING.PLAN.DESCRIPTION{% endtrans %}</p>
                        </div>
                    </div>
                </a>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <span class="fa fa-upload fa-5x"></span>
                        </div>
                        <div class="col-sm-9">
                            <h4 class="list-group-item-heading">{% trans %}FORM.MATCHPLANNING.MATCHIMPORT.TITLE{% endtrans %}</h4>
                            <p class="list-group-item-text">
                                {% trans %}FORM.MATCHPLANNING.MATCHIMPORT.DESCRIPTION{% endtrans %}
                            </p>
                        </div>
                    </div>
                    <form class="standard" action="{{ path('_edit_match_planning_result', { 'tournamentid': tournament.id }) }}" method="post" {{ form_enctype(upload_form) }}>
                        {{ form_widget(upload_form) }}
                    </form>
                </div>
                <a class="list-group-item" href="{{ path('_edit_match_planning_save', { 'tournamentid': tournament.id }) }}">
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <span class="fa fa-map-o fa-5x text-success"></span>
                        </div>
                        <div class="col-sm-9">
                            <h4 class="list-group-item-heading">{% trans %}FORM.MATCHPLANNING.SAVE.TITLE{% endtrans %}</h4>
                            <p class="list-group-item-text">{% trans %}FORM.MATCHPLANNING.SAVE.DESCRIPTION{% endtrans %}</p>
                        {% for flashMessage in app.session.flashbag.get('data_saved') %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                {{ flashMessage|trans }}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
        {% if planned %}
            {% if unassigned|length > 0 %}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-9">
                            <h4>{% trans %}FORM.MATCHPLANNING.PLANNINGINCOMPLETE.TITLE{% endtrans %}</h4>
                            <p>{% trans %}FORM.MATCHPLANNING.PLANNINGINCOMPLETE.DESCRIPTION{% endtrans %}</p>
                        </div>
                        <div class="col-sm-3 text-center">
                            <span class="fa fa-exclamation-triangle fa-5x"></span>
                        </div>
                    </div>
                {% for categoryinfo in unassigned %}
                    <div class="row">
                        <div class="col-sm-11">
                            {% trans from "tournament" %}CATEGORY{% endtrans %} {{ categoryinfo.category.name|upper }} -
                            {{ ['GENDER.',
                                categoryinfo.category.gender,
                                categoryinfo.category.classification]|join|transchoice(categoryinfo.category.age, { '%age%': categoryinfo.category.age },'tournament') }}
                        </div>
                        <div class="col-sm-1 text-right">
                            {{ categoryinfo.matchcount }}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-9">
                            <h4>{% trans %}FORM.MATCHPLANNING.PLANNINGCOMPLETE.TITLE{% endtrans %}</h4>
                            <p>{% trans %}FORM.MATCHPLANNING.PLANNINGCOMPLETE.DESCRIPTION{% endtrans %}</p>
                        </div>
                        <div class="col-sm-3 text-center">
                            <span class="fa fa-check fa-5x"></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="list-group">
            {% if planned %}
                <a class="list-group-item" href="{{ path('_edit_match_planning_reset', { 'tournamentid': tournament.id }) }}">
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <span class="fa fa-trash fa-5x text-danger"></span>
                        </div>
                        <div class="col-sm-9">
                            <h4 class="list-group-item-heading">{% trans %}FORM.MATCHPLANNING.RESET.TITLE{% endtrans %}</h4>
                            <p class="list-group-item-text">{% trans %}FORM.MATCHPLANNING.RESET.DESCRIPTION{% endtrans %}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
                <a class="list-group-item" href="{{ path('_edit_match_planning_download', { 'tournamentid': tournament.id }) }}">
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <span class="fa fa-download fa-5x"></span>
                        </div>
                        <div class="col-sm-9">
                            <h4 class="list-group-item-heading">{% trans %}FORM.MATCHPLANNING.DOWNLOAD.TITLE{% endtrans %}</h4>
                            <p class="list-group-item-text">{% trans %}FORM.MATCHPLANNING.DOWNLOAD.DESCRIPTION{% endtrans %}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-9">
                            <h4>{% trans %}FORM.MATCHPLANNING.NEEDTOPLAN.TITLE{% endtrans %}</h4>
                            <p>{% trans %}FORM.MATCHPLANNING.NEEDTOPLAN.DESCRIPTION{% endtrans %}</p>
                        </div>
                        <div class="col-sm-3 text-center">
                            <span class="fa fa-info fa-5x"></span>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $("#form_file").fileinput({'showUpload':true, 'showPreview':false, 'showRemove':false, 'browseLabel':'{% trans %}FORM.MATCHPLANNING.MATCHIMPORT.BROWSE{% endtrans %}', 'uploadLabel':'{% trans %}FORM.MATCHPLANNING.MATCHIMPORT.UPLOAD{% endtrans %}'});
    </script>
{% endblock %}