{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "admin" %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-university"></i>&nbsp;
        {% trans %}FORM.MATCHPLANNING.TITLE{% endtrans %}
    </h2>
    <p>{% trans %}FORM.MATCHPLANNING.CAPTION{% endtrans %}</p>
    <p class="lead">
        <a href="{{ path('_edit_tournamentboard', { 'tournamentid': tournament.id }) }}">
            {{ host.name|upper }}
            <br />
            {{ tournament.name }}
        </a>
    </p>
    <ul class="nav nav-tabs" role="tablist">
        <li>
            <a href="{{ path('_edit_match_planning_options', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-toggle-on"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.OPTIONS{% endtrans %}
            </a>
        </li>
        <li class="active">
            <a href="{{ path('_edit_match_planning_groups', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-cubes"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.GROUPS{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_result', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-puzzle-piece"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.RESULT{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_view', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-calendar-check-o"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.VIEW{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_planning_advice', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-lightbulb-o"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.ADVICE{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('_edit_match_maint', { 'tournamentid': tournament.id }) }}">
                <span class="fa fa-wrench"></span>&nbsp;{% trans %}FORM.MATCHPLANNING.MAINT{% endtrans %}
            </a>
        </li>
    </ul>
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-4">
            <ul class="list-group">
                {% for categoryStat in categoryList %}
                    <li class="list-group-item">
                        <span class="badge">{{ categoryStat.groups|length }}</span>
                        {% if category and categoryStat.category.id == category.id %}
                        <strong>
                        {% endif %}
                            <a href="{{ path('_edit_match_planning_groups_select_category', {
                                                'categoryid': categoryStat.category.id,
                                                'tournamentid': tournament.id
                                            }) }}">
                                {% trans from 'tournament' %}CATEGORY{% endtrans %} {{ categoryStat.category.name }} -
                                {{ ['GENDER.',
                                categoryStat.category.gender,
                                categoryStat.category.classification]|join|transchoice(categoryStat.category.age, { '%age%': categoryStat.category.age },'tournament') }}
                            </a>
                        {% if category and categoryStat.category.id == category.id %}
                        </strong>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <a class="btn btn-lg btn-default" href="{{ path('_edit_import_team', { 'tournamentid': tournament.id }) }}">
                {% trans %}FORM.TEAMIMPORT.TITLE{% endtrans %}
            </a>
        </div>
        <div class="col-sm-5">
            {% if category %}
                <h3>
                    {% trans from 'tournament' %}CATEGORY{% endtrans %} {{ category.name }} -
                    {{ ['GENDER.',
                    category.gender,
                    category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
                </h3>
                <p>
                    {{ form(form) }}
                </p>
            {% else %}
                <h3><span class="fa fa-hand-o-left"></span>&nbsp;{% trans %}FORM.QMATCHPLANNING.SELECTCATEGORY.TITLE{% endtrans %}</h3>
                <p>{% trans %}FORM.QMATCHPLANNING.SELECTCATEGORY.TEXT{% endtrans %}</p>
            {% endif %}
        </div>
        <div class="col-sm-3">
            {% if category %}
                <h3>{% trans %}FORM.QMATCHPLANNING.GROUPS{% endtrans %}</h3>
                <hr />
                {% for group in groupList %}
                    <h4>
                        <span class="label label-primary">{% trans from "tournament" %}GROUP{% endtrans %} {{ group.group.name }}</span>
                        {% if group.count > 0 %}
                            <span class="badge">{{ group.count }} {% trans %}FORM.QMATCHPLANNING.TEAMS{% endtrans %}</span>
                        {% else %}
                            <span class="badge">{% trans %}FORM.MATCHPLANNING.NOTEAMS{% endtrans %}</span>
                        {% endif %}
                    </h4>
                {% else %}
                    <h4>{% trans %}FORM.QMATCHPLANNING.NOGROUPS{% endtrans %}</h4>
                {% endfor %}
                <hr />
                <p>
                    {% if groupList|length > 0 %}
                        <a class="btn btn-lg btn-default" href="{{ path('_host_list_groups', { 'categoryid': category.id }) }}">
                            {% trans %}FORM.LISTGROUPS.TITLE{% endtrans %}
                        </a>
                    {% else %}
                        <a class="btn btn-lg btn-default" href="{{ path('_edit_group_add', { 'categoryid': category.id }) }}">
                            {% trans %}FORM.QMATCHPLANNING.ADDGROUP{% endtrans %}
                        </a>
                    {% endif %}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
