{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}

{% form_theme form 'ICupPublicSiteBundle:Default:layout.script.html.twig' %}
{% trans_default_domain "admin" %}

{% import 'ICupPublicSiteBundle:Masters:club.html.twig' as formatter %}

{% block adminbody %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-cogs"></i>&nbsp;
        {% trans %}FORM.QMATCHPLANNING.TITLE{% endtrans %}
    </h2>
    <p>{% trans %}FORM.QMATCHPLANNING.CAPTION{% endtrans %}</p>
    <div class="row">
        <div class="col-lg-6 lead">
            <a href="{{ path('_edit_tournamentboard', { 'tournamentid': tournament.id }) }}">
                {{ host.name|upper }}
            </a>
            <br />
            {{ tournament.name }}
        </div>
        <div class="col-lg-6 text-right">
            {% if is_granted('ROLE_ADMIN') %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group">
                {% for categoryStat in categoryList %}
                    <li class="list-group-item">
                        <span class="badge">{{ categoryStat.groups|length }}</span>
                    {% if categoryStat.category.id == category.id %}
                            <strong>
                    {% endif %}
                    <a href="{{ path('_edit_qmatchplan', { 'categoryid': categoryStat.category.id }) }}">
                        {% trans from 'tournament' %}CATEGORY{% endtrans %} {{ categoryStat.category.name }} -
                        {{ ['GENDER.',
                        categoryStat.category.gender,
                        categoryStat.category.classification]|join|transchoice(categoryStat.category.age, { '%age%': categoryStat.category.age },'tournament') }}
                    </a>
                    {% if categoryStat.category.id == category.id %}
                        </strong>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-8">
            <h3>
                {% trans from 'tournament' %}CATEGORY{% endtrans %} {{ category.name }} -
                {{ ['GENDER.',
                category.gender,
                category.classification]|join|transchoice(category.age, { '%age%': category.age },'tournament') }}
            </h3>
            <p>
                {{ form(form) }}
            </p>
            {% for group in groupList %}
                <h4>
                    <span class="label label-primary">{% trans from "tournament" %}GROUP{% endtrans %} {{ group.group.name }}</span>
                    {% if group.count > 0 %}
                    <span class="badge">{{ group.count }} {% trans %}FORM.QMATCHPLANNING.TEAMS{% endtrans %}</span>
                    {% else %}
                    <span class="badge">{% trans %}FORM.MATCHPLANNING.NOTEAMS{% endtrans %}</span>
                    {% endif %}
                </h4>
            {% endfor %}
            <p>
                <a class="btn btn-lg btn-info" href="{{ path('_host_list_groups', { 'categoryid': category.id }) }}">
                    {% trans %}FORM.LISTGROUPS.TITLE{% endtrans %}
                </a>
            </p>
        </div>
    </div>
{% endblock %}