{% extends "base.html.twig" %}

{% block body %}
<div class="admin">
<a href="{{ path('_showtournament') }}">
    <h1 class="category">{{ tournament.name }}</h1>
</a>
<p class="subcategory">
    {% trans %}ADMIN{% endtrans %}<br />
</p>
<p class="language">
    <a href="{{ path('_switch', { 'locale': 'en' }) }}">
        <img src="{{ imagepath }}/flags/gb.png" alt="{{ 'LANG.EN'|trans }}" title="{% trans %}CHOOSELANG{% endtrans %}: {{ 'LANG.EN'|trans }}">
    </a>
    <a href="{{ path('_switch', { 'locale': 'it' }) }}">
        <img src="{{ imagepath }}/flags/it.png" alt="{{ 'LANG.IT'|trans }}" title="{% trans %}CHOOSELANG{% endtrans %}: {{ 'LANG.IT'|trans }}">
    </a>
    <a href="{{ path('_switch', { 'locale': 'da' }) }}">
        <img src="{{ imagepath }}/flags/dk.png" alt="{{ 'LANG.DA'|trans }}" title="{% trans %}CHOOSELANG{% endtrans %}: {{ 'LANG.DA'|trans }}">
    </a>
</p>
<div style="float: left; padding-right: 20px;">
    <table>
        <thead>
            <tr>
                <td>{% trans %}CATEGORIES{% endtrans %}</td>
            </tr>
        </thead>
        <tboby>
{% for category in categories %}
            <tr class="{{ cycle(['even','odd'],loop.index) }}">
                <td class="categories">
                    <a href="{{ path('_editmenu', { 'categoryId': category.id }) }}">
                        <b>{% trans %}CATEGORY{% endtrans %} {{ category.name }}</b>
                    </a><br />
                        {{ [category.gender,category.classification]|join|trans }}
                        {{ category.classification|trans }}
                </td>
            </tr>
{% endfor %}
        </tboby>
        <tfoot>
            <tr>
                <td colspan="1"></td>
            </tr>
        </tfoot>
    </table>
    <a href="{{ path('_editcategory') }}">
        <b>{% trans %}NEWCATEGORY{% endtrans %}</b>
    </a>
</div>
</div>
{% endblock %}