{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div>
    {% for child in form %}
    	<div {{ block('widget_container_attributes') }}>
            {{ form_label(child)|trans }}<br/>
            {{ form_widget(child) }}
        </div>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}


{% block field_row %}
{% spaceless %}
    <div class="query_row">
        <div class="query_label">
            {{ form_label(form)|trans }}
        </div>
        <div class="query_widget">
            {{ form_widget(form) }}
            <div class="form_error">
                {{ form_errors(form)|trans }}
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
{% endspaceless %}
{% endblock field_row %}