{% block form_row %}
{% spaceless %}
    {% if form.vars.errors|length > 0 %}
    <div class="form-group has-error has-feedback">
    {% else %}
    <div class="form-group">
    {% endif %}
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {% if form.vars.icon is not null %}
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="{{ form.vars.icon }}"></i>
                </span>
                {{ form_widget(form, { 'attr': {'class': 'form-control', 'placeholder': form.vars.help|trans({}, translation_domain)}}) }}
            </div>
        {% else %}
            {{ form_widget(form, { 'attr': {'class': 'form-control', 'placeholder': form.vars.help|trans({}, translation_domain)}}) }}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block button_widget -%}
    {% if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {% if icon is not null %}
            <i class="{{ icon }}"></i>
        {% endif %}
        {{ label|trans({}, translation_domain) }}
    </button>
{%- endblock button_widget %}

{% block button_row %}
{% spaceless %}
    {% if form.vars.buttontype is not null %}
        {{ form_widget(form, { 'attr': {'class': form.vars.buttontype }}) }}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endspaceless %}
{% endblock button_row %}

{% block form_rows %}
{% spaceless %}
    {% for child in form %}
        {% if child.vars.block_prefixes[0] == 'form' %}
        {{ form_row(child) }}
        {% endif %}
    {% endfor %}
    <div class="btn-group">
    {% for child in form %}
        {% if child.vars.block_prefixes[0] == 'button' %}
        {{ form_row(child) }}
        {% endif %}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock form_rows %}
