{% block form_row %}
{% spaceless %}
    {% if form.vars.errors|length > 0 %}
    <div class="form-group has-error has-feedback">
    {% else %}
    <div class="form-group">
    {% endif %}
    {% set pholder = form.vars.help %}
    {% if not form.vars.phonestyle %}
        {{ form_label(form) }}
    {% else %}
        {% set pholder = form.vars.label %}
    {% endif %}
        {{ form_errors(form) }}
        {% if form.vars.icon is not null %}
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="{{ form.vars.icon }}"></i>
                </span>
                {{ form_widget(form, { 'attr': {'class': 'form-control', 'placeholder': pholder}}) }}
            </div>
        {% else %}
            {{ form_widget(form, { 'attr': {'class': 'form-control', 'placeholder': pholder}}) }}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block button_widget -%}
    {% if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {% if icon is not null %}
            <i class="{{ icon }}"></i>
        {% endif %}
        {{ label|trans({}, translation_domain) }}
    </button>
{%- endblock button_widget %}

{% block button_row %}
{% spaceless %}
    {% if form.vars.buttontype is not null %}
        {{ form_widget(form, { 'attr': {'class': [form.vars.buttontype,'btn-lg']|join(' ') }}) }}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endspaceless %}
{% endblock button_row %}

{% block form_rows %}
{% spaceless %}
    {% set buttons = [] %}
    {% for child in form %}
        {% if child.vars.block_prefixes[0] == 'form' %}
            {{ form_row(child) }}
        {% elseif child.vars.block_prefixes[0] == 'button' %}
            {% set buttons = buttons|merge([child]) %}
        {% endif %}
    {% endfor %}
    {% if buttons|length > 0 %}
    <div class="btn-group form-btn-row">
        {% for child in buttons %}
            {{ form_row(child) }}
        {% endfor %}
    </div>
    {% endif %}
{% endspaceless %}
{% endblock form_rows %}

{% block checkbox_label -%}
    {# Do no display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not sameas(false) and label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}
        <h5{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{- label is not sameas(false) ? label|trans({}, translation_domain) -}}
            {% if form.vars.help is defined %}
                <span data-toggle="tooltip" data-placement="right" title="{{- form.vars.help|trans({}, translation_domain) -}}">&nbsp;<i class="fa fa-info-circle"></i></span>
            {% endif %}
        </h5>
        {{- widget|raw -}}
    {% endif %}
{%- endblock checkbox_label %}