{% extends "base.html.twig" %}

{% block body %}
<h1 class="category">{{ tournament.name }}</h1>
<p class="subcategory">
    {% trans %}RESULTS{% endtrans %}<br />
</p>
<div style="float: left; padding-right: 20px;">
    <table>
        <thead>
            <tr>
                <td>{% trans %}CATEGORIES{% endtrans %}</td>
            </tr>
        </thead>
        <tboby>
{% for category in categories %}
            <tr class="{{ cycle(['even','odd'],loop.index) }}">
                <td class="categories">
                    <a href="{{ path('_showcategory', { 'categoryid': category.id }) }}">
                        <b>{% trans %}CATEGORY{% endtrans %} {{ category.name }}</b>
                    </a><br />
                        {{ [category.gender,category.classification]|join|trans }}
                        {{ category.classification|trans }}
                </td>
            </tr>
{% endfor %}
        </tboby>
        <tfoot>
            <tr>
                <td colspan="1"></td>
            </tr>
        </tfoot>
    </table>
</div>
<div style="float: left;">
    <table>
        <thead>
            <tr>
                <td>{% trans %}PLAYGROUNDS{% endtrans %}</td>
            </tr>
        </thead>
        <tboby>
{% for playground in playgrounds %}
            <tr class="{{ cycle(['even','odd'],loop.index) }}">
                <td class="playgrounds">
                    <a href="{{ path('_showplayground_full', { 'playgroundid': playground.id }) }}">
                        {{ playground.name }}
                    </a>
                </td>
            </tr>
{% endfor %}
        </tboby>
        <tfoot>
            <tr>
                <td colspan="1"></td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}