{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}

{% trans_default_domain "admin" %}

{% block adminbody %}
    <div ng-app="tournamentBoardModule">
        <div ng-controller="tournamentBoardController">
            <section layout="column">
                <md-content flex>
                    <md-content flex>
                        <md-toolbar class="md-menu-toolbar">
                            <div layout="row">
                                <md-toolbar-filler layout layout-align="center center" style="background-color: #8c8c8c; color: white">
                                    <span class="fa fa-4x fa-cogs"></span>
                                </md-toolbar-filler>
                                <div>
                                    <h2 class="md-toolbar-tools">{{ 'FORM.TOURNAMENTBOARD.TITLE'|trans|upper }}</h2>
                                    <md-menu-bar>
                                        <md-menu>
                                            <button ng-click="$mdOpenMenu()">
                                                {% trans %}FORM.TOURNAMENTBOARD.PLANNING.CAPTION{% endtrans %}
                                            </button>
                                            <md-menu-content>
{#
                                                <md-menu-item>
                                                    <md-button ng-href="{{ path('_edit_category_list', { 'tournamentid': tournament.id }) }}">
                                                        {% trans %}FORM.TOURNAMENTBOARD.LISTCATEGORIES.CAPTION{% endtrans %}
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-href="{{ path('_edit_site_list', { 'tournamentid': tournament.id }) }}">
                                                        {% trans %}FORM.TOURNAMENTBOARD.LISTSITES.CAPTION{% endtrans %}
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-divider></md-menu-divider>
#}
                                {% if is_granted('ROLE_EDITOR_ADMIN') %}
                                                <md-menu-item>
                                                    <md-button ng-href="{{ path('_admin_wipe_matches', { 'tournamentid': tournament.id }) }}">
                                                        {% trans %}FORM.LISTCATEGORIES.BUTTON.WIPE{% endtrans %}
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-href="{{ path('_admin_wipe_qmatches', { 'tournamentid': tournament.id }) }}">
                                                        {% trans %}FORM.LISTCATEGORIES.BUTTON.QWIPE{% endtrans %}
                                                    </md-button>
                                                </md-menu-item>
                                {% endif %}
                                            </md-menu-content>
                                        </md-menu>
                                    </md-menu-bar>
{#
                                                    <md-menu>
                                                        <md-button aria-label="Open demo menu" ng-click="$mdOpenMenu($event)">
                                                        </md-button>
                                                        <md-menu-content width="6">
                                                            <md-menu-item ng-repeat="item in [1, 2, 3]">
                                                                <md-button ng-click="ctrl.announceClick($index)">
                                                                    <md-icon md-menu-align-target md-svg-icon="call:no-sim"></md-icon>
                                                                    Option {{ '{{item}}' }}
                                                                </md-button>
                                                            </md-menu-item>
                                                        </md-menu-content>
                                                    </md-menu>
#}
                                </div>
                            </div>
                        </md-toolbar>
                    </md-content>

                    <md-content flex>
                        <md-tabs md-dynamic-height md-border-bottom>
                            {#
                            ---------------------
                            TOURNAMENT
                            ---------------------
                            #}
                            <md-tab label="{% trans %}FORM.TOURNAMENTBOARD.TOURNAMENT.CAPTION{% endtrans %}">
                                <md-content class="md-padding">
                                    <div class="page">
                                        <h2>{{ tournament.name }}</h2>
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <td>{% trans %}FORM.DASHBOARD.TOURNAMENTS.LEGEND.KEY{% endtrans %}</td>
                                                <td>{% trans %}FORM.DASHBOARD.TOURNAMENTS.LEGEND.EDITION{% endtrans %}</td>
                                                <td>{% trans %}FORM.DASHBOARD.TOURNAMENTS.LEGEND.DESCRIPTION{% endtrans %}</td>
                                                <td>{% trans %}FORM.DASHBOARD.TOURNAMENTS.LEGEND.STATUS{% endtrans %}</td>
                                                <td class="narrow-col"></td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <b>{{ tournament.key }}</b>
                                                </td>
                                                <td>
                                                    {{ tournament.edition }}
                                                </td>
                                                <td>
                                                    {{ tournament.description }}
                                                </td>
                                                <td>
                                                    {{ ['FORM.DASHBOARD.TOURNAMENTS.STATUS.',tstat]|join|trans }}
                                                </td>
                                                <td>
                                                    <a href="{{ path('_edit_tournament_chg', { 'tournamentid': tournament.id }) }}">
                                                        <span class="fa fa-pencil"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <md-list layout="row">
                                        <md-list-item>
                                            <md-button ng-click="chgOptions($event)" aria-label="{% trans %}FORM.TOURNAMENTBOARD.TOURNAMENTOPTIONS.CAPTION{% endtrans %}">
<!--
                                            <md-button ng-href="{{ path('_edit_tournament_options', { 'tournamentid': tournament.id }) }}" aria-label="{% trans %}FORM.TOURNAMENTBOARD.TOURNAMENTOPTIONS.CAPTION{% endtrans %}">
-->
                                                <span class="md-padding fa fa-2x fa-cog"></span><br />
                                                {% trans %}FORM.TOURNAMENTBOARD.TOURNAMENTOPTIONS.LABEL{% endtrans %}
                                            </md-button>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-button ng-href="{{ path('_edit_timeslot_list', { 'tournamentid': tournament.id }) }}" aria-label="{% trans %}FORM.TOURNAMENTBOARD.LISTTIMESLOTS.CAPTION{% endtrans %}">
                                                <span class="md-padding fa fa-2x fa-clock-o"></span><br />
                                                {% trans %}FORM.TOURNAMENTBOARD.LISTTIMESLOTS.LABEL{% endtrans %}
                                            </md-button>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-button ng-href="{{ path('_edit_news_list', { 'tournamentid': tournament.id }) }}" aria-label="{% trans %}FORM.TOURNAMENTBOARD.NEWS.CAPTION{% endtrans %}">
                                                <span class="md-padding fa fa-2x fa-newspaper-o"></span><br />
                                                {% trans %}FORM.TOURNAMENTBOARD.NEWS.LABEL{% endtrans %}
                                            </md-button>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-button ng-href="{{ path('_edit_event_list', { 'tournamentid': tournament.id }) }}" aria-label="{% trans %}FORM.TOURNAMENTBOARD.STATUS.CAPTION{% endtrans %}">
                                                <span class="md-padding fa fa-2x fa-calendar"></span><br />
                                                {% trans %}FORM.TOURNAMENTBOARD.STATUS.LABEL{% endtrans %}
                                            </md-button>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-button ng-href="{{ path('_edit_import_match_unres', { 'tournamentid': tournament.id }) }}" aria-label="{% trans %}FORM.TOURNAMENTBOARD.MATCHIMPORTUNRES.CAPTION{% endtrans %}">
                                                <span class="md-padding fa fa-2x fa-trophy"></span><br />
                                                {% trans %}FORM.TOURNAMENTBOARD.MATCHIMPORTUNRES.LABEL{% endtrans %}
                                            </md-button>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-button ng-href="{{ path('_edit_list_matches', { 'tournamentid': tournament.id }) }}" aria-label="{% trans %}FORM.TOURNAMENTBOARD.REPORT.CAPTION{% endtrans %}">
                                                <span class="md-padding fa fa-2x fa-book"></span><br />
                                                {% trans %}FORM.TOURNAMENTBOARD.REPORT.LABEL{% endtrans %}
                                            </md-button>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-button ng-href="{{ path('_edit_matchlist_print', { 'tournamentid': tournament.id, 'date': date()|date('d-m-Y') }) }}" aria-label="{% trans %}FORM.TOURNAMENTBOARD.MATCHPRINT.CAPTION{% endtrans %}">
                                                <span class="md-padding fa fa-2x fa-print"></span><br />
                                                {% trans %}FORM.TOURNAMENTBOARD.MATCHPRINT.LABEL{% endtrans %}
                                            </md-button>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-button ng-href="{{ path('_edit_match_maint', { 'tournamentid': tournament.id }) }}" aria-label="{% trans %}FORM.TOURNAMENTBOARD.MATCHMAINT.CAPTION{% endtrans %}">
                                                <span class="md-padding fa fa-2x fa-pencil-square-o"></span><br />
                                                {% trans %}FORM.TOURNAMENTBOARD.MATCHMAINT.LABEL{% endtrans %}
                                            </md-button>
                                        </md-list-item>
<!--
                                        <md-list-item>
                                            <md-button href="http://google.com"
                                                       title="Launch Google.com in new window"
                                                       target="_blank"
                                                       ng-disabled="true"
                                                       aria-label="Google.com"
                                                       class="md-accent" >
                                                <span class="md-padding fa fa-2x fa-bars"></span><br />
                                                Launch
                                            </md-button>
                                        </md-list-item>
-->
                                    </md-list>
                                </md-content>
                            </md-tab>
                            {#
                            ---------------------
                            CATEGORIES
                            ---------------------
                            #}
                            <md-tab label="{% trans %}FORM.TOURNAMENTBOARD.LISTCATEGORIES.CAPTION{% endtrans %}">
                                <md-content class="md-padding" ng-controller="assignGroupsController" ng-cloak>
                                    <div class="row md-padding">
                                        <div class="col-md-4 col-sm-6">
                                            <md-button class="md-raised md-hue-1" ng-class="{'md-primary': categories.length==0}" ng-click="addCategory($event)" ng-hide="!dataReady">
                                                {% trans %}FORM.TOURNAMENTBOARD.ADDCATEGORY{% endtrans %}
                                            </md-button>
                                            <md-button class="md-raised md-hue-1" ng-click="updateCategory($event)" ng-hide="!selectedCategory || !dataReady">
                                                {% trans %}FORM.TOURNAMENTBOARD.UPDCATEGORY{% endtrans %}
                                            </md-button>
                                            <md-button class="md-raised md-hue-1" ng-click="delCategory($event)" ng-hide="!selectedCategory || !dataReady || groups.length > 0">
                                                {% trans %}FORM.TOURNAMENTBOARD.DELCATEGORY{% endtrans %}
                                            </md-button>
                                        </div>
                                        <div class="col-md-8 col-sm-6">
                                            <md-button class="md-raised md-hue-1" ng-class="{'md-primary': groups.length==0}" ng-click="addGroup($event)" ng-hide="!selectedCategory || !dataReady">
                                                {% trans %}FORM.QMATCHPLANNING.ADDGROUP{% endtrans %}
                                            </md-button>
                                            <md-button class="md-raised md-hue-1" ng-click="categoryOptions($event)" ng-hide="!selectedCategory || !dataReady">
                                                {% trans %}FORM.QMATCHPLANNING.OPTIONS{% endtrans %}
                                            </md-button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="category in categories | orderBy: ['gender', 'classification', '-age'] track by category.id">
                                                    <span class="badge">{{ '{{ category.preliminary_groups }}' }}</span>
                                                    <span ng-click="selectCategory(category.id)" ng-class="{'bold': category.id==selectedCategory}">
                                                        {% trans from 'tournament' %}CATEGORY{% endtrans %} {{ '{{ category.name }}' }} - {{ '{{ category.classification_translated }}' }}
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8 col-sm-6">
                                            <div ng-show="selectedCategory && dataReady">
                                                <h3>{% trans %}FORM.QMATCHPLANNING.GROUPS{% endtrans %}</h3>
                                                <p>{% trans %}FORM.QMATCHPLANNING.EXPLAIN{% endtrans %}</p>
                                                <hr />
                                                <div class="row">
                                                    {# Show group cards #}
                                                    <div class="col-md-6" ng-repeat="group in groups track by group.group.id" ng-drop="true" ng-drop-success="onDropGroup(group.group.id)">
                                                        <h4>
                                                            <span class="label label-primary">{% trans from "tournament" %}GROUP{% endtrans %} {{ '{{ group.group.name }}' }}</span>
                                                            &nbsp;<span class="fa fa-trash" ng-hide="group.teams.length" ng-click="deleteGroup(group.group.id)"></span>
                                                        </h4>
                                                        <div class="row"
                                                             data-allow-transform="true"
                                                             ng-drag="true" ng-drag-data="team" ng-drag-success="onDragTeam(group.group.id, team.id)"
                                                             ng-repeat="team in group.teams track by team.id"
                                                        >
                                                            <div class="col-md-12">
                                                                <img src="{{ '{{ flagsDir+team.flag }}' }}"
                                                                     alt="{{ '{{ team.country }}' }}"
                                                                     title="{{ '{{ team.country }}' }}" ng-if="team.flag" class="flag">
                                                                {{ '{{ team.name }}' }}
                                                            </div>
                                                        </div>
                                                        <h4 ng-hide="group.teams.length">
                                                            <span class="badge">{% trans %}FORM.MATCHPLANNING.NOTEAMS{% endtrans %}</span>
                                                        </h4>
                                                    </div>
                                                    {# Show unassigned teams card #}
                                                    <div class="col-md-6" ng-drop="true" ng-drop-success="onDropUnassigned()">
                                                        <h4>
                                                            <span class="label label-primary">{{ 'FORM.LISTGROUPS.UNASSIGNED'|trans|upper }}</span>
                                                        </h4>
                                                        <div class="row"
                                                             data-allow-transform="true"
                                                             ng-drag="true" ng-drag-data="team" ng-drag-success="onDragUnassignedTeam(team.id)"
                                                             ng-repeat="team in unassigned.teams track by team.id"
                                                        >
                                                            <div class="col-md-12">
                                                                <img src="{{ '{{ flagsDir+team.flag }}' }}"
                                                                     alt="{{ '{{ team.country }}' }}"
                                                                     title="{{ '{{ team.country }}' }}" ng-if="team.flag" class="flag">
                                                                {{ '{{ team.name }}' }}
                                                            </div>
                                                        </div>
                                                        <h4 ng-hide="unassigned.teams.length">
                                                            <span class="badge">{% trans %}FORM.MATCHPLANNING.NOTEAMS{% endtrans %}</span>
                                                        </h4>
                                                    </div>
                                                    {# Basket card #}
                                                    <div class="col-md-6" ng-drop="true" ng-drop-success="onDropBasket()">
                                                        <span class="fa-stack fa-2x">
                                                          <i class="fa fa-trash fa-stack-1x"></i>
                                                          <i class="fa fa-ban fa-stack-2x text-danger" ng-show="group"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <hr />
                                                <h4 ng-hide="groups.length">{% trans %}FORM.QMATCHPLANNING.NOGROUPS{% endtrans %}</h4>
                                            </div>
                                            <div ng-show="categories.length>0 && !selectedCategory && dataReady">
                                                <h3><span class="fa fa-hand-o-left"></span>&nbsp;{% trans %}FORM.QMATCHPLANNING.SELECTCATEGORY.TITLE{% endtrans %}</h3>
                                                <p>{% trans %}FORM.QMATCHPLANNING.SELECTCATEGORY.TEXT{% endtrans %}</p>
                                            </div>
                                            <div ng-show="!dataReady" style="padding: 40px;">
                                                <div layout="row" layout-sm="column" layout-align="space-around">
                                                    <div class="lead">{% trans %}FORM.QMATCHPLANNING.WAIT.TEXT{% endtrans %}</div>
                                                </div>
                                                <div layout="row" layout-sm="column" layout-align="space-around">
                                                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            {#
                            ---------------------
                            VENUES
                            ---------------------
                            #}
                            <md-tab label="{% trans %}FORM.TOURNAMENTBOARD.LISTSITES.CAPTION{% endtrans %}">
                                <md-content class="md-padding" ng-controller="venuesController" ng-cloak layout="column">
                                    <md-toolbar layout="row" class="md-hue-2">
                                        <div class="md-toolbar-tools">
                                            <span>{% trans %}FORM.PLAYGROUND.VENUES{% endtrans %}</span>
                                            <span flex></span>
                                            <md-button class="md-primary md-raised md-hue-2" ng-click="addVenue($event)">
                                                {% trans %}FORM.PLAYGROUND.TITLE.ADD{% endtrans %}
                                            </md-button>
                                        </div>
                                    </md-toolbar>
                                    <md-chips ng-model="sites" readonly="false" md-enable-chip-edit="true" md-on-add="addSite($chip)" md-on-remove="delSite($chip)" md-on-select="selectSite($chip)" md-transform-chip="transformSite($chip)" placeholder="{% trans %}FORM.SITE.TITLE.ADD{% endtrans %}" secondary-placeholder="Tast ny lokation her...">
                                        <md-chip-template>
                                            <strong>{{ '{{ $chip.name }}' }}</strong>
                                        </md-chip-template>
                                    </md-chips>
                                    <div layout-gt-sm="row" layout="column">
                                        <div flex-gt-sm="40" flex>
                                            <md-content>
                                                <md-list class="md-dense" flex>
                                                    <md-list-item class="md-2-line" ng-class="{'bg-google-yellow': venue.id==selectedVenue}" ng-repeat="venue in venues | filter: siteFilter | orderBy: ['site.name', 'no'] track by venue.id" ng-click="selectVenue(venue.id)">
                                                        <div class="md-list-item-text" layout="column" flex-gt-sm="100">
                                                            <h3>{{ '{{ venue.name }}' }}</h3>
                                                            <h4>{{ '{{ venue.site.name }}' }}</h4>
                                                        </div>
                                                        <md-divider></md-divider>
                                                    </md-list-item>
                                                </md-list>
                                            </md-content>
                                        </div>
                                        <div flex-gt-sm="60" flex>
                                            <md-content class="md-padding" layout="column">
                                                <md-tabs md-dynamic-height md-border-bottom>
                                                    <md-tab label="{% trans %}FORM.PLAYGROUND.BASICS{% endtrans %}">
                                                        <div ng-if="selectedVenue">
                                                                <h3>{{ '{{ venue.name }}' }}</h3>
                                                                <md-divider></md-divider>
                                                                <h4>{{ '{{ venue.site.name }}' }}</h4>
                                                                <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options' ng-if="venue.location">
                                                                    <ui-gmap-marker idKey='1' coords='marker.point' options='marker.options' events='marker.events'></ui-gmap-marker>
                                                                    <ui-gmap-layer type="TrafficLayer" show="map.showTraficLayer"></ui-gmap-layer>
                                                                </ui-gmap-google-map>
                                                                <h4 ng-if="venue.weight">{% trans %}FORM.PLAYGROUND.WEIGHT{% endtrans %}: {{ '{{ venue.weight }}' }}</h4>
                                                                <md-divider></md-divider>
                                                                <p>&nbsp;</p>
                                                                <div layout="row">
                                                                    <span flex></span>
                                                                    <md-button class="md-raised" ng-click="delVenue($event)">
                                                                        <span class="fa fa-trash" style="font-size: 150%; color: darkred"></span>
                                                                    </md-button>
                                                                    <md-button class="md-raised" ng-click="updateVenue($event)">
                                                                        <span class="fa fa-pencil" style="font-size: 140%"></span>
                                                                    </md-button>
                                                                </div>
                                                                <p>&nbsp;</p>
                                                            </div>
                                                    </md-tab>
                                                    <md-tab label="{% trans %}FORM.PLAYGROUND.CALENDAR{% endtrans %}">
                                                        <div ng-show="selectedVenue">
                                                                <h3>{{ '{{ venue.name }}' }}</h3>
                                                                <md-divider></md-divider>
                                                                <h4>{{ '{{ venue.site.name }}' }}</h4>
{#
                                                                <div layout="row">
                                                                    <md-datepicker ng-model="calendar.date"
                                                                                   md-placeholder="{% trans %}FORM.TOURNAMENTBOARD.DATE{% endtrans %}"
                                                                                   md-min-date="calendar.minDate" md-max-date="calendar.maxDate">
                                                                    </md-datepicker>
                                                                    <span flex></span>
                                                                    <md-button class="md-raised" ng-click="descendDate()" ng-disabled="calendar.date <= calendar.minDate">
                                                                        <span class="fa fa-minus" style="font-size: 110%"></span>
                                                                    </md-button>
                                                                    <md-button class="md-raised" ng-click="advanceDate()" ng-disabled="calendar.date >= calendar.maxDate">
                                                                        <span class="fa fa-plus" style="font-size: 110%"></span>
                                                                    </md-button>
                                                                </div>
#}
                                                                <div style="padding-top: 0px">
                                                                    <div style="float:left; width:200px">
                                                                        <daypilot-navigator id="navi" daypilot-config="navigatorConfig"></daypilot-navigator>
                                                                    </div>
                                                                    <div style="margin-left: 200px">
                                                                        <daypilot-calendar id="dp" config="calendarConfig" events="events"></daypilot-calendar>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </md-tab>
                                                </md-tabs>
                                            </md-content>
                                        </div>
                                    </div>
{#
                                                <md-subheader class="md-no-sticky">
                                                    <span>Lokaliteter</span>
                                                    <span flex></span>
                                                    <md-button class="md-primary md-raised md-hue-2" ng-click="updateSite($event)" ng-show="selectedVenue">
                                                        <span class="fa fa-pencil" style="font-size: 140%"></span>
                                                    </md-button>
                                                    <md-button class="md-primary md-raised md-hue-2" ng-click="delSite($event)" ng-show="selectedVenue">
                                                        <span class="fa fa-trash" style="font-size: 150%"></span>
                                                    </md-button>
                                                </md-subheader>

                                                        <p>
                                                            <span>{% trans %}FORM.PLAYGROUND.NO{% endtrans %} {{ '{{ venue.no }}' }}, </span>
                                                            <span ng-hide="venue.weight==0">{% trans %}FORM.PLAYGROUND.WEIGHT{% endtrans %}: {{ '{{ venue.weight }}' }}, </span>
                                                            <span>{% trans %}FORM.PLAYGROUND.LOCATION{% endtrans %} {{ '{{ venue.location }}' }}</span>
                                                        </p>


                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="venue in venues | orderBy: ['site', 'no'] track by venue.id">
                                                    <span class="badge">{{ '{{ venue.no }}' }}</span>
                                                    <span ng-click="selectVenue(venue.id)" ng-class="{'bold': venue.id==selectedVenue}">
                                                        {{ '{{ venue.name }}' }} - {{ '{{ venue.site }}' }}
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8 col-sm-6">
                                            <div ng-show="selectedCategory && dataReady">
                                                <h3>{% trans %}FORM.QMATCHPLANNING.GROUPS{% endtrans %}</h3>
                                                <p>{% trans %}FORM.QMATCHPLANNING.EXPLAIN{% endtrans %}</p>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-md-6" ng-repeat="group in groups track by group.group.id" ng-drop="true" ng-drop-success="onDropGroup(group.group.id)">
                                                        <h4>
                                                            <span class="label label-primary">{% trans from "tournament" %}GROUP{% endtrans %} {{ '{{ group.group.name }}' }}</span>
                                                            &nbsp;<span class="fa fa-trash" ng-hide="group.teams.length" ng-click="deleteGroup(group.group.id)"></span>
                                                        </h4>
                                                        <div class="row"
                                                             data-allow-transform="true"
                                                             ng-drag="true" ng-drag-data="team" ng-drag-success="onDragTeam(group.group.id, team.id)"
                                                             ng-repeat="team in group.teams track by team.id"
                                                        >
                                                            <div class="col-md-12">
                                                                <img src="{{ '{{ flagsDir+team.flag }}' }}"
                                                                     alt="{{ '{{ team.country }}' }}"
                                                                     title="{{ '{{ team.country }}' }}" ng-if="team.flag" class="flag">
                                                                {{ '{{ team.name }}' }}
                                                            </div>
                                                        </div>
                                                        <h4 ng-hide="group.teams.length">
                                                            <span class="badge">{% trans %}FORM.MATCHPLANNING.NOTEAMS{% endtrans %}</span>
                                                        </h4>
                                                    </div>
                                                    <div class="col-md-6" ng-drop="true" ng-drop-success="onDropUnassigned()">
                                                        <h4>
                                                            <span class="label label-primary">{{ 'FORM.LISTGROUPS.UNASSIGNED'|trans|upper }}</span>
                                                        </h4>
                                                        <div class="row"
                                                             data-allow-transform="true"
                                                             ng-drag="true" ng-drag-data="team" ng-drag-success="onDragUnassignedTeam(team.id)"
                                                             ng-repeat="team in unassigned.teams track by team.id"
                                                        >
                                                            <div class="col-md-12">
                                                                <img src="{{ '{{ flagsDir+team.flag }}' }}"
                                                                     alt="{{ '{{ team.country }}' }}"
                                                                     title="{{ '{{ team.country }}' }}" ng-if="team.flag" class="flag">
                                                                {{ '{{ team.name }}' }}
                                                            </div>
                                                        </div>
                                                        <h4 ng-hide="unassigned.teams.length">
                                                            <span class="badge">{% trans %}FORM.MATCHPLANNING.NOTEAMS{% endtrans %}</span>
                                                        </h4>
                                                    </div>
                                                    <div class="col-md-6" ng-drop="true" ng-drop-success="onDropBasket()">
                                                        <span class="fa-stack fa-2x">
                                                          <i class="fa fa-trash fa-stack-1x"></i>
                                                          <i class="fa fa-ban fa-stack-2x text-danger" ng-show="group"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <hr />
                                                <h4 ng-hide="groups.length">{% trans %}FORM.QMATCHPLANNING.NOGROUPS{% endtrans %}</h4>
                                            </div>
                                            <div ng-show="categories.length>0 && !selectedCategory && dataReady">
                                                <h3><span class="fa fa-hand-o-left"></span>&nbsp;{% trans %}FORM.QMATCHPLANNING.SELECTCATEGORY.TITLE{% endtrans %}</h3>
                                                <p>{% trans %}FORM.QMATCHPLANNING.SELECTCATEGORY.TEXT{% endtrans %}</p>
                                            </div>
                                            <div ng-show="!dataReady" style="padding: 40px;">
                                                <div layout="row" layout-sm="column" layout-align="space-around">
                                                    <div class="lead">{% trans %}FORM.QMATCHPLANNING.WAIT.TEXT{% endtrans %}</div>
                                                </div>
                                                <div layout="row" layout-sm="column" layout-align="space-around">
                                                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
#}
                                </md-content>
                            </md-tab>
                            {#
                            ---------------------
                            ENROLLMENTS
                            ---------------------
                            #}
                            <md-tab label="{% trans %}FORM.TOURNAMENTBOARD.LISTCLUBS.CAPTION{% endtrans %}">
                                <md-content class="md-padding" ng-controller="listClubsController" ng-cloak>
                                    <div class="row">
                                        <div class="col-sm-12 md-padding">
                                            <md-button class="md-raised md-hue-1" ng-href="{{ path('_host_club_new', {'tournamentid': tournament.id }) }}">
                                                {% trans %}FORM.CLUB.TITLE.ADD{% endtrans %}
                                            </md-button>
                                            <md-button class="md-raised md-hue-1" ng-href="{{ path('_edit_import_team', {'tournamentid': tournament.id }) }}">
                                                {% trans %}FORM.TEAMIMPORT.TITLE{% endtrans %}
                                            </md-button>
                                            <md-button class="md-raised md-warn" ng-href="{{ path('_admin_wipe_teams', {'tournamentid': tournament.id }) }}">
                                                {% trans %}FORM.LISTCLUBS.BUTTON.WIPE{% endtrans %}
                                            </md-button>
                                        </div>
                                    </div>
                                    <md-tabs md-dynamic-height md-border-bottom>
                                        <md-tab label="{% trans %}FORM.LISTCLUBS.LEGEND{% endtrans %}">
                                            <md-content class="md-padding">
                                                <div class="row" ng-show="countries.length && dataReady">
                                                    {# list countries #}
                                                    <div class="col-md-6 col-lg-4" ng-repeat="country in countries">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <img src="{{ '{{ flagsDir+country.flag }}' }}"
                                                                     alt="{{ '{{ country.name }}' }}"
                                                                     title="{{ '{{ country.name }}' }}" ng-if="country.flag" class="flag">
                                                                <b>{{ '{{ country.name }}' }}</b>
                                                            </div>
                                                            {# list clubs #}
                                                            <table class="table table-striped">
                                                                <tr ng-repeat="club in country.clubs">
                                                                    <td>
                                                                        <span>{{ '{{ club.name }}' }}</span>
                                                                    </td>
                                                                    <td class="narrow-col">
                                                                        <span class="label label-default" ng-show="club.enrolled" ng-click="updateEnrollment(club, $event)">{{ '{{ club.enrolled }}' }}</span>
                                                                    </td>
                                                                    <td class="narrow-col">
                                                                        <span class="fa fa-cog" aria-label="{% trans %}FORM.CLUB.TITLE.CHG{% endtrans %}" ng-click="updateClub(club, $event)">
                                                                            <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="false">
                                                                                {% trans %}FORM.CLUB.TITLE.CHG{% endtrans %}
                                                                            </md-tooltip>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-show="!countries.length && dataReady">
                                                    <h1 class="label">{{'FORM.LISTCLUBS.NOCLUB'|trans|upper}}</h1>
                                                </div>
                                            </md-content>
                                        </md-tab>
                                        <md-tab label="{% trans %}FORM.LISTCLUBS.LEGEND_TEAMS{% endtrans %}">
                                            <md-content class="md-padding">
                                                <div class="row">
                                                    <div class="col-md-6 col-lg-4" ng-repeat="category in team_categories | orderBy: ['gender', 'classification', '-age'] track by category.id">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h4>{% trans from 'tournament' %}CATEGORY{% endtrans %} {{ '{{ category.name }}' }} - {{ '{{ category.classification_translated }}' }}</h4>
                                                            </div>
                                                            {# list clubs #}
                                                            <table class="table table-striped">
                                                                <tr ng-repeat="team in category.teams | orderBy: ['index', 'country.name', 'name']">
                                                                    <td>
                                                                        <img src="{{ '{{ flagsDir+team.country.flag }}' }}"
                                                                             alt="{{ '{{ team.country.name }}' }}"
                                                                             title="{{ '{{ team.country.name }}' }}" ng-if="team.country.flag" class="flag">
                                                                        {{ '{{ team.name }}' }}
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-show="!countries.length && dataReady">
                                                    <h1 class="label">{{'FORM.LISTCLUBS.NOCLUB'|trans|upper}}</h1>
                                                </div>
                                            </md-content>
                                        </md-tab>
                                    </md-tabs>
                                </md-content>
                            </md-tab>
                            {#
                            ---------------------
                            MATCH PLANNING
                            ---------------------
                            #}
                            <md-tab label="{% trans %}FORM.TOURNAMENTBOARD.PLANNING.CAPTION{% endtrans %}">
                                <md-content class="md-padding" ng-controller="matchPlanningController" ng-cloak id="toastAnchor">
                                    <div class="row">
                                        <div class="col-sm-9 md-padding">
                                            <md-button class="md-raised md-hue-1" ng-class="{'md-primary': !matches_planned}" ng-click="planMatches($event)">
                                                {% trans %}FORM.MATCHPLANNING.PLAN.TITLE{% endtrans %}
                                            </md-button>
                                            <md-button class="md-raised md-hue-1" ng-class="{'md-primary': matches_planned}" ng-click="savePlan($event)" ng-hide="!matches_planned">
                                                {% trans %}FORM.MATCHPLANNING.SAVE.TITLE{% endtrans %}
                                            </md-button>
                                            <md-button class="md-raised md-hue-1" ng-click="resetPlan($event)" ng-hide="!matches_planned">
                                                {% trans %}FORM.MATCHPLANNING.RESET.TITLE{% endtrans %}
                                            </md-button>
                                        </div>
                                        <div class="col-sm-3 md-padding text-right">
                                            <md-button class="md-fab md-hue-1" ng-click="uploadPlan($event)">
                                                <span title="{% trans %}FORM.MATCHPLANNING.MATCHIMPORT.TITLE{% endtrans %}" class="fa fa-upload" style="font-size: 2.4em"></span>
                                            </md-button>
                                            <md-button class="md-fab md-primary" ng-href="{{ path('_edit_match_planning_download', { 'tournamentid': tournament.id }) }}" ng-hide="!matches_planned">
                                                <span title="{% trans %}FORM.MATCHPLANNING.DOWNLOAD.TITLE{% endtrans %}" class="fa fa-download" style="font-size: 2.4em"></span>
                                            </md-button>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="matches_planned">
                                        <div class="col-sm-5">
                                            <md-content layout-padding>
                                                <md-card>
                                                    <md-card-title>
                                                        <md-card-title-text>
                                                            <span class="md-headline">{% trans %}FORM.TOURNAMENTBOARD.SEARCH.TITLE{% endtrans %}</span>
                                                            <span class="md-subhead">{% trans %}FORM.TOURNAMENTBOARD.SEARCH.SUBTITLE{% endtrans %}</span>
                                                        </md-card-title-text>
                                                    </md-card-title>
                                                    <form name="criteriaForm" ng-submit="search_matches(search_object)" class="md-padding" ng-cloak>
                                                        <md-input-container class="md-block">
                                                            <label>{% trans %}FORM.TOURNAMENTBOARD.TEAM{% endtrans %}</label>
                                                            <md-select name="venue" ng-model="search_object.team" ng-model-options="{trackBy: '$value.id'}">
                                                                <md-option ng-value="{ 'id': 0 }">{% trans %}FORM.TOURNAMENTBOARD.ANY{% endtrans %}</md-option>
                                                                <md-option ng-repeat="team in teams | orderBy: ['country', 'name']" ng-value="{{ '{{ team }}' }}">
                                                                    {{ '{{ team.name }}' }} ({{ '{{ team.country }}' }})
                                                                </md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                        <md-input-container class="md-block">
                                                            <label>{% trans %}FORM.TOURNAMENTBOARD.CATEGORY{% endtrans %}</label>
                                                            <md-select name="category" ng-model="search_object.category" ng-model-options="{trackBy: '$value.id'}">
                                                                <md-option ng-value="{ 'id': 0 }">{% trans %}FORM.TOURNAMENTBOARD.ANY{% endtrans %}</md-option>
                                                                <md-option ng-repeat="category in categories" ng-value="{{ '{{ category }}' }}">
                                                                    {% trans from 'tournament' %}CATEGORY{% endtrans %} {{ '{{ category.name }}' }} - {{ '{{ category.classification_translated }}' }}
                                                                </md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                        <md-input-container class="md-block">
                                                            <label>{% trans %}FORM.TOURNAMENTBOARD.GROUP{% endtrans %}</label>
                                                            <md-select name="group" ng-model="search_object.group" ng-model-options="{trackBy: '$value.id'}">
                                                                <md-option ng-value="{ 'id': 0 }">{% trans %}FORM.TOURNAMENTBOARD.ANY{% endtrans %}</md-option>
                                                                <md-option ng-repeat="group in groups" ng-value="{{ '{{ group }}' }}">{{ '{{ group.name }}' }}</md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                        <md-input-container class="md-block">
                                                            <label>{% trans %}FORM.TOURNAMENTBOARD.PLAYGROUND{% endtrans %}</label>
                                                            <md-select name="venue" ng-model="search_object.venue" ng-model-options="{trackBy: '$value.id'}">
                                                                <md-option ng-value="{ 'id': 0 }">{% trans %}FORM.TOURNAMENTBOARD.ANY{% endtrans %}</md-option>
                                                                <md-option ng-repeat="venue in venues" ng-value="{{ '{{ venue }}' }}">{{ '{{ venue.name }}' }}</md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                        <div layout="row">
                                                            <md-datepicker ng-model="search_object.date"
                                                                           md-placeholder="{% trans %}FORM.TOURNAMENTBOARD.DATE{% endtrans %}"
                                                                           md-min-date="minDate" md-max-date="maxDate">
                                                            </md-datepicker>
                                                            <span flex></span>
                                                            <md-button class="md-raised" ng-click="search_object.date=null">
                                                                {% trans %}FORM.TOURNAMENTBOARD.ANYDATE{% endtrans %}
                                                            </md-button>
                                                        </div>
                                                    </form>
                                                    <md-card-actions layout="row" layout-align="start center">
                                                        <md-input-container>
                                                            <label>{% trans %}FORM.TOURNAMENTBOARD.LIMIT{% endtrans %}</label>
                                                            <md-select name="limit" ng-model="limit" ng-model-options="{trackBy: '$value'}" required>
                                                                <md-option ng-value="10">{% trans %}FORM.TOURNAMENTBOARD.LIMIT10{% endtrans %}</md-option>
                                                                <md-option ng-value="25">{% trans %}FORM.TOURNAMENTBOARD.LIMIT25{% endtrans %}</md-option>
                                                                <md-option ng-value="100">{% trans %}FORM.TOURNAMENTBOARD.LIMIT100{% endtrans %}</md-option>
                                                                <md-option ng-value="500">{% trans %}FORM.TOURNAMENTBOARD.LIMIT500{% endtrans %}</md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </md-card-actions>
                                                </md-card>
                                            </md-content>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="panel panel-warning" ng-show="unassigned_categories.length && matches.length==0">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-sm-9">
                                                            <h4>{% trans %}FORM.MATCHPLANNING.PLANNINGINCOMPLETE.TITLE{% endtrans %}</h4>
                                                            <p>{% trans %}FORM.MATCHPLANNING.PLANNINGINCOMPLETE.DESCRIPTION{% endtrans %}</p>
                                                        </div>
                                                        <div class="col-sm-3 text-center">
                                                            <span class="fa fa-exclamation-triangle fa-5x"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row" ng-repeat="category in unassigned_categories | orderBy: ['gender', 'classification', '-age'] track by category.id">
                                                        <div class="col-sm-12">
                                                            <span class="badge">{{ '{{ category.unassigned_matches }}' }}</span>
                                                            <span>{% trans from 'tournament' %}CATEGORY{% endtrans %} {{ '{{ category.name }}' }} - {{ '{{ category.classification_translated }}' }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-success" ng-show="unassigned_categories.length==0 && matches.length==0">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-sm-9">
                                                            <h4>{% trans %}FORM.MATCHPLANNING.PLANNINGCOMPLETE.TITLE{% endtrans %}</h4>
                                                            <p>{% trans %}FORM.MATCHPLANNING.PLANNINGCOMPLETE.DESCRIPTION{% endtrans %}</p>
                                                        </div>
                                                        <div class="col-sm-3 text-center">
                                                            <span class="fa fa-check fa-5x"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-show="matches.length">
                                                <div class="row title">
                                                    <div class="col-md-1 text-center">{% trans from "tournament" %}LEGEND.NO{% endtrans %}</div>
                                                    <div class="col-md-2 text-right">
                                                        {% trans from "tournament" %}LEGEND.TIME{% endtrans %}<br />
                                                        {% trans from "tournament" %}LEGEND.PLAYGROUND{% endtrans %}
                                                    </div>
                                                    <div class="col-md-2 text-center">
                                                        {% trans from "tournament" %}LEGEND.CATEGORY{% endtrans %}<br />
                                                        {% trans from "tournament" %}LEGEND.GROUP{% endtrans %}
                                                    </div>
                                                    <div class="col-md-7">
                                                        {% trans from "tournament" %}LEGEND.HOMETEAM{% endtrans %}<br />
                                                        {% trans from "tournament" %}LEGEND.AWAYTEAM{% endtrans %}
                                                    </div>
                                                </div>
                                                <div class="row" ng-mouseenter="msover=true" ng-mouseleave="msover=false" ng-init="msover=false"
                                                     ng-class-odd="'bg-table-row'"
                                                     ng-class="{ 'bg-facebook-darkblue white': msover, 'alert-warning': match.status == 'W', 'alert-danger': match.status == 'A' }"
                                                     ng-repeat="match in matches | filter:matchFilter | limitTo:limit as results track by match.uid"
                                                     ng-click="editMatch(match, $event)"
                                                >
                                                    <div class="col-md-12 bg-facebook-lightblue facebook-blue" ng-show="$first || match.date.text != results[$index-1].date.text">
                                                        <h4><b>{% trans %}FORM.TOURNAMENTBOARD.DATE{% endtrans %} - {{ '{{ match.date.text }}' }}</b></h4>
                                                    </div>
                                                    <div class="col-md-1 text-center">{{ '{{ match.matchno }}' }}</div>
                                                    <div class="col-md-2 text-right">
                                                        {{ '{{ match.time.text }}' }}<br />
                                                        {% trans from "tournament" %}LEGEND.PLAYGROUND{% endtrans %} {{ '{{ match.venue.no }}' }}
                                                    </div>
                                                    <div class="col-md-2 text-center">
                                                        {{ '{{ match.category.name }}' }}<br />
                                                        {{ '{{ match.group.name }}' }}
                                                    </div>
                                                    <div class="col-md-7">
                                                        <img src="{{ '{{ flagsDir+match.home.flag }}' }}"
                                                             alt="{{ '{{ match.home.country }}' }}"
                                                             title="{{ '{{ match.home.country }}' }}" ng-if="match.home.flag" class="flag">
                                                        {{ '{{ match.home.name }}' }}<br />
                                                        <img src="{{ '{{ flagsDir+match.away.flag }}' }}"
                                                             alt="{{ '{{ match.away.country }}' }}"
                                                             title="{{ '{{ match.away.country }}' }}" ng-if="match.away.flag" class="flag">
                                                        {{ '{{ match.away.name }}' }}
                                                    </div>
                                                </div>
                                                <div class="md-margin md-padding" md-whiteframe="10" layout layout-align="center center" ng-if="results.length==0">
                                                    <h4 flex="80">{% trans %}FORM.TOURNAMENTBOARD.NORESULTS{% endtrans %}</h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="panel panel-info" ng-show="!matches_planned">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <h4>{% trans %}FORM.MATCHPLANNING.NEEDTOPLAN.TITLE{% endtrans %}</h4>
                                                    <p>{% trans %}FORM.MATCHPLANNING.NEEDTOPLAN.DESCRIPTION{% endtrans %}</p>
                                                </div>
                                                <div class="col-sm-3 text-center">
                                                    <span class="fa fa-info fa-5x"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </md-content>
            </section>
        </div>
    </div>
{% endblock %}

{% block meta %}
    <style type="text/css">
        .angular-google-map-container { height: 200px; }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'errors' }) }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'admin' }) }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'tournament' }) }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'club' }) }}"></script>
    <script src="{{ asset('bundles/icuppublicsite/angular-bootstrap-file-field.min.js') }}"></script>
    <script>
        $("#form_file").fileinput({'showUpload':true, 'showPreview':false, 'showRemove':false, 'browseLabel':'{% trans %}FORM.MATCHPLANNING.MATCHIMPORT.BROWSE{% endtrans %}', 'uploadLabel':'{% trans %}FORM.MATCHPLANNING.MATCHIMPORT.UPLOAD{% endtrans %}'});
    </script>
    <script src="{{ asset('bundles/icuppublicsite/angular-google-maps.min.js') }}"></script>
    <script src="{{ asset('bundles/icuppublicsite/daypilot/daypilot-all.min.js') }}" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/icuppublicsite/daypilot/themes/calendar_icup.css') }}" />
    <script type="text/javascript">
        angular.module('tournamentBoardModule',
                [
                    'ngMaterial', 'ngMessages',
                    'ngDraggable',
                    'uiGmapgoogle-maps',
                    'bootstrap.fileField',
                    'daypilot',
                    'translationModule.filter', 'dataSourceModule.factory', 'tournamentBoardModule.tournament',
                    'tournamentBoardModule.venues', 'tournamentBoardModule.clubs', 'tournamentBoardModule.planning', 'tournamentBoardModule.categories'
                ],
            function(uiGmapGoogleMapApiProvider) {
                uiGmapGoogleMapApiProvider.configure({
                    key: 'AIzaSyA1sKwFJvFiIc9I_9R34PhjknL3O9W61yA',
                    libraries: 'weather,geometry,visualization'
                })
            }
        )
        .constant('tournamentid', '{{ tournament.id }}')
        .constant('flagsDirectory', '{{ asset('bundles/icuppublicsite/images/flags/') }}')
        .constant('translate_domain', 'admin')
        .constant('templateDirectory', '{{ asset('bundles/icuppublicsite/templates/') }}');
    </script>
    {% javascripts '@ICupPublicSiteBundle/Resources/js/general/*' output="bundles/icuppublicsite/js/general.js" %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts  %}
    {% javascripts '@ICupPublicSiteBundle/Resources/js/dashboard/*' output="bundles/icuppublicsite/js/dashboard.js" %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts  %}
{% endblock %}
