{% trans_default_domain "club" %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="lead"><i class="fa fa-user"></i>&nbsp;{{ currentuser.name }}</span>
            </div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <p>
                                <span class="label label-default">{% trans %}FORM.MYPAGE.USERNAME{% endtrans %}</span><br />
                                {{ currentuser.username|lower }}
                            </p>
{% if currentuser.email %}
                            <p>
                                <span class="label label-default">{% trans %}FORM.MYPAGE.EMAIL{% endtrans %}</span><br />
                                {{ currentuser.email|lower }}
                            </p>
{% endif %}
{% if club is defined and club %}
                            <p>
                                <span class="label label-default">{% trans %}FORM.MYPAGE.CLUB{% endtrans %}</span><br />
                                {{ formatter.displayclub(club, _context) }}
                            </p>
{% endif %}
{% if host is defined and host %}
                            <p>
                                <span class="label label-default">{% trans %}FORM.MYPAGE.HOST{% endtrans %}</span><br />
                                {{ host.name }}
                            </p>
{% endif %}
                            <p>
                                <span class="label label-default">{% trans %}FORM.MYPAGE.ROLE{% endtrans %}</span><br />
{% if currentuser.role == 1 %}
    {% if currentuser.status == 4 %}
                                {% trans %}FORM.MYPAGE.CLUBUSER{% endtrans %}
    {% else %}
                                {% trans %}FORM.MYPAGE.PROSPECT{% endtrans %}
    {% endif %}
{% endif %}
{% if currentuser.role == 2 %}
                                {% trans %}FORM.MYPAGE.CLUBADMIN{% endtrans %}
{% endif %}
{% if currentuser.role == 3 %}
                                {% trans %}FORM.MYPAGE.EDITOR{% endtrans %}
{% endif %}
{% if currentuser.role == 4 %}
                                {% trans %}FORM.MYPAGE.EDITOR_ADMIN{% endtrans %}
{% endif %}
{% if currentuser.role == 9 %}
                                {% trans %}FORM.MYPAGE.ADMIN{% endtrans %}
{% endif %}
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
