<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% block meta %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
{#
        {% include "CmfCreateBundle::includecssfiles.html.twig" %}
#}
        <link href="{{ asset( 'bundles/icuppublicsite/font-awesome-4.4.0/css/font-awesome.min.css' ) }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset( 'bundles/icuppublicsite/bootstrap-3.3.5-dist/css/bootstrap.min.css' ) }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset( 'bundles/icuppublicsite/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css' ) }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset( 'bundles/icuppublicsite/bootstrap-fileinput-4.0.0/css/fileinput.min.css' ) }}" media="all" rel="stylesheet" type="text/css" />
        <link href="{{ asset( 'bundles/icuppublicsite/bootstrap-switch-3.3.2/css/bootstrap-switch.min.css' ) }}" media="all" rel="stylesheet" type="text/css" />
        <!-- Angular Material style sheet -->
        <link href="{{ asset( 'bundles/icuppublicsite/angular_material/1.0.4/angular-material.min.css' ) }}" media="all" rel="stylesheet" type="text/css" />
        {% stylesheets '@ICupPublicSiteBundle/Resources/css/*' output="bundles/icuppublicsite/css/style.css" %}
            <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {# -- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -- #}
        <script type="text/javascript">
            window.cookieconsent_options = {
                "message":"{% trans from 'admin' %}FORM.COOKIE.TITLE{% endtrans %}",
                "dismiss":"{% trans from 'admin' %}FORM.COOKIE.DISMISS{% endtrans %}",
                "learnMore":"{% trans from 'admin' %}FORM.COOKIE.MOREINFO{% endtrans %}",
                "link":"{{ path("_cookies") }}",
                "theme":"dark-top"};
        </script>
        <script type="text/javascript" src="{{ asset('bundles/icuppublicsite/cookieconsent/cookieconsent.min.js') }}"></script>
        {# -- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -- #}
        <!--[if lt IE 9]>
            <script src="{{ asset('bundles/icuppublicsite/html5shiv/html5shiv.min.js') }}"></script>
            <script src="{{ asset('bundles/icuppublicsite/html5shiv/respond.min.js') }}"></script>
        <![endif]-->
        {% javascripts '@ICupPublicSiteBundle/Resources/js/jquery/*' output="bundles/icuppublicsite/js/jquery.min.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts  %}
        <script src="{{ asset('bundles/icuppublicsite/bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/icuppublicsite/bootstrap-fileinput-4.0.0/js/fileinput.min.js') }}"></script>
        <script src="{{ asset('bundles/icuppublicsite/bootstrap-switch-3.3.2/js/bootstrap-switch.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="{{ asset('bundles/icuppublicsite/angular/1.5.3/angular.min.js') }}"></script>
        <script src="{{ asset('bundles/icuppublicsite/angular/1.5.3/angular-animate.min.js') }}"></script>
        <script src="{{ asset('bundles/icuppublicsite/angular/1.5.3/angular-aria.min.js') }}"></script>
        <script src="{{ asset('bundles/icuppublicsite/angular/1.5.3/angular-messages.min.js') }}"></script>
        <script src="{{ asset(['bundles/icuppublicsite/angular/1.5.3/i18n/angular-locale_',app.request.locale|split('_')[0],'.js']|join) }}"></script>
        {% javascripts 'bundles/bazingajstranslation/js/translator.min.js' 'js/translations/config.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!-- Angular Material Library -->
        <script src="{{ asset('bundles/icuppublicsite/angular_material/1.0.4/angular-material.min.js') }}"></script>
        <!-- ngDraggable -->
        <script src="{{ asset('bundles/icuppublicsite/ng-draggable/ngDraggable.js') }}"></script>
    </head>
    <body role="document">
        {% block header %}{% endblock %}
        {% block banner %}
        <div class="hidden-print" style="background-image: url('{{ asset('bundles/icuppublicsite/images/IWC/bg.jpg') }}');
                    background-size: cover;
                    background-repeat: no-repeat;">
            <div class="container" style="padding-top: 10px; padding-bottom: 10px;">
                <img src="{{ asset('bundles/icuppublicsite/images/IWC/logo.png') }}" alt="logo" class="img-responsive" />
            </div>
        </div>
        {% endblock %}
        {% block widebody %}{% endblock %}
        <div class="container" role="main">
        {% block body %}{% endblock %}
        </div>
        {% block footer %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script type="text/javascript">
            $("[data-toggle='tooltip']").tooltip();
        </script>
        {% render(controller("cmf_create.jsloader.controller:includeJSFilesAction")) %}
    </body>
</html>
