{% macro club(team, group, context) %}
    {% if team.id > 0 %}
                <td class="flag">
        {% if team.rank is defined and team.rank != '' %}
                    <small>&nbsp;</small><br />
        {% endif %}
        {% if team.country in context.countries|keys %}
                    <img src="{{ asset(['bundles/icuppublicsite/images/flags/',context.countries[team.country].flag]|join) }}"
                         alt="{{ team.country|trans({},'lang') }}"
                         title="{{ team.country|trans({},'lang') }}">
        {% endif %}
                </td>
                <td>
        {% if team.rank is defined and team.rank != '' %}
                    <small>{{ team.rank }}</small><br />
        {% endif %}
                    <a href="{{ path('_showteam_all', { 'teamid': team.id }) }}">
                        <span class="text-nowrap">
                            {{ team.name }}
                        </span>
                    </a>
                </td>
    {% else %}
                <td class="flag"></td>
                <td>{{ team.rank }}</td>
    {% endif %}
{% endmacro %}
        
{% macro clubxs(hteam, ateam, group, context) %}
    {% if hteam.id > 0 %}
        {% if hteam.rank is defined and hteam.rank != '' %}
            <small>{{ hteam.rank }}</small><br />
        {% endif %}
            <span class="text-nowrap">
        {% if hteam.country in context.countries|keys %}
                <img src="{{ asset(['bundles/icuppublicsite/images/flags/',context.countries[hteam.country].flag]|join) }}"
                     alt="{{ hteam.country|trans({},'lang') }}"
                     title="{{ hteam.country|trans({},'lang') }}"
                     class="flag"
                     >
        {% endif %}
                <a href="{{ path('_showteam_all', { 'teamid': hteam.id }) }}">
                    {{ hteam.name }}
                </a>
            </span>
    {% else %}
            {{ hteam.rank }}
    {% endif %}
            <br />
    {% if ateam.id > 0 %}
        {% if ateam.rank is defined and ateam.rank != '' %}
            <small>{{ ateam.rank }}</small><br />
        {% endif %}
        {% if ateam.country in context.countries|keys %}
            <img src="{{ asset(['bundles/icuppublicsite/images/flags/',context.countries[ateam.country].flag]|join) }}"
                 alt="{{ ateam.country|trans({},'lang') }}"
                 title="{{ ateam.country|trans({},'lang') }}"
                 class="flag"
                 >
        {% endif %}
            <a href="{{ path('_showteam_all', { 'teamid': ateam.id }) }}">
                <span class="text-nowrap">
                    {{ ateam.name }}
                </span>
            </a>
    {% else %}
            {{ ateam.rank }}
    {% endif %}
{% endmacro %}

{% macro displayteam(team, context) %}
    <span class="text-nowrap">
    {% if team.country in context.countries|keys %}
        <img src="{{ asset(['bundles/icuppublicsite/images/flags/',context.countries[team.country].flag]|join) }}"
             alt="{{ team.country|trans({},'lang') }}"
             title="{{ team.country|trans({},'lang') }}"
             class="flag"
             >
    {% endif %}
        <a href="{{ path('_showteam_all', { 'teamid': team.id }) }}">
            {{ team.name }}
        </a>
    </span>
{% endmacro %}

{% macro displayclub(club, context) %}
    <span class="text-nowrap">
    {% if team.country in context.countries|keys %}
        <img src="{{ asset(['bundles/icuppublicsite/images/flags/',context.countries[club.country].flag]|join) }}"
             alt="{{ club.country|trans({},'lang') }}"
             title="{{ club.country|trans({},'lang') }}"
             class="flag"
             >
    {% endif %}
        {{ club.name }}
    </span>
{% endmacro %}

{% macro td(count) %}
    {% for i in 1..count %}
        <td>&nbsp;</td>
    {% endfor %}
{% endmacro %}

{% macro match(match, context) %}
{% trans from 'tournament' %}LEGEND.NO{% endtrans %}: {{ match.matchno }} - {{ ['GROUPCLASS.',match.group.classification]|join|trans([],'tournament') }}{% if match.group.classification < 9 %} {{ match.group.name }}{% endif %}
{{ 'FORMAT.LONGDATE'|transchoice(match.schedule|date('j'), {
    '%week%': ['WEEK.',match.schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
    '%day%': match.schedule|date('j'),
    '%month%': ['MONTH.',match.schedule|date('M')|upper]|join|trans([],'messages'),
    '%year%': match.schedule|date('Y')}, 'messages') }} - {% trans from 'tournament' %}LEGEND.TIME{% endtrans %}: {{ match.schedule|date('FORMAT.TIME'|trans([],'messages')) }}
{% trans from 'tournament' %}LEGEND.PLAYGROUND{% endtrans %}: {{ match.playground.name }}
{% endmacro %}

