{% extends "ICupPublicSiteBundle:Masters:base.html.twig" %}

{% set tmnt = app.session.get('Tournament') %}
{% if tmnt is null %}
    {% set tmnt = '_' %}
{% endif %}

{% block header %}
    <div class="menu">
        <div class="menu_header">
            <ul>
{% if app.user == null %}
    {% if tmnt != '_' %}
                <li><a href="{{ path('_tournament_overview', {'tournament': tmnt}) }}">{{ 'MENU.TOURNAMENT.OVERVIEW'|trans }}</a></li>
    {% else %}
                <li><a href="{{ path('_tournament_select') }}">{% trans %}MENU.TOURNAMENT.SELECT{% endtrans %}</a></li>
    {% endif %}
{% else %}
                <li><a href="{{ path('_user_my_page') }}">{% trans %}MENU.ENROLLMENT.MYPAGE{% endtrans %}</a></li>
{% endif %}
            </ul>
        </div>
        <div class="menu_header">
            <ul>
                <li><a href="{{ path('_icup') }}">{{ 'MENU.INFO.ABOUT'|trans }}</a></li>
            </ul>
        </div>
        <div class="menu_header">
            <ul>
                <li><a href="{{ path('_icup') }}">{{ 'MENU.INFO.FAQ'|trans }}</a></li>
            </ul>
        </div>
        <div class="menu_header last">
            <ul>
                <li>
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <a href="{{ path('_user_my_page', {'_switch_user': '_exit'}) }}">{{ app.user.username|upper }} {% trans %}MENU.LOGOUT{% endtrans %}</a>
                    {% else %}
                        {% if app.user != null %}
                            <a href="{{ path('_admin_logout') }}">{{ app.user.username|upper }} {% trans %}MENU.LOGOUT{% endtrans %}</a>
                        {% else %}
                            <a href="{{ path('_user_my_page') }}">{% trans %}MENU.LOGIN{% endtrans %}</a>
                        {% endif %}
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="menu">
        <!-- Language section -->
        <div class="menu_footer">
            <h3>{% trans %}MENU.LANGCHOICE.TITLE{% endtrans %}</h3>
            <ul>
                {% for local in supported_locales|keys %}
                    {% set flag = countries[supported_locales[local]].flag %}
                    {% set lang = ['LANG.',local|upper]|join|trans({}, 'common') %}
                <li>
                    <a href="{{ path('_switch', { 'locale': local }) }}">
                        <img src="{{ imagepath }}/flags/{{ flag }}"
                             alt="{{ lang }}"
                             title="{% trans %}CHOOSELANG{% endtrans %}: {{ lang }}" />
                        &nbsp;{{ lang }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Tournament section -->
        <div class="menu_footer">
            <h3>{% trans %}MENU.TOURNAMENT.TITLE{% endtrans %}</h3>
            <ul>
{% if tmnt != '_' %}
                <li><a href="{{ path('_tournament_overview', {'tournament': tmnt}) }}">{% trans %}MENU.TOURNAMENT.OVERVIEW{% endtrans %}</a></li>
                <li><a href="{{ path('_tournament_categories', {'tournament': tmnt}) }}">{% trans %}MENU.TOURNAMENT.GROUPS{% endtrans %}</a></li>
                <li><a href="{{ path('_tournament_playgrounds', {'tournament': tmnt}) }}">{% trans %}MENU.TOURNAMENT.PLAYGROUNDS{% endtrans %}</a></li>
                <li><a href="{{ path('_tournament_clubs', {'tournament': tmnt}) }}">{% trans %}MENU.TOURNAMENT.TEAMS{% endtrans %}</a></li>
                <li><a href="{{ path('_tournament_winners', {'tournament': tmnt}) }}">{% trans %}MENU.TOURNAMENT.WINNERS{% endtrans %}</a></li>
                <li><a href="{{ path('_tournament_statistics', {'tournament': tmnt}) }}">{% trans %}MENU.TOURNAMENT.STATISTICS{% endtrans %}</a></li>
{% endif %}
                <li><a href="{{ path('_tournament_select') }}">{% trans %}MENU.TOURNAMENT.SELECT{% endtrans %}</a></li>
            </ul>
        </div>
<!-- ANNONOMOUS USER -->
{% if app.user == null %}
        <!-- Information section -->
        <div class="menu_footer">
            <h3>{% trans %}MENU.INFORMATION.TITLE{% endtrans %}</h3>
        </div>
        <!-- Enrollment/registration section -->
        <div class="menu_footer">
            <h3>{% trans %}MENU.NEWUSER.TITLE{% endtrans %}</h3>
            <ul>
                <li><a href="{{ path('_ausr_new_user') }}">{% trans %}MENU.NEWUSER.REGISTER{% endtrans %}</a></li>
    {% if tmnt != '_' %}
                <li><a href="{{ path('_club_enroll_check') }}">{% trans %}MENU.NEWUSER.ENROLL{% endtrans %}</a></li>
    {% endif %}
            </ul>
        </div>
<!-- REGISTRATED USER -->
{% else %}
    {% if not is_granted('ROLE_ADMIN') %}
        <!-- Enrollment/registration section -->
        <div class="menu_footer">
            <h3>{% trans %}MENU.ENROLLMENT.TITLE{% endtrans %}</h3>
            <ul>
        {% if is_granted('ROLE_USER') %}
            {% if is_granted('ROLE_CLUB_ADMIN') %}
                {% if tmnt != '_' %}
                <li><a href="{{ path('_club_enroll_check') }}">{% trans %}MENU.ENROLLMENT.CLUBS{% endtrans %}</a></li>
                {% endif %}
            {% elseif app.user.status < 3 %}
                <li><a href="{{ path('_club_new') }}">{% trans %}MENU.NONREL.ENROLL{% endtrans %}</a></li>
            {% endif %}
        {% elseif is_granted('ROLE_EDITOR') %}
            {% if is_granted('ROLE_EDITOR_ADMIN') %}
                <li><a href="{{ path('_club_enroll_check') }}">TBD:{% trans %}MENU.ENROLLMENT.CLUBS{% endtrans %}</a></li>
            {% endif %}
            {% if tmnt != '_' %}
                    <li><a href="{{ path('_tournament_playgrounds', {'tournament': tmnt}) }}">TBD:{% trans %}MENU.ADMIN.RESULTS{% endtrans %}</a></li>
            {% endif %}
        {% endif %}
            </ul>
        </div>
    {% endif %}
        <!-- Admin section -->
        <div class="menu_footer">
            <h3>{% trans %}MENU.ADMIN.TITLE{% endtrans %}</h3>
            <ul>
                <li><a href="{{ path('_user_my_page') }}">{% trans %}MENU.ENROLLMENT.MYPAGE{% endtrans %}</a></li>
    {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('_edit_host_list') }}">{% trans %}MENU.ADMIN.TOURNAMENT{% endtrans %}</a></li>
                <li><a href="{{ path('_edit_club_list') }}">{% trans %}MENU.ADMIN.TEAMS{% endtrans %}</a></li>
                <li><a href="{{ path('_edit_host_list') }}">{% trans %}MENU.ADMIN.PLAYERS{% endtrans %}</a></li>
                <li><a href="{{ path('_edit_host_list') }}">{% trans %}MENU.ADMIN.REFEREES{% endtrans %}</a></li>
    {% elseif is_granted('ROLE_EDITOR_ADMIN') %}
                <li><a href="{{ path('_host_list_tournaments') }}">{% trans %}MENU.ADMIN.TOURNAMENT{% endtrans %}</a></li>
                <li><a href="{{ path('_edit_editors_list') }}">{% trans %}MENU.ADMIN.EDITORS{% endtrans %}</a></li>
    {% elseif is_granted('ROLE_CLUB_ADMIN') %}
                <li><a href="{{ path('_user_my_page_users') }}">{% trans %}MENU.ENROLLMENT.MYPAGE_USERS{% endtrans %}</a></li>
    {% endif %}
            </ul>
        </div>
{% endif %}
    </div>
{% endblock %}
