{% extends "ICupPublicSiteBundle:Masters:base.html.twig" %}
{% trans_default_domain "menu" %}

{% set tmnt = app.session.get('Tournament') %}
{% if tmnt is null %}
    {% set tmnt = '_' %}
{% endif %}

{% block header %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#icup-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('_icup') }}">
{% if tournament is defined and tournament %}
                {{ tournament.name }}
{% else %}
                iCup
{% endif %}
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="icup-navbar-collapse-1">
            <ul class="nav navbar-nav">
{% if app.user != null %}
                <li><a href="{{ path('_user_my_page') }}">{% trans %}MENU.ENROLLMENT.MYPAGE{% endtrans %}</a></li>
{% endif %}
                <li><a href="{{ path('_contact') }}">{% trans %}MENU.INFO.ABOUT{% endtrans %}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a href="{{ path('_user_my_page', {'_switch_user': '_exit'}) }}">
                        <i class="fa fa-eye"></i>&nbsp;{{ app.user.name }} {% trans %}MENU.LOGOUT{% endtrans %}
                    </a>
            {% else %}
                {% if app.user != null %}
                    <a href="{{ path('_admin_logout') }}">{{ app.user.name }} {% trans %}MENU.LOGOUT{% endtrans %}</a>
                {% else %}
                    <a href="{{ path('_user_my_page') }}">{% trans %}MENU.LOGIN{% endtrans %}</a>
                {% endif %}
            {% endif %}
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}MENU.LANGCHOICE.TITLE{% endtrans %} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <!-- Language section -->
            {% for local in supported_locales|keys %}
                {% set flag = countries[supported_locales[local]].flag %}
                {% set lang = ['LANG.',local|upper]|join|trans({}, 'common') %}
                        <li>
                            <a href="{{ path('_switch', { 'locale': local }) }}">
                                <img src="{{ imagepath }}/flags/{{ flag }}"
                                     alt="{{ lang }}"
                                     title="{% trans %}MENU.LANGCHOICE.CHOOSELANG{% endtrans %}: {{ lang }}"
                                     class="flag"
                                />&nbsp;{{ lang }}
                            </a>
                        </li>
            {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block footer %}
{% endblock %}
