{# *******************************************
   DISPLAY MATCHLIST
   SMALL MOBILE DEVICES
   ******************************************* #}
{% macro listmatchesxs(matchlist, context) %}
<table class="table table-striped">
    <thead>
        <tr>
            <td class="narrow-col">
                {% trans from "tournament" %}LEGEND.TIME{% endtrans %}<br />
                {% trans from "tournament" %}LEGEND.PLAYGROUND{% endtrans %}
            </td>
            <td>
                {% trans from "tournament" %}LEGEND.HOMETEAM{% endtrans %}<br />
                {% trans from "tournament" %}LEGEND.AWAYTEAM{% endtrans %}
            </td>
        </tr>
    </thead>
    <tbody>
{% for matchset in matchlist %}
        <tr><td class="bg-warning" colspan="2">
            {{ 'FORMAT.LONGDATE'|transchoice(matchset[0].schedule|date('j'), {
                    '%week%': ['WEEK.',matchset[0].schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                    '%day%': matchset[0].schedule|date('j'),
                    '%month%': ['MONTH.',matchset[0].schedule|date('M')|upper]|join|trans([],'messages'),
                    '%year%': matchset[0].schedule|date('Y')}, 'messages') }}
        </td></tr>
    {% for match in matchset %}
        <tr>
            <td class="narrow-col">
                {{ match.schedule|date('FORMAT.TIME'|trans([],'messages')) }}<br />
                <a href="{{ path('_showplayground_full', { 'playgroundid': match.playground.id }) }}" title="{{ match.playground.name }}">{{ match.playground.no }}</a>
            </td>
            <td>
                {{ context.formatter.displaymatchrelation(match.teamA, context) }}<br />
                {{ context.formatter.displaymatchrelation(match.teamB, context) }}
            </td>
        </tr>
    {% endfor %}
{% endfor %}
    </tbody>
</table>
{% endmacro %}
{# *******************************************
   DISPLAY MATCHLIST
   OTHER DEVICES
   ******************************************* #}
{% macro listmatches(matchlist, context) %}
<table class="table table-striped">
    <thead>
        <tr>
            <td class="narrow-col">{% trans from "tournament" %}LEGEND.NO{% endtrans %}</td>
            <td class="narrow-col">{% trans from "tournament" %}LEGEND.TIME{% endtrans %}<br />
                                   {% trans from "tournament" %}LEGEND.PLAYGROUND{% endtrans %}
            </td>
            <td class="narrow-col">{% trans from "tournament" %}LEGEND.CATEGORY{% endtrans %}<br />
                                   {% trans from "tournament" %}LEGEND.GROUP{% endtrans %}</td>
            <td>{% trans from "tournament" %}LEGEND.HOMETEAM{% endtrans %}</td>
            <td>{% trans from "tournament" %}LEGEND.AWAYTEAM{% endtrans %}</td>
        </tr>
    </thead>
    <tbody>
    {% for matchset in matchlist %}
        <tr><td class="bg-warning" colspan="8">
                {{ 'FORMAT.LONGDATE'|transchoice(matchset[0].schedule|date('j'), {
                        '%week%': ['WEEK.',matchset[0].schedule|date('D')|upper]|join|trans([],'messages')|capitalize,
                        '%day%': matchset[0].schedule|date('j'),
                        '%month%': ['MONTH.',matchset[0].schedule|date('M')|upper]|join|trans([],'messages'),
                        '%year%': matchset[0].schedule|date('Y')}, 'messages') }}
        </td></tr>
        {% for match in matchset %}
        <tr>
            <td class="narrow-col">{{ match.matchno }}</td>
            <td class="narrow-col">{{ match.schedule|date('FORMAT.TIME'|trans([],'messages')) }}<br />
                <a href="{{ path('_showplayground_full', { 'playgroundid': match.playground.id }) }}"
                   title="{{ match.playground.name }}">
                    {{ match.playground.no }}
                </a>
            </td>
            <td class="narrow-col">
                <a href="{{ path('_showcategory', { 'categoryid': match.category.id }) }}"
                   title="{{ 'CATEGORY'|trans([],'tournament') }} {{ match.category.name|upper }} - {{ ['GENDER.',
                                match.category.gender,
                                match.category.classification]|join|transchoice(match.category.age, { '%age%': match.category.age },'tournament') }}">
                                {{ match.category.name }}</a><br />
                {{ match.group.name }}</td>
            <td>{{ context.formatter.displaymatchrelation(match.teamA, context) }}</td>
            <td>{{ context.formatter.displaymatchrelation(match.teamB, context) }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% endmacro %}
