{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h2 style="margin-bottom: 0">
        <i class="fa fa-lock"></i>&nbsp;
        {% trans from "club" %}FORM.LOGIN.TITLE{% endtrans %}
    </h2>
    <p>{% trans from "club" %}FORM.LOGIN.PROMPT{% endtrans %}</p>

{% if error %}
    <h2><span class="label label-danger"><i class="fa fa-user-secret"></i>&nbsp;{{ error.messageKey|trans(error.messageData, 'security') }}</span></h2>
{% endif %}

    <div class="row">
        <div class="col-sm-7">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group">
                    <label class="control-label required" for="username">{{ 'security.login.username'|trans }}</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label required" for="password">{{ 'security.login.password'|trans }}</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key"></i>
                        </span>
                        <input class="form-control" type="password" id="password" name="_password" required="required" />
                    </div>
                </div>


                <div class="form-group">
                    <input class="form-inline" type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label class="control-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>

                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-default" role="button" />
            </form>
        </div>
        <div class="col-sm-5">
            <p>{% trans from "club" %}FORM.LOGIN.SECTION1.TEXT{% endtrans %}</p>
            <p />
            <p><a href="{{ path('fos_user_resetting_request') }}" class="btn btn-info" role="button">{% trans from "club" %}FORM.LOGIN.LOSTPWD{% endtrans %}&nbsp;<i class="fa fa-angle-double-right"></i></a></p>
            <p><a href="{{ path('fos_user_registration_register') }}" class="btn btn-success" role="button">{% trans from "club" %}FORM.LOGIN.REGISTER{% endtrans %}&nbsp;<i class="fa fa-angle-double-right"></i></a></p>
            {% for owner in hwi_oauth_resource_owners() %}
                <p><a href="{{ hwi_oauth_login_url(owner) }}" class="btn btn-default" role="button">{{ owner | trans({}, 'HWIOAuthBundle') }}</a></p>
            {% endfor %}
        </div>
    </div>
{% endblock fos_user_content %}




