{% trans_default_domain "admin" %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Generated e-mail: online enrollment</title>
</head>
<body>
    <p>Enrollment request from {{ form.club }}:</p>
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td colspan="2" bgcolor="#225585" height="25" width="9"></td>
            <td valign="middle" bgcolor="#225585" height="25">
                <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                <td style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#ffffff" height="25">ENROLLMENT DATA</td>
                </tr>
                </table>
            </td>
            <td colspan="2" bgcolor="#225585" height="25" width="9"></td>
        </tr>
        <tr>
            <td bgcolor="#225585" width="1"></td><td width="8"></td><td valign="top">
                <p>
                    <h2>CLUB</h2>
                    Name: {{ form.club }}<br />
                    Address:<br />
                    <address>
                    {{ form.address }}<br />
                    {{ form.city }}<br />
                    {{ form.country }}<br />
                    </address>
                    Phone: {{ form.phone }}<br />
                    E-mail: {{ form.email }}
                </p>
                <p>
                    <h2>MANAGER</h2>
                    Name: {{ form.manager }}<br />
                    Phone: {{ form.m_phone }}<br />
                    Mobile: {{ form.m_mobile }}<br />
                    E-mail: {{ form.m_email }}
                </p>
                <p>
                    Number of teams enrolled: {{ form.t_total }}<br />
                    Number of people expected: {{ form.a_total }}
                </p>
                <p>For more details see attached file.</p>
            </td><td width="8"></td><td bgcolor="#225585" width="1"></td>
        </tr>
        <tr>
            <td style="font-size:1px;line-height:1px" colspan="5" bgcolor="#225585" height="1" width="100%"></td>
        </tr>
    </table>
    <p>Best regards<br>icup support</p>
</body>
</html>
