{% extends "ICupPublicSiteBundle:Masters:edit.html.twig" %}
{% trans_default_domain "club" %}

{% block body %}
<h1>{% trans %}FORM.TITLE{% endtrans %}</h1>
<p class="subtitle">{% trans %}FORM.LISTENROLLED.TITLE{% endtrans %}</p>
<p class="subtitle">{{ tournament.name }}</p>
<p class="subtitle">{{ club.name }}</p>
<table>
    <caption>{% trans %}FORM.LISTENROLLED.CAPTION{% endtrans %}</caption>
    <thead>
        <tr>
            <td>{% trans from "messages" %}CLASS{% endtrans %}</td>
            <td colspan="4">{% trans from "messages" %}FEMALE{% endtrans %}</td>
            <td colspan="4">{% trans from "messages" %}MALE{% endtrans %}</td>
        </tr>
    </thead>
    <tboby>
{% for categorykey in classifications %}
    {% set colorclass = cycle(['even','odd'],loop.index) %}
    {% set femalekey = ['F',categorykey]|join %}
    {% set malekey = ['M',categorykey]|join %}
    {% set femalecategorylist = femalekey in categories|keys ? categories[femalekey] : {} %}
    {% set malecategorylist = malekey in categories|keys ? categories[malekey] : {} %}
    {% set size = femalecategorylist|length > malecategorylist|length ? femalecategorylist|length : malecategorylist|length %}
    {% for i in 0..size-1 %}
            <tr class="{{ colorclass }}">
        {% if i == 0 %}
                <td class="classification" rowspan="{{ size }}">{{ categorykey }}</td>
        {% endif %}
        {% if femalecategorylist[i] is defined %}
                <td class="categories">
                    <a href="{{ path('_showcategory', { 'tournament': tournament.key, 'categoryid': femalecategorylist[i].id }) }}">
                        <b>{% trans from "messages" %}CATEGORY{% endtrans %} {{ femalecategorylist[i].name }}</b>
                    </a><br />
                        {{ ['GENDER.',
                            femalecategorylist[i].gender,
                            femalecategorylist[i].classification]|join|transchoice(femalecategorylist[i].age, { '%age%': femalecategorylist[i].age },'tournament') }}
                </td>
                <td>
            {% if enrolled[femalecategorylist[i].id] is defined %}
                    {{ enrolled[femalecategorylist[i].id]|length }}
            {% else %}
                    -
            {% endif %}
                </td>
                <td class="operand">
                    <a href="{{ path('_club_enroll_add', { 'categoryid': femalecategorylist[i].id }) }}">
                    +
                    </a>    
                </td>
                <td class="operand">
            {% if enrolled[femalecategorylist[i].id] is defined %}
                    <a href="{{ path('_club_enroll_del', { 'categoryid': femalecategorylist[i].id }) }}">
                    -
                    </a>    
            {% endif %}
                </td>
        {% else %}
                <td colspan="4" class="categories"></td>
        {% endif %}
        {% if malecategorylist[i] is defined %}
                <td class="categories">
                    <a href="{{ path('_showcategory', { 'tournament': tournament.key, 'categoryid': malecategorylist[i].id }) }}">
                        <b>{% trans from "messages" %}CATEGORY{% endtrans %} {{ malecategorylist[i].name }}</b>
                    </a><br />
                         {{ ['GENDER.',
                            malecategorylist[i].gender,
                            malecategorylist[i].classification]|join|transchoice(malecategorylist[i].age, { '%age%': malecategorylist[i].age },'tournament') }}
                </td>
                <td>
            {% if enrolled[malecategorylist[i].id] is defined %}
                    {{ enrolled[malecategorylist[i].id]|length }}
            {% else %}
                    -
            {% endif %}
                </td>
                <td class="operand">
                    <a href="{{ path('_club_enroll_add', { 'categoryid': malecategorylist[i].id }) }}">
                    +
                    </a>    
                </td>
                <td class="operand">
            {% if enrolled[malecategorylist[i].id] is defined %}
                    <a href="{{ path('_club_enroll_del', { 'categoryid': malecategorylist[i].id }) }}">
                    -
                    </a>    
            {% endif %}
                </td>
        {% else %}
                <td colspan="4" class="categories"></td>
        {% endif %}
            </tr>
    {% endfor %}
{% endfor %}
    </tboby>
    <tfoot>
        <tr>
            <td colspan="9"></td>
        </tr>
    </tfoot>
</table>
{% endblock %}